<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FREEGAME.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{114,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,25}}</string>
                <key>sourceSize</key>
                <string>{114,25}</string>
            </dict>
            <key>HOLDFORAUTO.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{156,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,13}}</string>
                <key>sourceSize</key>
                <string>{156,13}</string>
            </dict>
            <key>HOLDFORAUTO02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,13}}</string>
                <key>sourceSize</key>
                <string>{156,13}</string>
            </dict>
            <key>HOLDFORAUTO_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{156,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,13}}</string>
                <key>sourceSize</key>
                <string>{156,13}</string>
            </dict>
            <key>SPIN.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,51},{121,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,44}}</string>
                <key>sourceSize</key>
                <string>{121,44}</string>
            </dict>
            <key>SPIN02.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,51},{121,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,44}}</string>
                <key>sourceSize</key>
                <string>{121,44}</string>
            </dict>
            <key>SPIN_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,51},{121,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,44}}</string>
                <key>sourceSize</key>
                <string>{121,44}</string>
            </dict>
            <key>STOP.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,51},{136,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,44}}</string>
                <key>sourceSize</key>
                <string>{136,44}</string>
            </dict>
            <key>STOP02.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,51},{136,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,44}}</string>
                <key>sourceSize</key>
                <string>{136,44}</string>
            </dict>
            <key>STOP03.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,51},{136,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,44}}</string>
                <key>sourceSize</key>
                <string>{136,44}</string>
            </dict>
            <key>anxia_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,51},{180,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,44}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>anxia_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,115},{180,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,44}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>anxia_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,115},{180,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,44}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>anxia_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,51},{180,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,44}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>anxia_500.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,115},{180,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,44}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>anxia_fast.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{180,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,44}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>big_back_half.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,594},{720,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,318}}</string>
                <key>sourceSize</key>
                <string>{720,318}</string>
            </dict>
            <key>dating_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,322},{720,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,216}}</string>
                <key>sourceSize</key>
                <string>{720,216}</string>
            </dict>
            <key>freegame_backyellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,51},{110,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,62}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>freegamespin_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,322},{192,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,270}}</string>
                <key>sourceSize</key>
                <string>{192,270}</string>
            </dict>
            <key>header_bg_golden.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{720,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,259}}</string>
                <key>sourceSize</key>
                <string>{720,259}</string>
            </dict>
            <key>icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,209},{125,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,101}}</string>
                <key>sourceSize</key>
                <string>{125,101}</string>
            </dict>
            <key>icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,209},{125,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,101}}</string>
                <key>sourceSize</key>
                <string>{125,101}</string>
            </dict>
            <key>icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,209},{125,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,101}}</string>
                <key>sourceSize</key>
                <string>{125,101}</string>
            </dict>
            <key>icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,209},{125,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,101}}</string>
                <key>sourceSize</key>
                <string>{125,101}</string>
            </dict>
            <key>icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,209},{148,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,111}}</string>
                <key>sourceSize</key>
                <string>{148,111}</string>
            </dict>
            <key>kong13345.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,115},{180,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,44}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>maxbet_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{126,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,92}}</string>
                <key>sourceSize</key>
                <string>{126,92}</string>
            </dict>
            <key>maxbet_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,115},{126,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,92}}</string>
                <key>sourceSize</key>
                <string>{126,92}</string>
            </dict>
            <key>maxbet_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,115},{126,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,92}}</string>
                <key>sourceSize</key>
                <string>{126,92}</string>
            </dict>
            <key>minus_h01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,2},{108,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,47}}</string>
                <key>sourceSize</key>
                <string>{108,47}</string>
            </dict>
            <key>minus_h02.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,2},{108,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,47}}</string>
                <key>sourceSize</key>
                <string>{108,47}</string>
            </dict>
            <key>minus_h03.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{108,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,47}}</string>
                <key>sourceSize</key>
                <string>{108,47}</string>
            </dict>
            <key>plus_h01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,51},{108,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,47}}</string>
                <key>sourceSize</key>
                <string>{108,47}</string>
            </dict>
            <key>plus_h02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,2},{108,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,47}}</string>
                <key>sourceSize</key>
                <string>{108,47}</string>
            </dict>
            <key>plus_h03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,2},{108,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,47}}</string>
                <key>sourceSize</key>
                <string>{108,47}</string>
            </dict>
            <key>spin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,209},{264,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,88}}</string>
                <key>sourceSize</key>
                <string>{264,88}</string>
            </dict>
            <key>spin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,209},{264,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,88}}</string>
                <key>sourceSize</key>
                <string>{264,88}</string>
            </dict>
            <key>spin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{264,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,88}}</string>
                <key>sourceSize</key>
                <string>{264,88}</string>
            </dict>
            <key>totalbetzit.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{108,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,25}}</string>
                <key>sourceSize</key>
                <string>{108,25}</string>
            </dict>
            <key>totalwin.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{110,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,25}}</string>
                <key>sourceSize</key>
                <string>{110,25}</string>
            </dict>
            <key>unlock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,322},{261,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,202}}</string>
                <key>sourceSize</key>
                <string>{261,202}</string>
            </dict>
            <key>wnzi_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,115},{218,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,41}}</string>
                <key>sourceSize</key>
                <string>{218,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>footer.png</string>
            <key>size</key>
            <string>{1447,914}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12d528475caf658c9d4d25dc0d8ae258$</string>
            <key>textureFileName</key>
            <string>footer.png</string>
        </dict>
    </dict>
</plist>
