<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{82,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,81}}</string>
                <key>sourceSize</key>
                <string>{82,81}</string>
            </dict>
            <key>collect.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{327,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,90}}</string>
                <key>sourceSize</key>
                <string>{327,90}</string>
            </dict>
            <key>free_collect.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,2},{327,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,90}}</string>
                <key>sourceSize</key>
                <string>{327,90}</string>
            </dict>
            <key>freebonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{536,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,83}}</string>
                <key>sourceSize</key>
                <string>{536,83}</string>
            </dict>
            <key>freecoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,94},{516,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,83}}</string>
                <key>sourceSize</key>
                <string>{516,83}</string>
            </dict>
            <key>freecoin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{569,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{569,36}}</string>
                <key>sourceSize</key>
                <string>{569,36}</string>
            </dict>
            <key>freecoin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,179},{407,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,27}}</string>
                <key>sourceSize</key>
                <string>{407,27}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{469,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,79}}</string>
                <key>sourceSize</key>
                <string>{469,79}</string>
            </dict>
            <key>kuang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{982,612}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{982,612}}</string>
                <key>sourceSize</key>
                <string>{982,612}</string>
            </dict>
            <key>text_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{513,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{513,31}}</string>
                <key>sourceSize</key>
                <string>{513,31}</string>
            </dict>
            <key>text_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,912},{502,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,28}}</string>
                <key>sourceSize</key>
                <string>{502,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ad_reward.png</string>
            <key>size</key>
            <string>{1058,945}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78aaf9ae69edb158348e3e1eab163277$</string>
            <key>textureFileName</key>
            <string>ad_reward.png</string>
        </dict>
    </dict>
</plist>
