<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TIPS.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{97,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,42}}</string>
                <key>sourceSize</key>
                <string>{97,42}</string>
            </dict>
            <key>bg_v.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{706,529}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{706,529}}</string>
                <key>sourceSize</key>
                <string>{706,529}</string>
            </dict>
            <key>delete_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,73}}</string>
                <key>sourceSize</key>
                <string>{70,73}</string>
            </dict>
            <key>font_Fb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1081},{708,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{708,225}}</string>
                <key>sourceSize</key>
                <string>{708,225}</string>
            </dict>
            <key>font_ad.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{685,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{685,225}}</string>
                <key>sourceSize</key>
                <string>{685,225}</string>
            </dict>
            <key>font_ad_v.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{594,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{594,222}}</string>
                <key>sourceSize</key>
                <string>{594,222}</string>
            </dict>
            <key>ok_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{375,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,95}}</string>
                <key>sourceSize</key>
                <string>{375,95}</string>
            </dict>
            <key>prize_wholebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1308},{804,529}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{804,529}}</string>
                <key>sourceSize</key>
                <string>{804,529}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>inspect.png</string>
            <key>size</key>
            <string>{808,1839}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ca0dc73f9f5ffce683117c30cb40b8b$</string>
            <key>textureFileName</key>
            <string>inspect.png</string>
        </dict>
    </dict>
</plist>
