<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>angle</key>
    <real>0</real>
    <key>angleVariance</key>
    <real>0</real>
    <key>blendFuncDestination</key>
    <integer>1</integer>
    <key>blendFuncSource</key>
    <integer>1</integer>
    <key>duration</key>
    <real>-1</real>
    <key>emitterType</key>
    <integer>0</integer>
    <key>emissionRate</key>
    <real>142.8571</real>
    <key>finishColorAlpha</key>
    <real>1</real>
    <key>finishColorBlue</key>
    <real>1</real>
    <key>finishColorGreen</key>
    <real>0.1686275</real>
    <key>finishColorRed</key>
    <real>0.627451</real>
    <key>finishColorVarianceAlpha</key>
    <real>0</real>
    <key>finishColorVarianceBlue</key>
    <real>0</real>
    <key>finishColorVarianceGreen</key>
    <real>0</real>
    <key>finishColorVarianceRed</key>
    <real>0</real>
    <key>rotationStart</key>
    <real>117.5</real>
    <key>rotationStartVariance</key>
    <real>108.1</real>
    <key>rotationEnd</key>
    <real>213.8</real>
    <key>rotationEndVariance</key>
    <real>103.4</real>
    <key>finishParticleSize</key>
    <real>5</real>
    <key>finishParticleSizeVariance</key>
    <real>8</real>
    <key>gravityx</key>
    <real>0</real>
    <key>gravityy</key>
    <real>0</real>
    <key>maxParticles</key>
    <real>100</real>
    <key>maxRadius</key>
    <real>0</real>
    <key>maxRadiusVariance</key>
    <real>0</real>
    <key>minRadius</key>
    <real>0</real>
    <key>minRadiusVariance</key>
    <real>0</real>
    <key>particleLifespan</key>
    <real>0.7</real>
    <key>particleLifespanVariance</key>
    <real>0</real>
    <key>radialAcceleration</key>
    <real>0</real>
    <key>radialAccelVariance</key>
    <real>0</real>
    <key>rotatePerSecond</key>
    <real>0</real>
    <key>rotatePerSecondVariance</key>
    <real>0</real>
    <key>sourcePositionVariancex</key>
    <real>20</real>
    <key>sourcePositionVariancey</key>
    <real>20</real>
    <key>speed</key>
    <real>0</real>
    <key>speedVariance</key>
    <real>0</real>
    <key>startColorAlpha</key>
    <real>1</real>
    <key>startColorBlue</key>
    <real>0</real>
    <key>startColorGreen</key>
    <real>0.6196079</real>
    <key>startColorRed</key>
    <real>1</real>
    <key>startColorVarianceAlpha</key>
    <real>0</real>
    <key>startColorVarianceBlue</key>
    <real>0</real>
    <key>startColorVarianceGreen</key>
    <real>0.4431373</real>
    <key>startColorVarianceRed</key>
    <real>0</real>
    <key>startParticleSize</key>
    <real>30</real>
    <key>startParticleSizeVariance</key>
    <real>10</real>
    <key>tangentialAcceleration</key>
    <real>0</real>
    <key>tangentialAccelVariance</key>
    <real>0</real>
    <key>textureFileName</key>
    <string>CFXM_T_Foam.png</string>
    <key>textureImageData</key>
    <string>eJzrDPBz5+WS4mJgYOD19HAJAtIOIMzBBiRXZRbeA1IsxU6eIRxAUMOR0gHkcxZ4RBYD1V8HYUYnjdkVQEHJEteIkuD8tJLyxKJUhvLycr3MvOzi5MSCVL38ovTZ72ykGBgYn3i6OIZUzHk7y7BvsYGE2/6bkvIMS31Yg7T4Jhx7vqB89jXxG8YBTwRMYpR6v15fF3RxqecJXpurPVt2Hz6jcein0en/KuYsM5erO6scFm5oYf3crXvgmerzJ7PPsvleZmDYte7wx4ozlTtnn9jFNGuZY+Q0jdOfbI8s3vgj+oHkgfcxk+f7qa+5nh2zPrwktv3000mvg8w/s/wVjzCTatA94Ma8gfVGBsM2BmneA2IJixlvMOXUhTBk6zpxcCgeiLK+vSczSyJ5UrFep4fQxCdzvI/NOPm5uF/AqUq5xeD6nsv2Vs8v3bd4Pk3YweUfp4LSFoZrt0ScPBRbUtbOTT23prqpuNhCZsPdvPS5ny+3P6jb///axvnnnnyq2NKe0LcwOimHEZcTTBiiG3rZErg3LMzrXBumfaWUl6HD8FGN3f27jbuYXu1yCxTR6Hpke2Rv5B9dB16B5CMWfRLHBQ3duprfcW7CZtbZlIZVqx7sbf8uFxp693JmWI9hwTlHFwWlgnMHJT4ft5TfZ/793vJtucG3t52s9q/vr3/945X18v//xG68LZsvN5vnwnfbtsQDBjwvftv13212iF9medzc7utj72cy8bXPl/xmBHqkm/8DVy5fvV3015bVwETB4Onq57LOKaEJAENCB3Y=</string>
  </dict>
</plist>