<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>164_congratulations_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2},{206,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,42}}</string>
                <key>sourceSize</key>
                <string>{206,42}</string>
            </dict>
            <key>164_congratulations_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{260,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,38}}</string>
                <key>sourceSize</key>
                <string>{260,38}</string>
            </dict>
            <key>164_congratulations_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,356},{145,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,18}}</string>
                <key>sourceSize</key>
                <string>{145,18}</string>
            </dict>
            <key>164_congratulations_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,292},{371,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,41}}</string>
                <key>sourceSize</key>
                <string>{371,41}</string>
            </dict>
            <key>164_congratulations_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,335},{310,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,42}}</string>
                <key>sourceSize</key>
                <string>{310,42}</string>
            </dict>
            <key>164_congratulations_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,376},{150,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,18}}</string>
                <key>sourceSize</key>
                <string>{150,18}</string>
            </dict>
            <key>164_congratulations_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{294,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,20}}</string>
                <key>sourceSize</key>
                <string>{294,20}</string>
            </dict>
            <key>164_congratulations_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,322}}</string>
                <key>sourceSize</key>
                <string>{288,322}</string>
            </dict>
            <key>164_congratulations_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,192},{233,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,115}}</string>
                <key>sourceSize</key>
                <string>{233,115}</string>
            </dict>
            <key>164_congratulations_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,192},{426,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,43}}</string>
                <key>sourceSize</key>
                <string>{426,43}</string>
            </dict>
            <key>164_congratulations_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,309},{292,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,23}}</string>
                <key>sourceSize</key>
                <string>{292,23}</string>
            </dict>
            <key>164_congratulations_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,379},{221,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,15}}</string>
                <key>sourceSize</key>
                <string>{221,15}</string>
            </dict>
            <key>164_congratulations_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,334},{212,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,20}}</string>
                <key>sourceSize</key>
                <string>{212,20}</string>
            </dict>
            <key>164_congratulations_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,382},{123,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,12}}</string>
                <key>sourceSize</key>
                <string>{123,12}</string>
            </dict>
            <key>164_congratulations_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,382},{117,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,12}}</string>
                <key>sourceSize</key>
                <string>{117,12}</string>
            </dict>
            <key>164_congratulations_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,356},{188,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,21}}</string>
                <key>sourceSize</key>
                <string>{188,21}</string>
            </dict>
            <key>164_congratulations_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,334},{70,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,58}}</string>
                <key>sourceSize</key>
                <string>{70,58}</string>
            </dict>
            <key>164_congratulations_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,379},{319,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,1}}</string>
                <key>sourceSize</key>
                <string>{319,1}</string>
            </dict>
            <key>164_congratulations_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,2},{159,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,148}}</string>
                <key>sourceSize</key>
                <string>{159,148}</string>
            </dict>
            <key>164_congratulations_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,136},{495,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{495,28}}</string>
                <key>sourceSize</key>
                <string>{495,28}</string>
            </dict>
            <key>164_congratulations_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,166},{524,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,24}}</string>
                <key>sourceSize</key>
                <string>{524,24}</string>
            </dict>
            <key>164_congratulations_4_cnt12.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,260},{44,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>164_congratulations_4_cnt24.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,210},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>164_wheelbonub_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{501,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,93}}</string>
                <key>sourceSize</key>
                <string>{501,93}</string>
            </dict>
            <key>164_wheelbonub_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,237},{405,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,53}}</string>
                <key>sourceSize</key>
                <string>{405,53}</string>
            </dict>
            <key>164_wheelbonub_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,97},{492,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,37}}</string>
                <key>sourceSize</key>
                <string>{492,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dialog_wheel.png</string>
            <key>size</key>
            <string>{1022,396}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:371298c7a4e334509d66eb238c7c519c:1/1$</string>
            <key>textureFileName</key>
            <string>dialog_wheel.png</string>
        </dict>
    </dict>
</plist>
