<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jackpot_popup_btn01.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,475},{248,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,76}}</string>
                <key>sourceSize</key>
                <string>{248,76}</string>
            </dict>
            <key>jackpot_popup_btn02.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,397},{248,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,76}}</string>
                <key>sourceSize</key>
                <string>{248,76}</string>
            </dict>
            <key>jackpot_popup_fram01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{529,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{529,241}}</string>
                <key>sourceSize</key>
                <string>{529,241}</string>
            </dict>
            <key>jackpot_popup_fram02.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,2},{275,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,167}}</string>
                <key>sourceSize</key>
                <string>{275,167}</string>
            </dict>
            <key>jackpot_popup_jp01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,629},{323,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,94}}</string>
                <key>sourceSize</key>
                <string>{323,94}</string>
            </dict>
            <key>jackpot_popup_jp02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,533},{323,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,94}}</string>
                <key>sourceSize</key>
                <string>{323,94}</string>
            </dict>
            <key>jackpot_popup_jp03.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,303},{249,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{249,92}}</string>
                <key>sourceSize</key>
                <string>{323,94}</string>
            </dict>
            <key>jackpot_popup_jp04.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{299,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{299,94}}</string>
                <key>sourceSize</key>
                <string>{323,94}</string>
            </dict>
            <key>jackpot_popup_jp05.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,475},{207,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,1},{207,92}}</string>
                <key>sourceSize</key>
                <string>{323,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dialog_winjp.png</string>
            <key>size</key>
            <string>{512,725}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d746bd06dcd3394285ea4d3b1f0a1f0b:1/1$</string>
            <key>textureFileName</key>
            <string>dialog_winjp.png</string>
        </dict>
    </dict>
</plist>
