<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme164_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,264},{1,1}}</string>
                <key>offset</key>
                <string>{-4.5,4.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>theme164_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{163,130}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,130}}</string>
                <key>sourceSize</key>
                <string>{163,138}</string>
            </dict>
            <key>theme164_s_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,675},{86,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,14},{86,82}}</string>
                <key>sourceSize</key>
                <string>{164,110}</string>
            </dict>
            <key>theme164_s_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{175,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,127}}</string>
                <key>sourceSize</key>
                <string>{175,127}</string>
            </dict>
            <key>theme164_s_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{175,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,131}}</string>
                <key>sourceSize</key>
                <string>{175,131}</string>
            </dict>
            <key>theme164_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,470},{163,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,109}}</string>
                <key>sourceSize</key>
                <string>{163,109}</string>
            </dict>
            <key>theme164_s_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{166,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,112}}</string>
                <key>sourceSize</key>
                <string>{166,112}</string>
            </dict>
            <key>theme164_s_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,341},{166,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,110}}</string>
                <key>sourceSize</key>
                <string>{166,110}</string>
            </dict>
            <key>theme164_s_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,116},{166,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,111}}</string>
                <key>sourceSize</key>
                <string>{166,111}</string>
            </dict>
            <key>theme164_s_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{166,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,110}}</string>
                <key>sourceSize</key>
                <string>{166,110}</string>
            </dict>
            <key>theme164_s_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{166,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,110}}</string>
                <key>sourceSize</key>
                <string>{166,110}</string>
            </dict>
            <key>theme164_s_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,356},{164,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,112}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
            <key>theme164_s_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{164,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,112}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
            <key>theme164_s_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{164,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,112}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
            <key>theme164_s_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,229},{166,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,110}}</string>
                <key>sourceSize</key>
                <string>{166,110}</string>
            </dict>
            <key>theme164_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,245},{163,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,109}}</string>
                <key>sourceSize</key>
                <string>{163,109}</string>
            </dict>
            <key>theme164_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,134},{163,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,109}}</string>
                <key>sourceSize</key>
                <string>{163,109}</string>
            </dict>
            <key>theme164_s_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,581},{157,109}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{157,109}}</string>
                <key>sourceSize</key>
                <string>{163,109}</string>
            </dict>
            <key>theme164_s_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,564},{129,109}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{129,109}}</string>
                <key>sourceSize</key>
                <string>{163,109}</string>
            </dict>
            <key>theme164_s_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,453},{139,109}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{139,109}}</string>
                <key>sourceSize</key>
                <string>{163,109}</string>
            </dict>
            <key>theme164_s_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,692},{98,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,16},{98,76}}</string>
                <key>sourceSize</key>
                <string>{164,110}</string>
            </dict>
            <key>theme164_s_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,675},{90,80}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,16},{90,80}}</string>
                <key>sourceSize</key>
                <string>{164,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>symbol.png</string>
            <key>size</key>
            <string>{512,771}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d24eec5059fcc4994f547d7ccd29b436:1/1$</string>
            <key>textureFileName</key>
            <string>symbol.png</string>
        </dict>
    </dict>
</plist>
