<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme194_free_popup_butten1.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,75},{382,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,71}}</string>
                <key>sourceSize</key>
                <string>{382,71}</string>
            </dict>
            <key>theme194_free_popup_butten2.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{382,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,71}}</string>
                <key>sourceSize</key>
                <string>{382,71}</string>
            </dict>
            <key>theme194_free_popup_collect_butten1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,160},{384,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,68}}</string>
                <key>sourceSize</key>
                <string>{384,68}</string>
            </dict>
            <key>theme194_free_popup_collect_butten2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{384,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,68}}</string>
                <key>sourceSize</key>
                <string>{384,68}</string>
            </dict>
            <key>theme194_jp_popup_butten1.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,81},{269,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,77}}</string>
                <key>sourceSize</key>
                <string>{269,77}</string>
            </dict>
            <key>theme194_jp_popup_butten2.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,2},{269,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,77}}</string>
                <key>sourceSize</key>
                <string>{269,77}</string>
            </dict>
            <key>theme194_wheel_popup_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{281,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,80}}</string>
                <key>sourceSize</key>
                <string>{281,80}</string>
            </dict>
            <key>theme194_wheel_popup_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{281,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,80}}</string>
                <key>sourceSize</key>
                <string>{281,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dialog.png</string>
            <key>size</key>
            <string>{940,236}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:775925ce2b7e56e293d2839275a0e061:1/1$</string>
            <key>textureFileName</key>
            <string>dialog.png</string>
        </dict>
    </dict>
</plist>
