<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme194_bg_map01.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{530,351}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,351}}</string>
                <key>sourceSize</key>
                <string>{530,351}</string>
            </dict>
            <key>theme194_bg_map02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{530,447}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,447}}</string>
                <key>sourceSize</key>
                <string>{530,447}</string>
            </dict>
            <key>theme194_bg_map03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{530,514}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,514}}</string>
                <key>sourceSize</key>
                <string>{530,514}</string>
            </dict>
            <key>theme194_map_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,1773},{157,152}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,152}}</string>
                <key>sourceSize</key>
                <string>{157,156}</string>
            </dict>
            <key>theme194_map_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,1773},{159,151}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,151}}</string>
                <key>sourceSize</key>
                <string>{159,155}</string>
            </dict>
            <key>theme194_map_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,367},{120,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,155}}</string>
                <key>sourceSize</key>
                <string>{120,155}</string>
            </dict>
            <key>theme194_map_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,259},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>theme194_map_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,367},{308,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,308}}</string>
                <key>sourceSize</key>
                <string>{308,308}</string>
            </dict>
            <key>theme194_map_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,524},{103,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,104}}</string>
                <key>sourceSize</key>
                <string>{103,104}</string>
            </dict>
            <key>theme194_map_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,1851},{59,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,42}}</string>
                <key>sourceSize</key>
                <string>{59,42}</string>
            </dict>
            <key>theme194_map_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,2},{47,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,42}}</string>
                <key>sourceSize</key>
                <string>{47,42}</string>
            </dict>
            <key>theme194_map_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,630},{59,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,42}}</string>
                <key>sourceSize</key>
                <string>{59,42}</string>
            </dict>
            <key>theme194_map_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1851},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>theme194_map_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,630},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>theme194_map_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,1851},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>theme194_map_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,1457},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>theme194_map_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,785},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>theme194_map_butten1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,677},{337,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,106}}</string>
                <key>sourceSize</key>
                <string>{337,106}</string>
            </dict>
            <key>theme194_map_butten2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,259},{337,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,106}}</string>
                <key>sourceSize</key>
                <string>{337,106}</string>
            </dict>
            <key>theme194_map_guan100.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,355},{255,487}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,487}}</string>
                <key>sourceSize</key>
                <string>{255,487}</string>
            </dict>
            <key>theme194_map_guan12_40_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,1101},{255,412}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,412}}</string>
                <key>sourceSize</key>
                <string>{255,412}</string>
            </dict>
            <key>theme194_map_guan22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,1121},{255,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,334}}</string>
                <key>sourceSize</key>
                <string>{255,334}</string>
            </dict>
            <key>theme194_map_guan25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,785},{255,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,334}}</string>
                <key>sourceSize</key>
                <string>{255,334}</string>
            </dict>
            <key>theme194_map_guan31_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1456},{255,487}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,487}}</string>
                <key>sourceSize</key>
                <string>{255,487}</string>
            </dict>
            <key>theme194_map_guan35.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1515},{255,412}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,412}}</string>
                <key>sourceSize</key>
                <string>{255,412}</string>
            </dict>
            <key>theme194_map_guan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,1437},{255,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,334}}</string>
                <key>sourceSize</key>
                <string>{255,334}</string>
            </dict>
            <key>theme194_map_guan44_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1101},{255,412}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,412}}</string>
                <key>sourceSize</key>
                <string>{255,412}</string>
            </dict>
            <key>theme194_map_guan48.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,967},{255,487}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,487}}</string>
                <key>sourceSize</key>
                <string>{255,487}</string>
            </dict>
            <key>theme194_map_guan53.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,355},{255,487}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,487}}</string>
                <key>sourceSize</key>
                <string>{255,487}</string>
            </dict>
            <key>theme194_map_guan56.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,1101},{255,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,334}}</string>
                <key>sourceSize</key>
                <string>{255,334}</string>
            </dict>
            <key>theme194_map_guan66_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,844},{255,412}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,412}}</string>
                <key>sourceSize</key>
                <string>{255,412}</string>
            </dict>
            <key>theme194_map_guan69.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,844},{255,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,334}}</string>
                <key>sourceSize</key>
                <string>{255,334}</string>
            </dict>
            <key>theme194_map_guan75.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,2},{255,412}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,412}}</string>
                <key>sourceSize</key>
                <string>{255,412}</string>
            </dict>
            <key>theme194_map_guan84.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1456},{255,487}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,487}}</string>
                <key>sourceSize</key>
                <string>{255,487}</string>
            </dict>
            <key>theme194_map_guan9.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,1515},{255,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,334}}</string>
                <key>sourceSize</key>
                <string>{255,334}</string>
            </dict>
            <key>theme194_map_guan92.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,967},{255,487}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,487}}</string>
                <key>sourceSize</key>
                <string>{255,487}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map.png</string>
            <key>size</key>
            <string>{1545,1945}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3f1b591bf9883a7b5c006bfb0b99851:1/1$</string>
            <key>textureFileName</key>
            <string>map.png</string>
        </dict>
    </dict>
</plist>
