<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme194_bg_mapwheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,655},{530,780}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,780}}</string>
                <key>sourceSize</key>
                <string>{530,780}</string>
            </dict>
            <key>theme194_map_wheel_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,613},{609,609}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{609,609}}</string>
                <key>sourceSize</key>
                <string>{609,609}</string>
            </dict>
            <key>theme194_map_wheel_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,2},{609,609}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{609,609}}</string>
                <key>sourceSize</key>
                <string>{609,609}</string>
            </dict>
            <key>theme194_map_wheel_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1005},{203,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,136}}</string>
                <key>sourceSize</key>
                <string>{203,136}</string>
            </dict>
            <key>theme194_map_wheel_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,830},{436,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,173}}</string>
                <key>sourceSize</key>
                <string>{436,173}</string>
            </dict>
            <key>theme194_map_wheel_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,655},{436,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,173}}</string>
                <key>sourceSize</key>
                <string>{436,173}</string>
            </dict>
            <key>theme194_map_wheel_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,1005},{166,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,165}}</string>
                <key>sourceSize</key>
                <string>{166,165}</string>
            </dict>
            <key>theme194_map_wheel_07_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1005},{166,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,165}}</string>
                <key>sourceSize</key>
                <string>{166,165}</string>
            </dict>
            <key>theme194_map_wheel_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,2},{651,651}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{651,651}}</string>
                <key>sourceSize</key>
                <string>{651,651}</string>
            </dict>
            <key>theme194_map_wheel_09_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{651,651}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{651,651}}</string>
                <key>sourceSize</key>
                <string>{651,651}</string>
            </dict>
            <key>theme194_map_wheel_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1919,1024},{47,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,132}}</string>
                <key>sourceSize</key>
                <string>{49,132}</string>
            </dict>
            <key>theme194_map_wheel_10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1919,541},{101,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,240}}</string>
                <key>sourceSize</key>
                <string>{101,240}</string>
            </dict>
            <key>theme194_map_wheel_10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1919,2},{103,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,268}}</string>
                <key>sourceSize</key>
                <string>{103,268}</string>
            </dict>
            <key>theme194_map_wheel_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1187},{325,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,29}}</string>
                <key>sourceSize</key>
                <string>{325,29}</string>
            </dict>
            <key>theme194_wheel_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1919,783},{101,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,239}}</string>
                <key>sourceSize</key>
                <string>{101,239}</string>
            </dict>
            <key>theme194_wheel_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1919,272},{102,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,267}}</string>
                <key>sourceSize</key>
                <string>{102,267}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_wheel.png</string>
            <key>size</key>
            <string>{2024,1224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22e9b3304951919bcdfdb24a02f58067:1/1$</string>
            <key>textureFileName</key>
            <string>map_wheel.png</string>
        </dict>
    </dict>
</plist>
