<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme194_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,286},{1,1}}</string>
                <key>offset</key>
                <string>{-4.5,4.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>theme194_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{124,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,78}}</string>
                <key>sourceSize</key>
                <string>{124,78}</string>
            </dict>
            <key>theme194_s_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1274},{38,65}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{38,65}}</string>
                <key>sourceSize</key>
                <string>{38,71}</string>
            </dict>
            <key>theme194_s_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1087},{85,64}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{85,64}}</string>
                <key>sourceSize</key>
                <string>{85,70}</string>
            </dict>
            <key>theme194_s_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{152,103}}</string>
                <key>sourceSize</key>
                <string>{172,117}</string>
            </dict>
            <key>theme194_s_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{138,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,92}}</string>
                <key>sourceSize</key>
                <string>{138,92}</string>
            </dict>
            <key>theme194_s_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{134,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,76}}</string>
                <key>sourceSize</key>
                <string>{134,76}</string>
            </dict>
            <key>theme194_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{128,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,103}}</string>
                <key>sourceSize</key>
                <string>{128,103}</string>
            </dict>
            <key>theme194_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{118,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,83}}</string>
                <key>sourceSize</key>
                <string>{118,83}</string>
            </dict>
            <key>theme194_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,927},{102,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,84}}</string>
                <key>sourceSize</key>
                <string>{102,84}</string>
            </dict>
            <key>theme194_s_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,808},{117,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,77}}</string>
                <key>sourceSize</key>
                <string>{117,77}</string>
            </dict>
            <key>theme194_s_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1013},{72,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,90}}</string>
                <key>sourceSize</key>
                <string>{72,90}</string>
            </dict>
            <key>theme194_s_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1153},{64,64}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,70}</string>
            </dict>
            <key>theme194_s_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1274},{56,64}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,70}</string>
            </dict>
            <key>theme194_s_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1219},{53,75}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{53,75}}</string>
                <key>sourceSize</key>
                <string>{53,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>symbol.png</string>
            <key>size</key>
            <string>{107,1341}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18d30b89df67f746a0e27c09ca520382:1/1$</string>
            <key>textureFileName</key>
            <string>symbol.png</string>
        </dict>
    </dict>
</plist>
