<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paytable_button1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,991},{295,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,73}}</string>
                <key>sourceSize</key>
                <string>{295,73}</string>
            </dict>
            <key>paytable_button1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1847,1176},{295,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,72}}</string>
                <key>sourceSize</key>
                <string>{295,72}</string>
            </dict>
            <key>paytable_buttonleft_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1980,75},{47,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,71}}</string>
                <key>sourceSize</key>
                <string>{47,71}</string>
            </dict>
            <key>paytable_buttonleft_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1980,2},{47,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,71}}</string>
                <key>sourceSize</key>
                <string>{47,71}</string>
            </dict>
            <key>theme231_page1.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,799},{990,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{990,375}}</string>
                <key>sourceSize</key>
                <string>{990,375}</string>
            </dict>
            <key>theme231_page2.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{992,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{992,404}}</string>
                <key>sourceSize</key>
                <string>{992,404}</string>
            </dict>
            <key>theme231_page3.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{932,364}}</string>
                <key>offset</key>
                <string>{-18,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{932,364}}</string>
                <key>sourceSize</key>
                <string>{968,374}</string>
            </dict>
            <key>theme231_page4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1084},{982,407}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{982,407}}</string>
                <key>sourceSize</key>
                <string>{982,407}</string>
            </dict>
            <key>theme231_page5.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,408},{990,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{990,389}}</string>
                <key>sourceSize</key>
                <string>{990,389}</string>
            </dict>
            <key>theme231_page6.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,1176},{859,336}}</string>
                <key>offset</key>
                <string>{-48,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{859,336}}</string>
                <key>sourceSize</key>
                <string>{955,336}</string>
            </dict>
            <key>theme231_paytable_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1080,610}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1080,610}}</string>
                <key>sourceSize</key>
                <string>{1080,610}</string>
            </dict>
            <key>theme231_paytable_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1921,1176},{293,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,53}}</string>
                <key>sourceSize</key>
                <string>{293,53}</string>
            </dict>
            <key>theme231_paytable_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,936},{136,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,53}}</string>
                <key>sourceSize</key>
                <string>{136,53}</string>
            </dict>
            <key>theme231_paytable_head3.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,936},{307,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,53}}</string>
                <key>sourceSize</key>
                <string>{307,53}</string>
            </dict>
            <key>theme231_paytable_head4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1978,408},{538,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,53}}</string>
                <key>sourceSize</key>
                <string>{538,53}</string>
            </dict>
            <key>theme231_paytable_head5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1978,948},{493,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,53}}</string>
                <key>sourceSize</key>
                <string>{493,53}</string>
            </dict>
            <key>theme231_paytable_head6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1978,948},{493,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,53}}</string>
                <key>sourceSize</key>
                <string>{493,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>paytable_theme231.png</string>
            <key>size</key>
            <string>{2033,1514}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcdeb2db79b6ccab3796693e451136ea:1/1$</string>
            <key>textureFileName</key>
            <string>paytable_theme231.png</string>
        </dict>
    </dict>
</plist>
