<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TIPS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,34}}</string>
                <key>sourceSize</key>
                <string>{92,34}</string>
            </dict>
            <key>bg_v.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{706,529}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{706,529}}</string>
                <key>sourceSize</key>
                <string>{706,529}</string>
            </dict>
            <key>delete_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,533},{63,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,68}}</string>
                <key>sourceSize</key>
                <string>{63,68}</string>
            </dict>
            <key>font_Fb.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,533},{708,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{708,225}}</string>
                <key>sourceSize</key>
                <string>{708,225}</string>
            </dict>
            <key>font_ad.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{634,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{634,238}}</string>
                <key>sourceSize</key>
                <string>{634,238}</string>
            </dict>
            <key>font_ad_v.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1000},{594,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{594,222}}</string>
                <key>sourceSize</key>
                <string>{594,222}</string>
            </dict>
            <key>ok_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1224},{314,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,83}}</string>
                <key>sourceSize</key>
                <string>{314,83}</string>
            </dict>
            <key>prize_wholebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1309},{822,548}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{822,548}}</string>
                <key>sourceSize</key>
                <string>{822,548}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>inspect.png</string>
            <key>size</key>
            <string>{826,1859}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1f57e0dcec7fb5225944dc36ff2ca9a$</string>
            <key>textureFileName</key>
            <string>inspect.png</string>
        </dict>
    </dict>
</plist>
