<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme325_b_pro_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,743},{1011,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1011,35}}</string>
                <key>sourceSize</key>
                <string>{1011,35}</string>
            </dict>
            <key>theme325_b_pro_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{940,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{940,20}}</string>
                <key>sourceSize</key>
                <string>{940,20}</string>
            </dict>
            <key>theme325_b_pro_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,740},{83,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,73}}</string>
                <key>sourceSize</key>
                <string>{83,73}</string>
            </dict>
            <key>theme325_b_pro_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,724},{84,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,61}}</string>
                <key>sourceSize</key>
                <string>{84,61}</string>
            </dict>
            <key>theme325_b_reel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,494},{150,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,315}}</string>
                <key>sourceSize</key>
                <string>{150,315}</string>
            </dict>
            <key>theme325_b_reel_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,356},{136,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,372}}</string>
                <key>sourceSize</key>
                <string>{136,372}</string>
            </dict>
            <key>theme325_b_reel_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1157,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1157,97}}</string>
                <key>sourceSize</key>
                <string>{1157,97}</string>
            </dict>
            <key>theme325_b_reel_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,2},{785,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{785,144}}</string>
                <key>sourceSize</key>
                <string>{785,144}</string>
            </dict>
            <key>theme325_b_reel_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,423},{3,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,315}}</string>
                <key>sourceSize</key>
                <string>{3,315}</string>
            </dict>
            <key>theme325_b_reel_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,61},{18,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,57}}</string>
                <key>sourceSize</key>
                <string>{18,57}</string>
            </dict>
            <key>theme325_b_reel_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,2},{18,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,57}}</string>
                <key>sourceSize</key>
                <string>{18,57}</string>
            </dict>
            <key>theme325_b_reel_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,148},{275,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{275,333}}</string>
                <key>sourceSize</key>
                <string>{283,333}</string>
            </dict>
            <key>theme325_jp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,529},{947,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{947,212}}</string>
                <key>sourceSize</key>
                <string>{947,212}</string>
            </dict>
            <key>theme325_jp_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,483},{257,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,187}}</string>
                <key>sourceSize</key>
                <string>{257,187}</string>
            </dict>
            <key>theme325_jp_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,423},{253,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,187}}</string>
                <key>sourceSize</key>
                <string>{253,187}</string>
            </dict>
            <key>theme325_jp_grey1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{562,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,23}}</string>
                <key>sourceSize</key>
                <string>{562,23}</string>
            </dict>
            <key>theme325_jp_grey2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,827},{535,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{535,19}}</string>
                <key>sourceSize</key>
                <string>{535,19}</string>
            </dict>
            <key>theme325_jp_grey3.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,827},{517,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{517,19}}</string>
                <key>sourceSize</key>
                <string>{517,19}</string>
            </dict>
            <key>theme325_jp_grey4.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,802},{502,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,19}}</string>
                <key>sourceSize</key>
                <string>{502,19}</string>
            </dict>
            <key>theme325_jp_grey5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1333,719},{491,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,19}}</string>
                <key>sourceSize</key>
                <string>{491,19}</string>
            </dict>
            <key>theme325_jp_grey6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,646},{386,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,71}}</string>
                <key>sourceSize</key>
                <string>{386,71}</string>
            </dict>
            <key>theme325_jp_grey7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,148},{484,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,71}}</string>
                <key>sourceSize</key>
                <string>{484,71}</string>
            </dict>
            <key>theme325_jp_grey8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,672},{230,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,144}}</string>
                <key>sourceSize</key>
                <string>{230,144}</string>
            </dict>
            <key>theme325_moon_reel_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,221},{133,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,417}}</string>
                <key>sourceSize</key>
                <string>{133,417}</string>
            </dict>
            <key>theme325_moon_reel_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,522},{200,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,148}}</string>
                <key>sourceSize</key>
                <string>{200,148}</string>
            </dict>
            <key>theme325_moon_reel_jp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{947,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{947,212}}</string>
                <key>sourceSize</key>
                <string>{947,212}</string>
            </dict>
            <key>theme325_payout_img01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,740},{275,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,86}}</string>
                <key>sourceSize</key>
                <string>{275,86}</string>
            </dict>
            <key>theme325_payout_img02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1333,740},{275,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,86}}</string>
                <key>sourceSize</key>
                <string>{275,86}</string>
            </dict>
            <key>theme325_sun_reel_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,101},{138,419}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,419}}</string>
                <key>sourceSize</key>
                <string>{138,419}</string>
            </dict>
            <key>theme325_sun_reel_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1787,221},{200,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,179}}</string>
                <key>sourceSize</key>
                <string>{200,179}</string>
            </dict>
            <key>theme325_sun_reel_jp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{947,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{947,212}}</string>
                <key>sourceSize</key>
                <string>{947,212}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>base.png</string>
            <key>size</key>
            <string>{1968,848}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d09d1a6d1b918edbb837ea66cc93ec44:1/1$</string>
            <key>textureFileName</key>
            <string>base.png</string>
        </dict>
    </dict>
</plist>
