<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme325_map_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,694},{151,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,78}}</string>
                <key>sourceSize</key>
                <string>{151,78}</string>
            </dict>
            <key>theme325_map_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,544},{227,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,78}}</string>
                <key>sourceSize</key>
                <string>{227,78}</string>
            </dict>
            <key>theme325_map_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,694},{151,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,52}}</string>
                <key>sourceSize</key>
                <string>{151,52}</string>
            </dict>
            <key>theme325_map_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,712},{151,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,78}}</string>
                <key>sourceSize</key>
                <string>{151,78}</string>
            </dict>
            <key>theme325_map_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,315},{227,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,78}}</string>
                <key>sourceSize</key>
                <string>{227,78}</string>
            </dict>
            <key>theme325_map_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,712},{151,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,78}}</string>
                <key>sourceSize</key>
                <string>{151,78}</string>
            </dict>
            <key>theme325_map_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,918},{151,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,26}}</string>
                <key>sourceSize</key>
                <string>{151,26}</string>
            </dict>
            <key>theme325_map_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,847},{151,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,26}}</string>
                <key>sourceSize</key>
                <string>{151,26}</string>
            </dict>
            <key>theme325_map_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,773},{151,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,78}}</string>
                <key>sourceSize</key>
                <string>{151,78}</string>
            </dict>
            <key>theme325_map_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,918},{151,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,26}}</string>
                <key>sourceSize</key>
                <string>{151,26}</string>
            </dict>
            <key>theme325_map_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,613},{151,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,78}}</string>
                <key>sourceSize</key>
                <string>{151,78}</string>
            </dict>
            <key>theme325_map_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,460},{151,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,78}}</string>
                <key>sourceSize</key>
                <string>{151,78}</string>
            </dict>
            <key>theme325_map_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,315},{227,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,78}}</string>
                <key>sourceSize</key>
                <string>{227,78}</string>
            </dict>
            <key>theme325_map_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,460},{151,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,78}}</string>
                <key>sourceSize</key>
                <string>{151,78}</string>
            </dict>
            <key>theme325_map_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,328},{227,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,78}}</string>
                <key>sourceSize</key>
                <string>{227,78}</string>
            </dict>
            <key>theme325_map_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,235},{227,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,78}}</string>
                <key>sourceSize</key>
                <string>{227,78}</string>
            </dict>
            <key>theme325_map_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,231},{227,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,78}}</string>
                <key>sourceSize</key>
                <string>{227,78}</string>
            </dict>
            <key>theme325_map_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,2},{227,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,78}}</string>
                <key>sourceSize</key>
                <string>{227,78}</string>
            </dict>
            <key>theme325_map_86.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,460},{151,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,78}}</string>
                <key>sourceSize</key>
                <string>{151,78}</string>
            </dict>
            <key>theme325_map_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,712},{151,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,52}}</string>
                <key>sourceSize</key>
                <string>{151,52}</string>
            </dict>
            <key>theme325_map_90.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,315},{227,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,78}}</string>
                <key>sourceSize</key>
                <string>{227,78}</string>
            </dict>
            <key>theme325_map_94.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,773},{151,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,78}}</string>
                <key>sourceSize</key>
                <string>{151,78}</string>
            </dict>
            <key>theme325_map_allwin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,712},{24,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>theme325_map_allwin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,956},{24,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,19}}</string>
                <key>sourceSize</key>
                <string>{24,19}</string>
            </dict>
            <key>theme325_map_allwin4.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,517},{25,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,19}}</string>
                <key>sourceSize</key>
                <string>{25,19}</string>
            </dict>
            <key>theme325_map_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,918},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>theme325_map_close1.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,766},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>theme325_map_cover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{319,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,324}}</string>
                <key>sourceSize</key>
                <string>{319,324}</string>
            </dict>
            <key>theme325_map_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{234,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,84}}</string>
                <key>sourceSize</key>
                <string>{234,84}</string>
            </dict>
            <key>theme325_map_finish2.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,589},{146,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,103}}</string>
                <key>sourceSize</key>
                <string>{146,103}</string>
            </dict>
            <key>theme325_map_finish3.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,870},{147,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,116}}</string>
                <key>sourceSize</key>
                <string>{147,116}</string>
            </dict>
            <key>theme325_map_finish4.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,444},{147,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,129}}</string>
                <key>sourceSize</key>
                <string>{147,129}</string>
            </dict>
            <key>theme325_map_finish5.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,575},{147,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,135}}</string>
                <key>sourceSize</key>
                <string>{147,135}</string>
            </dict>
            <key>theme325_map_finish6.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,299},{147,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,143}}</string>
                <key>sourceSize</key>
                <string>{147,143}</string>
            </dict>
            <key>theme325_map_get1.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,875},{189,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,20}}</string>
                <key>sourceSize</key>
                <string>{189,20}</string>
            </dict>
            <key>theme325_map_get2.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,897},{191,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,19}}</string>
                <key>sourceSize</key>
                <string>{191,19}</string>
            </dict>
            <key>theme325_map_get2s.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,315},{200,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,19}}</string>
                <key>sourceSize</key>
                <string>{200,19}</string>
            </dict>
            <key>theme325_map_get3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{192,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,34}}</string>
                <key>sourceSize</key>
                <string>{192,34}</string>
            </dict>
            <key>theme325_map_get4.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,544},{192,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,34}}</string>
                <key>sourceSize</key>
                <string>{192,34}</string>
            </dict>
            <key>theme325_map_get5.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,738},{192,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,29}}</string>
                <key>sourceSize</key>
                <string>{192,29}</string>
            </dict>
            <key>theme325_map_get6.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,946},{150,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,19}}</string>
                <key>sourceSize</key>
                <string>{150,19}</string>
            </dict>
            <key>theme325_map_get7.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,956},{125,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,30}}</string>
                <key>sourceSize</key>
                <string>{125,30}</string>
            </dict>
            <key>theme325_map_get8.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,870},{84,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,18}}</string>
                <key>sourceSize</key>
                <string>{84,18}</string>
            </dict>
            <key>theme325_map_num1.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,840},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>theme325_map_num2.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,926},{20,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,17}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>theme325_map_num3.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,926},{20,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,17}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>theme325_map_num4.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,926},{20,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,17}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>theme325_map_num5.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,544},{19,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,17}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>theme325_map_num6.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,544},{20,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,17}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>theme325_map_sp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,299},{104,144}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{104,144}}</string>
                <key>sourceSize</key>
                <string>{108,148}</string>
            </dict>
            <key>theme325_map_sp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,865},{99,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,112}}</string>
                <key>sourceSize</key>
                <string>{99,112}</string>
            </dict>
            <key>theme325_map_sp3.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,445},{104,142}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{104,142}}</string>
                <key>sourceSize</key>
                <string>{108,148}</string>
            </dict>
            <key>theme325_map_sp4.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,235},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>theme325_map_stick1.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,563},{10,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,20}}</string>
                <key>sourceSize</key>
                <string>{10,20}</string>
            </dict>
            <key>theme325_map_stick2.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,284},{13,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,20}}</string>
                <key>sourceSize</key>
                <string>{13,20}</string>
            </dict>
            <key>theme325_map_stick3.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,284},{13,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,20}}</string>
                <key>sourceSize</key>
                <string>{13,20}</string>
            </dict>
            <key>theme325_map_tipbg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,574},{294,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,182}}</string>
                <key>sourceSize</key>
                <string>{294,182}</string>
            </dict>
            <key>theme325_map_tipbg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,2},{295,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{295,202}}</string>
                <key>sourceSize</key>
                <string>{297,202}</string>
            </dict>
            <key>theme325_map_tipbg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{294,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,220}}</string>
                <key>sourceSize</key>
                <string>{294,220}</string>
            </dict>
            <key>theme325_map_tipbg5.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,2},{292,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{292,231}}</string>
                <key>sourceSize</key>
                <string>{294,231}</string>
            </dict>
            <key>theme325_map_tipbg6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{291,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,244}}</string>
                <key>sourceSize</key>
                <string>{291,244}</string>
            </dict>
            <key>theme325_map_yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,738},{195,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,25}}</string>
                <key>sourceSize</key>
                <string>{195,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map.png</string>
            <key>size</key>
            <string>{901,993}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50e3094d11ad5ebc47ec7bb6c2b48b2f:1/1$</string>
            <key>textureFileName</key>
            <string>map.png</string>
        </dict>
    </dict>
</plist>
