<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme325_popup_allwin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,402},{33,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,30}}</string>
                <key>sourceSize</key>
                <string>{33,30}</string>
            </dict>
            <key>theme325_popup_allwin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,434},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>theme325_popup_allwin4.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,179},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{34,30}</string>
            </dict>
            <key>theme325_popup_collect.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,326},{342,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,106}}</string>
                <key>sourceSize</key>
                <string>{342,106}</string>
            </dict>
            <key>theme325_popup_collect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,218},{342,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,106}}</string>
                <key>sourceSize</key>
                <string>{342,106}</string>
            </dict>
            <key>theme325_popup_get1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{536,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,59}}</string>
                <key>sourceSize</key>
                <string>{536,59}</string>
            </dict>
            <key>theme325_popup_get2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{539,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,56}}</string>
                <key>sourceSize</key>
                <string>{539,56}</string>
            </dict>
            <key>theme325_popup_get2s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{565,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,56}}</string>
                <key>sourceSize</key>
                <string>{565,56}</string>
            </dict>
            <key>theme325_popup_get3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{495,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{495,88}}</string>
                <key>sourceSize</key>
                <string>{495,88}</string>
            </dict>
            <key>theme325_popup_get4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{493,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,91}}</string>
                <key>sourceSize</key>
                <string>{493,91}</string>
            </dict>
            <key>theme325_popup_get5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{441,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{441,59}}</string>
                <key>sourceSize</key>
                <string>{441,59}</string>
            </dict>
            <key>theme325_popup_get6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,423},{424,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,55}}</string>
                <key>sourceSize</key>
                <string>{424,55}</string>
            </dict>
            <key>theme325_popup_get7.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,434},{313,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,62}}</string>
                <key>sourceSize</key>
                <string>{313,62}</string>
            </dict>
            <key>theme325_popup_get8.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,2},{237,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,54}}</string>
                <key>sourceSize</key>
                <string>{237,54}</string>
            </dict>
            <key>theme325_popup_num1.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,218},{21,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,23}}</string>
                <key>sourceSize</key>
                <string>{21,23}</string>
            </dict>
            <key>theme325_popup_num2.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,466},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>theme325_popup_num3.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,402},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>theme325_popup_num4.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,60},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>theme325_popup_num5.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,166},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>theme325_popup_num6.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,85},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>theme325_popup_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,110},{342,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,106}}</string>
                <key>sourceSize</key>
                <string>{342,106}</string>
            </dict>
            <key>theme325_popup_start1.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,2},{342,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,106}}</string>
                <key>sourceSize</key>
                <string>{342,106}</string>
            </dict>
            <key>theme325_popup_stick1.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,110},{24,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,54}}</string>
                <key>sourceSize</key>
                <string>{24,54}</string>
            </dict>
            <key>theme325_popup_stick2.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,434},{33,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,54}}</string>
                <key>sourceSize</key>
                <string>{33,54}</string>
            </dict>
            <key>theme325_popup_stick3.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,362},{33,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,54}}</string>
                <key>sourceSize</key>
                <string>{33,54}</string>
            </dict>
            <key>theme325_popup_wheel_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,241},{107,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,118}}</string>
                <key>sourceSize</key>
                <string>{107,118}</string>
            </dict>
            <key>theme325_popup_wheel_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,361},{112,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,39}}</string>
                <key>sourceSize</key>
                <string>{112,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_pop.png</string>
            <key>size</key>
            <string>{969,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f97c89cfab035ec4081f1cd91604a490:1/1$</string>
            <key>textureFileName</key>
            <string>map_pop.png</string>
        </dict>
    </dict>
</plist>
