<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme325_pick_allwin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,747},{126,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,107}}</string>
                <key>sourceSize</key>
                <string>{126,107}</string>
            </dict>
            <key>theme325_pick_allwin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,856},{125,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,107}}</string>
                <key>sourceSize</key>
                <string>{125,107}</string>
            </dict>
            <key>theme325_pick_allwin4.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,760},{131,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,107}}</string>
                <key>sourceSize</key>
                <string>{131,107}</string>
            </dict>
            <key>theme325_pick_get1.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,297},{253,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,200}}</string>
                <key>sourceSize</key>
                <string>{253,200}</string>
            </dict>
            <key>theme325_pick_get2.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,95},{258,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,200}}</string>
                <key>sourceSize</key>
                <string>{258,200}</string>
            </dict>
            <key>theme325_pick_get2s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,523},{278,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,200}}</string>
                <key>sourceSize</key>
                <string>{278,200}</string>
            </dict>
            <key>theme325_pick_get3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{275,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,212}}</string>
                <key>sourceSize</key>
                <string>{275,212}</string>
            </dict>
            <key>theme325_pick_get4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{275,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,212}}</string>
                <key>sourceSize</key>
                <string>{275,212}</string>
            </dict>
            <key>theme325_pick_get5.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,499},{191,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,186}}</string>
                <key>sourceSize</key>
                <string>{191,186}</string>
            </dict>
            <key>theme325_pick_get6.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,523},{235,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,106}}</string>
                <key>sourceSize</key>
                <string>{235,106}</string>
            </dict>
            <key>theme325_pick_get7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,803},{243,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,170}}</string>
                <key>sourceSize</key>
                <string>{243,170}</string>
            </dict>
            <key>theme325_pick_get8.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,687},{218,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,58}}</string>
                <key>sourceSize</key>
                <string>{218,58}</string>
            </dict>
            <key>theme325_pick_stick1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,747},{38,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,107}}</string>
                <key>sourceSize</key>
                <string>{38,107}</string>
            </dict>
            <key>theme325_pick_stick2.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,856},{59,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,107}}</string>
                <key>sourceSize</key>
                <string>{59,107}</string>
            </dict>
            <key>theme325_pick_stick3.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,893},{59,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,107}}</string>
                <key>sourceSize</key>
                <string>{59,107}</string>
            </dict>
            <key>theme325_pick_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{518,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{518,91}}</string>
                <key>sourceSize</key>
                <string>{518,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pick.png</string>
            <key>size</key>
            <string>{539,983}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31b18593fd763afb0ef051f83bf9b674:1/1$</string>
            <key>textureFileName</key>
            <string>pick.png</string>
        </dict>
    </dict>
</plist>
