<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lock_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{279,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,133}}</string>
                <key>sourceSize</key>
                <string>{279,133}</string>
            </dict>
            <key>lock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,75}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>rukou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1409},{379,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,467}}</string>
                <key>sourceSize</key>
                <string>{379,467}</string>
            </dict>
            <key>rukou_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,137},{303,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,422}}</string>
                <key>sourceSize</key>
                <string>{303,422}</string>
            </dict>
            <key>rukou_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,561},{303,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,422}}</string>
                <key>sourceSize</key>
                <string>{303,422}</string>
            </dict>
            <key>rukou_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,985},{309,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,422}}</string>
                <key>sourceSize</key>
                <string>{309,422}</string>
            </dict>
            <key>rukou_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,561},{303,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,422}}</string>
                <key>sourceSize</key>
                <string>{303,422}</string>
            </dict>
            <key>rukou_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,137},{303,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,422}}</string>
                <key>sourceSize</key>
                <string>{303,422}</string>
            </dict>
            <key>rukou_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,985},{305,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,422}}</string>
                <key>sourceSize</key>
                <string>{305,422}</string>
            </dict>
            <key>rukou_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,561},{303,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,422}}</string>
                <key>sourceSize</key>
                <string>{303,422}</string>
            </dict>
            <key>rukou_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,985},{350,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,422}}</string>
                <key>sourceSize</key>
                <string>{350,422}</string>
            </dict>
            <key>rukou_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{302,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,422}}</string>
                <key>sourceSize</key>
                <string>{302,422}</string>
            </dict>
            <key>unlock_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1409},{379,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,152}}</string>
                <key>sourceSize</key>
                <string>{379,152}</string>
            </dict>
            <key>unlock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{182,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,133}}</string>
                <key>sourceSize</key>
                <string>{182,133}</string>
            </dict>
            <key>unlock_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{202,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,112}}</string>
                <key>sourceSize</key>
                <string>{202,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lobby.png</string>
            <key>size</key>
            <string>{972,1878}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:891dce87bec1e65e6b594ec1c7fae346$</string>
            <key>textureFileName</key>
            <string>lobby.png</string>
        </dict>
    </dict>
</plist>
