<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>delete_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>prize_wholebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{811,557}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{811,557}}</string>
                <key>sourceSize</key>
                <string>{811,557}</string>
            </dict>
            <key>settings_tittle.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,2},{199,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,34}}</string>
                <key>sourceSize</key>
                <string>{199,34}</string>
            </dict>
            <key>switch_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{172,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,51}}</string>
                <key>sourceSize</key>
                <string>{172,51}</string>
            </dict>
            <key>switch_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,72},{172,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,51}}</string>
                <key>sourceSize</key>
                <string>{172,51}</string>
            </dict>
            <key>switchicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{90,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,53}}</string>
                <key>sourceSize</key>
                <string>{90,53}</string>
            </dict>
            <key>text_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,72},{213,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,68}}</string>
                <key>sourceSize</key>
                <string>{213,68}</string>
            </dict>
            <key>text_privacy policy.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{180,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,27}}</string>
                <key>sourceSize</key>
                <string>{180,27}</string>
            </dict>
            <key>text_sounds.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,72},{245,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,50}}</string>
                <key>sourceSize</key>
                <string>{245,50}</string>
            </dict>
            <key>text_terms of service.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{211,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,26}}</string>
                <key>sourceSize</key>
                <string>{211,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>setting.png</string>
            <key>size</key>
            <string>{815,701}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a945491954958a30f35956dcb9c2c5be$</string>
            <key>textureFileName</key>
            <string>setting.png</string>
        </dict>
    </dict>
</plist>
