<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paytable_button1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,1105},{274,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,82}}</string>
                <key>sourceSize</key>
                <string>{274,82}</string>
            </dict>
            <key>paytable_button1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1919,537},{274,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,82}}</string>
                <key>sourceSize</key>
                <string>{274,82}</string>
            </dict>
            <key>paytable_buttonleft_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1938,1105},{62,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,83}}</string>
                <key>sourceSize</key>
                <string>{62,83}</string>
            </dict>
            <key>paytable_buttonleft_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,1105},{62,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,83}}</string>
                <key>sourceSize</key>
                <string>{62,83}</string>
            </dict>
            <key>theme192_page1.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,2},{529,776}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{529,776}}</string>
                <key>sourceSize</key>
                <string>{529,776}</string>
            </dict>
            <key>theme192_page2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,2},{502,697}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,697}}</string>
                <key>sourceSize</key>
                <string>{502,697}</string>
            </dict>
            <key>theme192_page2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,701},{519,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{519,113}}</string>
                <key>sourceSize</key>
                <string>{519,113}</string>
            </dict>
            <key>theme192_page3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{551,780}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,780}}</string>
                <key>sourceSize</key>
                <string>{551,780}</string>
            </dict>
            <key>theme192_page4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,816},{515,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{515,289}}</string>
                <key>sourceSize</key>
                <string>{515,289}</string>
            </dict>
            <key>theme192_page4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1069},{514,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,89}}</string>
                <key>sourceSize</key>
                <string>{514,89}</string>
            </dict>
            <key>theme192_page4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,2},{526,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,362}}</string>
                <key>sourceSize</key>
                <string>{526,362}</string>
            </dict>
            <key>theme192_page5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{524,413}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,413}}</string>
                <key>sourceSize</key>
                <string>{524,413}</string>
            </dict>
            <key>theme192_page5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,1107},{498,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{498,101}}</string>
                <key>sourceSize</key>
                <string>{498,101}</string>
            </dict>
            <key>theme192_page5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,780},{524,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,287}}</string>
                <key>sourceSize</key>
                <string>{524,287}</string>
            </dict>
            <key>theme192_paytable_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,530},{310,463}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,463}}</string>
                <key>sourceSize</key>
                <string>{310,463}</string>
            </dict>
            <key>theme192_paytable_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,995},{337,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,53}}</string>
                <key>sourceSize</key>
                <string>{337,53}</string>
            </dict>
            <key>theme192_paytable_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1919,813},{140,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,53}}</string>
                <key>sourceSize</key>
                <string>{140,53}</string>
            </dict>
            <key>theme192_paytable_head3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,2},{533,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,53}}</string>
                <key>sourceSize</key>
                <string>{533,53}</string>
            </dict>
            <key>theme192_paytable_head4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,1050},{339,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,53}}</string>
                <key>sourceSize</key>
                <string>{339,53}</string>
            </dict>
            <key>theme192_paytable_head5.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1160},{531,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{531,53}}</string>
                <key>sourceSize</key>
                <string>{531,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>paytable_theme192.png</string>
            <key>size</key>
            <string>{2009,1219}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66dbfc684ed9eb0a4d981e46d8357973:1/1$</string>
            <key>textureFileName</key>
            <string>paytable_theme192.png</string>
        </dict>
    </dict>
</plist>
