<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme231_b_jp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,869},{365,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,38}}</string>
                <key>sourceSize</key>
                <string>{365,38}</string>
            </dict>
            <key>theme231_b_jp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,236},{256,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,36}}</string>
                <key>sourceSize</key>
                <string>{256,36}</string>
            </dict>
            <key>theme231_b_jp3.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,595},{257,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,36}}</string>
                <key>sourceSize</key>
                <string>{257,36}</string>
            </dict>
            <key>theme231_b_sp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,352},{63,503}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,503}}</string>
                <key>sourceSize</key>
                <string>{63,503}</string>
            </dict>
            <key>theme231_b_sp10.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,352},{62,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,11}}</string>
                <key>sourceSize</key>
                <string>{62,11}</string>
            </dict>
            <key>theme231_b_sp11.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,93},{47,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,85}}</string>
                <key>sourceSize</key>
                <string>{47,85}</string>
            </dict>
            <key>theme231_b_sp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{76,565}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,565}}</string>
                <key>sourceSize</key>
                <string>{76,565}</string>
            </dict>
            <key>theme231_b_sp27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{900,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,89}}</string>
                <key>sourceSize</key>
                <string>{900,89}</string>
            </dict>
            <key>theme231_b_sp28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{420,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,257}}</string>
                <key>sourceSize</key>
                <string>{420,257}</string>
            </dict>
            <key>theme231_b_sp3.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,864},{332,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,116}}</string>
                <key>sourceSize</key>
                <string>{332,116}</string>
            </dict>
            <key>theme231_b_sp4.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,556},{412,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,37}}</string>
                <key>sourceSize</key>
                <string>{412,37}</string>
            </dict>
            <key>theme231_b_sp5.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,352},{4,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,500}}</string>
                <key>sourceSize</key>
                <string>{4,500}</string>
            </dict>
            <key>theme231_b_sp6.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,503},{165,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,201}}</string>
                <key>sourceSize</key>
                <string>{165,201}</string>
            </dict>
            <key>theme231_b_sp7.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,93},{376,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,187}}</string>
                <key>sourceSize</key>
                <string>{376,187}</string>
            </dict>
            <key>theme231_b_sp9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,919},{65,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,68}}</string>
                <key>sourceSize</key>
                <string>{65,68}</string>
            </dict>
            <key>theme231_b_tip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,813},{190,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,105}}</string>
                <key>sourceSize</key>
                <string>{190,105}</string>
            </dict>
            <key>theme231_b_tip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,503},{190,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,105}}</string>
                <key>sourceSize</key>
                <string>{190,105}</string>
            </dict>
            <key>theme231_b_tip3.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,706},{190,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,105}}</string>
                <key>sourceSize</key>
                <string>{190,105}</string>
            </dict>
            <key>theme231_b_tip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,909},{190,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,105}}</string>
                <key>sourceSize</key>
                <string>{190,105}</string>
            </dict>
            <key>theme231_b_tip5.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,909},{190,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,105}}</string>
                <key>sourceSize</key>
                <string>{190,105}</string>
            </dict>
            <key>theme231_d_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,732},{367,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,135}}</string>
                <key>sourceSize</key>
                <string>{367,135}</string>
            </dict>
            <key>theme231_d_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,595},{367,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,135}}</string>
                <key>sourceSize</key>
                <string>{367,135}</string>
            </dict>
            <key>theme231_d_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,419},{367,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,135}}</string>
                <key>sourceSize</key>
                <string>{367,135}</string>
            </dict>
            <key>theme231_d_btn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,282},{367,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,135}}</string>
                <key>sourceSize</key>
                <string>{367,135}</string>
            </dict>
            <key>theme231_d_num10.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,630},{266,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,232}}</string>
                <key>sourceSize</key>
                <string>{266,232}</string>
            </dict>
            <key>theme231_d_num12.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,352},{276,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,228}}</string>
                <key>sourceSize</key>
                <string>{276,228}</string>
            </dict>
            <key>theme231_d_num6.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{215,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,232}}</string>
                <key>sourceSize</key>
                <string>{215,232}</string>
            </dict>
            <key>theme231_d_num8.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,236},{212,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,235}}</string>
                <key>sourceSize</key>
                <string>{212,235}</string>
            </dict>
            <key>theme231_j_name0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,989},{81,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,25}}</string>
                <key>sourceSize</key>
                <string>{81,25}</string>
            </dict>
            <key>theme231_j_name1.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,982},{79,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,25}}</string>
                <key>sourceSize</key>
                <string>{79,25}</string>
            </dict>
            <key>theme231_j_name2.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,419},{81,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,24}}</string>
                <key>sourceSize</key>
                <string>{81,24}</string>
            </dict>
            <key>theme231_j_tip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,93},{342,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,51}}</string>
                <key>sourceSize</key>
                <string>{342,51}</string>
            </dict>
            <key>theme231_j_tip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,450},{247,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,51}}</string>
                <key>sourceSize</key>
                <string>{247,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>base.png</string>
            <key>size</key>
            <string>{1132,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0b69e41387b00103f0721a308259924:1/1$</string>
            <key>textureFileName</key>
            <string>base.png</string>
        </dict>
    </dict>
</plist>
