<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme231_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{165,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,100}}</string>
                <key>sourceSize</key>
                <string>{165,100}</string>
            </dict>
            <key>theme231_s_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,773},{89,62}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,28},{89,62}}</string>
                <key>sourceSize</key>
                <string>{165,100}</string>
            </dict>
            <key>theme231_s_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,181}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,35},{198,181}}</string>
                <key>sourceSize</key>
                <string>{246,251}</string>
            </dict>
            <key>theme231_s_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,681},{141,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{141,88}}</string>
                <key>sourceSize</key>
                <string>{165,100}</string>
            </dict>
            <key>theme231_s_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,591},{141,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{141,88}}</string>
                <key>sourceSize</key>
                <string>{165,100}</string>
            </dict>
            <key>theme231_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{163,110}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{163,110}}</string>
                <key>sourceSize</key>
                <string>{165,130}</string>
            </dict>
            <key>theme231_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,771},{135,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{135,90}}</string>
                <key>sourceSize</key>
                <string>{165,100}</string>
            </dict>
            <key>theme231_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,636},{135,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{135,90}}</string>
                <key>sourceSize</key>
                <string>{165,100}</string>
            </dict>
            <key>theme231_s_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,185},{149,80}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,16},{149,80}}</string>
                <key>sourceSize</key>
                <string>{165,100}</string>
            </dict>
            <key>theme231_s_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,439},{129,82}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{129,82}}</string>
                <key>sourceSize</key>
                <string>{165,100}</string>
            </dict>
            <key>theme231_s_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{161,88}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{161,88}}</string>
                <key>sourceSize</key>
                <string>{165,100}</string>
            </dict>
            <key>theme231_s_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,336},{101,72}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,24},{101,72}}</string>
                <key>sourceSize</key>
                <string>{165,100}</string>
            </dict>
            <key>theme231_s_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,570},{81,64}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,28},{81,64}}</string>
                <key>sourceSize</key>
                <string>{165,100}</string>
            </dict>
            <key>theme231_s_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{165,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,100}}</string>
                <key>sourceSize</key>
                <string>{165,100}</string>
            </dict>
            <key>theme231_s_sub.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{44,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,39}}</string>
                <key>sourceSize</key>
                <string>{44,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>symbol.png</string>
            <key>size</key>
            <string>{251,863}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5c6a0b1d8e43491c56143c6bb13f4af:1/1$</string>
            <key>textureFileName</key>
            <string>symbol.png</string>
        </dict>
    </dict>
</plist>
