<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>delete_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,54},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>prize_wholebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{790,509}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{790,509}}</string>
                <key>sourceSize</key>
                <string>{790,509}</string>
            </dict>
            <key>settings_tittle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{185,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,29}}</string>
                <key>sourceSize</key>
                <string>{185,29}</string>
            </dict>
            <key>switch_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,54},{171,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,50}}</string>
                <key>sourceSize</key>
                <string>{171,50}</string>
            </dict>
            <key>switch_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,2},{171,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,50}}</string>
                <key>sourceSize</key>
                <string>{171,50}</string>
            </dict>
            <key>switch_onoff.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{171,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,50}}</string>
                <key>sourceSize</key>
                <string>{171,50}</string>
            </dict>
            <key>switchicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,54},{90,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,53}}</string>
                <key>sourceSize</key>
                <string>{90,53}</string>
            </dict>
            <key>text_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{212,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,67}}</string>
                <key>sourceSize</key>
                <string>{212,67}</string>
            </dict>
            <key>text_privacy policy.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,2},{190,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,33}}</string>
                <key>sourceSize</key>
                <string>{190,33}</string>
            </dict>
            <key>text_sounds.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,54},{253,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,51}}</string>
                <key>sourceSize</key>
                <string>{253,51}</string>
            </dict>
            <key>text_terms of service.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{216,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,33}}</string>
                <key>sourceSize</key>
                <string>{216,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>setting.png</string>
            <key>size</key>
            <string>{794,692}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7117832488262879fc901011d6aeb58$</string>
            <key>textureFileName</key>
            <string>setting.png</string>
        </dict>
    </dict>
</plist>
