<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>delete_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,111},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>prize_wholebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{699,545}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{699,545}}</string>
                <key>sourceSize</key>
                <string>{699,545}</string>
            </dict>
            <key>settings_tittle.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,55},{262,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,54}}</string>
                <key>sourceSize</key>
                <string>{262,54}</string>
            </dict>
            <key>switch_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{173,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,51}}</string>
                <key>sourceSize</key>
                <string>{173,51}</string>
            </dict>
            <key>switch_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,2},{173,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,51}}</string>
                <key>sourceSize</key>
                <string>{173,51}</string>
            </dict>
            <key>switchicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{89,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,55}}</string>
                <key>sourceSize</key>
                <string>{89,55}</string>
            </dict>
            <key>text_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,111},{200,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,66}}</string>
                <key>sourceSize</key>
                <string>{200,66}</string>
            </dict>
            <key>text_privacy policy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{191,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,31}}</string>
                <key>sourceSize</key>
                <string>{191,31}</string>
            </dict>
            <key>text_sounds.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,55},{244,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,53}}</string>
                <key>sourceSize</key>
                <string>{244,53}</string>
            </dict>
            <key>text_terms of service.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{216,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,31}}</string>
                <key>sourceSize</key>
                <string>{216,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>setting.png</string>
            <key>size</key>
            <string>{703,738}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6717e64602621452c0011c219240896a$</string>
            <key>textureFileName</key>
            <string>setting.png</string>
        </dict>
    </dict>
</plist>
