<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dating_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,141},{1560,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1560,86}}</string>
                <key>sourceSize</key>
                <string>{1560,86}</string>
            </dict>
            <key>free coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{113,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,75}}</string>
                <key>sourceSize</key>
                <string>{113,75}</string>
            </dict>
            <key>head.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,2},{132,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,108}}</string>
                <key>sourceSize</key>
                <string>{132,108}</string>
            </dict>
            <key>icon_ad.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,2},{113,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,75}}</string>
                <key>sourceSize</key>
                <string>{113,75}</string>
            </dict>
            <key>icon_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,53}}</string>
                <key>sourceSize</key>
                <string>{47,53}</string>
            </dict>
            <key>icon_collect.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,2},{113,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,75}}</string>
                <key>sourceSize</key>
                <string>{113,75}</string>
            </dict>
            <key>icon_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{113,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,75}}</string>
                <key>sourceSize</key>
                <string>{113,75}</string>
            </dict>
            <key>icon_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,2},{160,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,94}}</string>
                <key>sourceSize</key>
                <string>{160,94}</string>
            </dict>
            <key>icon_shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>icon_shezhi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{48,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,51}}</string>
                <key>sourceSize</key>
                <string>{48,51}</string>
            </dict>
            <key>icon_zhuye.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,2},{52,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,49}}</string>
                <key>sourceSize</key>
                <string>{52,49}</string>
            </dict>
            <key>icon_zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>kuang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,2},{223,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,47}}</string>
                <key>sourceSize</key>
                <string>{223,47}</string>
            </dict>
            <key>kuang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,2},{200,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,41}}</string>
                <key>sourceSize</key>
                <string>{200,41}</string>
            </dict>
            <key>lobby_header_back01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{1560,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1560,89}}</string>
                <key>sourceSize</key>
                <string>{1560,89}</string>
            </dict>
            <key>lock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{50,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,70}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>set_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{69,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,41}}</string>
                <key>sourceSize</key>
                <string>{69,41}</string>
            </dict>
            <key>set_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{338,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,277}}</string>
                <key>sourceSize</key>
                <string>{338,277}</string>
            </dict>
            <key>set_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,2},{129,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,39}}</string>
                <key>sourceSize</key>
                <string>{129,39}</string>
            </dict>
            <key>set_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,2},{129,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,38}}</string>
                <key>sourceSize</key>
                <string>{129,38}</string>
            </dict>
            <key>unlockTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,2},{204,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,137}}</string>
                <key>sourceSize</key>
                <string>{204,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>header.png</string>
            <key>size</key>
            <string>{2029,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d354a4391e5df40608fee69250c8bc81$</string>
            <key>textureFileName</key>
            <string>header.png</string>
        </dict>
    </dict>
</plist>
