<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme177_collect_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{155,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,130}}</string>
                <key>sourceSize</key>
                <string>{155,130}</string>
            </dict>
            <key>theme177_collect_button1.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,505},{83,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,124}}</string>
                <key>sourceSize</key>
                <string>{83,124}</string>
            </dict>
            <key>theme177_collect_button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,146},{83,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,124}}</string>
                <key>sourceSize</key>
                <string>{83,124}</string>
            </dict>
            <key>theme177_collect_buttonx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,317},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>theme177_collect_buttonx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,255},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>theme177_collect_choose1.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,860},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>theme177_collect_choose2.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,394},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>theme177_collect_itemb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,649},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>theme177_collect_itemb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,780},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>theme177_collect_itemb_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,649},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>theme177_collect_itemb_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,780},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>theme177_collect_itemb_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,518},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>theme177_collect_itemb_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,157},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>theme177_collect_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{302,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,46}}</string>
                <key>sourceSize</key>
                <string>{302,46}</string>
            </dict>
            <key>theme177_collect_level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,747},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>theme177_collect_logo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,595},{155,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,131}}</string>
                <key>sourceSize</key>
                <string>{155,131}</string>
            </dict>
            <key>theme177_collect_logo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{155,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,131}}</string>
                <key>sourceSize</key>
                <string>{155,131}</string>
            </dict>
            <key>theme177_collect_material1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,762},{130,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,135}}</string>
                <key>sourceSize</key>
                <string>{130,135}</string>
            </dict>
            <key>theme177_collect_material1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,365},{139,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,127}}</string>
                <key>sourceSize</key>
                <string>{139,127}</string>
            </dict>
            <key>theme177_collect_material1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,649},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>theme177_collect_material1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,272},{151,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,113}}</string>
                <key>sourceSize</key>
                <string>{151,113}</string>
            </dict>
            <key>theme177_collect_material1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,146},{153,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,102}}</string>
                <key>sourceSize</key>
                <string>{153,102}</string>
            </dict>
            <key>theme177_collect_material2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,762},{130,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,135}}</string>
                <key>sourceSize</key>
                <string>{130,135}</string>
            </dict>
            <key>theme177_collect_material2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,618},{139,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,127}}</string>
                <key>sourceSize</key>
                <string>{139,127}</string>
            </dict>
            <key>theme177_collect_material2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,518},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>theme177_collect_material2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,157},{152,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,113}}</string>
                <key>sourceSize</key>
                <string>{152,113}</string>
            </dict>
            <key>theme177_collect_material2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,53},{153,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,102}}</string>
                <key>sourceSize</key>
                <string>{153,102}</string>
            </dict>
            <key>theme177_collect_material3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,387},{129,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,135}}</string>
                <key>sourceSize</key>
                <string>{129,135}</string>
            </dict>
            <key>theme177_collect_material3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,489},{139,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,127}}</string>
                <key>sourceSize</key>
                <string>{139,127}</string>
            </dict>
            <key>theme177_collect_material3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,518},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>theme177_collect_material3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,261},{151,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,113}}</string>
                <key>sourceSize</key>
                <string>{151,113}</string>
            </dict>
            <key>theme177_collect_material3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,42},{153,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,102}}</string>
                <key>sourceSize</key>
                <string>{153,102}</string>
            </dict>
            <key>theme177_collect_material4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,631},{129,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,135}}</string>
                <key>sourceSize</key>
                <string>{129,135}</string>
            </dict>
            <key>theme177_collect_material4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,360},{139,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,127}}</string>
                <key>sourceSize</key>
                <string>{139,127}</string>
            </dict>
            <key>theme177_collect_material4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,762},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>theme177_collect_material4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,261},{151,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,113}}</string>
                <key>sourceSize</key>
                <string>{151,113}</string>
            </dict>
            <key>theme177_collect_material4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,42},{153,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,102}}</string>
                <key>sourceSize</key>
                <string>{153,102}</string>
            </dict>
            <key>theme177_collect_material5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,494},{130,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,135}}</string>
                <key>sourceSize</key>
                <string>{130,135}</string>
            </dict>
            <key>theme177_collect_material5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,231},{139,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,127}}</string>
                <key>sourceSize</key>
                <string>{139,127}</string>
            </dict>
            <key>theme177_collect_material5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,631},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>theme177_collect_material5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,250},{151,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,113}}</string>
                <key>sourceSize</key>
                <string>{151,113}</string>
            </dict>
            <key>theme177_collect_material5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,617},{153,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,102}}</string>
                <key>sourceSize</key>
                <string>{153,102}</string>
            </dict>
            <key>theme177_collect_material6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,772},{130,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,135}}</string>
                <key>sourceSize</key>
                <string>{130,135}</string>
            </dict>
            <key>theme177_collect_material6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,376},{138,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,127}}</string>
                <key>sourceSize</key>
                <string>{138,127}</string>
            </dict>
            <key>theme177_collect_material6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,387},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>theme177_collect_material6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,146},{152,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,113}}</string>
                <key>sourceSize</key>
                <string>{152,113}</string>
            </dict>
            <key>theme177_collect_material6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,462},{153,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,102}}</string>
                <key>sourceSize</key>
                <string>{153,102}</string>
            </dict>
            <key>theme177_collect_moneybg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,2},{156,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,49}}</string>
                <key>sourceSize</key>
                <string>{156,49}</string>
            </dict>
            <key>theme177_collect_moneybg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{229,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,66}}</string>
                <key>sourceSize</key>
                <string>{229,66}</string>
            </dict>
            <key>theme177_collect_name1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{314,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,38}}</string>
                <key>sourceSize</key>
                <string>{314,38}</string>
            </dict>
            <key>theme177_collect_name2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{300,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,38}}</string>
                <key>sourceSize</key>
                <string>{300,38}</string>
            </dict>
            <key>theme177_collect_name3.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,2},{350,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,38}}</string>
                <key>sourceSize</key>
                <string>{350,38}</string>
            </dict>
            <key>theme177_collect_name4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{300,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,38}}</string>
                <key>sourceSize</key>
                <string>{300,38}</string>
            </dict>
            <key>theme177_collect_name5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{280,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,38}}</string>
                <key>sourceSize</key>
                <string>{280,38}</string>
            </dict>
            <key>theme177_collect_name6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{322,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,38}}</string>
                <key>sourceSize</key>
                <string>{322,38}</string>
            </dict>
            <key>theme177_collect_show.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{481,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{481,54}}</string>
                <key>sourceSize</key>
                <string>{481,54}</string>
            </dict>
            <key>theme177_collect_text1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{99,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,31}}</string>
                <key>sourceSize</key>
                <string>{99,31}</string>
            </dict>
            <key>theme177_collect_text2.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,878},{107,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,16}}</string>
                <key>sourceSize</key>
                <string>{107,16}</string>
            </dict>
            <key>theme177_collect_text3.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,53},{98,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,29}}</string>
                <key>sourceSize</key>
                <string>{98,29}</string>
            </dict>
            <key>theme177_collect_text4.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,505},{99,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,30}}</string>
                <key>sourceSize</key>
                <string>{99,30}</string>
            </dict>
            <key>theme177_collect_text5.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,58},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>theme177_collect_text8.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,747},{138,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,76}}</string>
                <key>sourceSize</key>
                <string>{138,76}</string>
            </dict>
            <key>theme177_collect_unlocktext.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{437,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{437,86}}</string>
                <key>sourceSize</key>
                <string>{437,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coins_store.png</string>
            <key>size</key>
            <string>{1014,904}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a1048ed6896b62f9fe2263543d7fc1d:1/1$</string>
            <key>textureFileName</key>
            <string>coins_store.png</string>
        </dict>
    </dict>
</plist>
