<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme177_base_ui_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,2},{266,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{266,133}}</string>
                <key>sourceSize</key>
                <string>{266,137}</string>
            </dict>
            <key>theme177_base_ui_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{261,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{261,25}}</string>
                <key>sourceSize</key>
                <string>{269,27}</string>
            </dict>
            <key>theme177_base_ui_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,501},{306,180}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{306,180}}</string>
                <key>sourceSize</key>
                <string>{318,192}</string>
            </dict>
            <key>theme177_base_ui_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,309},{318,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{318,190}}</string>
                <key>sourceSize</key>
                <string>{318,192}</string>
            </dict>
            <key>theme177_collect_popup_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,469},{521,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,261}}</string>
                <key>sourceSize</key>
                <string>{521,261}</string>
            </dict>
            <key>theme177_dialog_c_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{494,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,82}}</string>
                <key>sourceSize</key>
                <string>{494,82}</string>
            </dict>
            <key>theme177_dialog_c_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1987,309},{175,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,38}}</string>
                <key>sourceSize</key>
                <string>{175,38}</string>
            </dict>
            <key>theme177_dialog_c_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,2},{655,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{655,125}}</string>
                <key>sourceSize</key>
                <string>{655,125}</string>
            </dict>
            <key>theme177_dialog_c_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,755},{314,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,93}}</string>
                <key>sourceSize</key>
                <string>{314,93}</string>
            </dict>
            <key>theme177_dialog_c_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,723},{314,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,93}}</string>
                <key>sourceSize</key>
                <string>{314,93}</string>
            </dict>
            <key>theme177_dialog_c_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,742},{314,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,93}}</string>
                <key>sourceSize</key>
                <string>{314,93}</string>
            </dict>
            <key>theme177_dialog_c_btn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,683},{314,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,93}}</string>
                <key>sourceSize</key>
                <string>{314,93}</string>
            </dict>
            <key>theme177_dialog_cf_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,394},{552,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,173}}</string>
                <key>sourceSize</key>
                <string>{552,173}</string>
            </dict>
            <key>theme177_dialog_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{549,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,390}}</string>
                <key>sourceSize</key>
                <string>{549,390}</string>
            </dict>
            <key>theme177_dialog_jb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{558,465}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,465}}</string>
                <key>sourceSize</key>
                <string>{558,465}</string>
            </dict>
            <key>theme177_dialog_jtype0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,550},{377,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,171}}</string>
                <key>sourceSize</key>
                <string>{377,171}</string>
            </dict>
            <key>theme177_dialog_jtype1.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,569},{377,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,171}}</string>
                <key>sourceSize</key>
                <string>{377,171}</string>
            </dict>
            <key>theme177_dialog_jtype2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,376},{377,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,172}}</string>
                <key>sourceSize</key>
                <string>{377,172}</string>
            </dict>
            <key>theme177_dialog_jtype3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,137},{377,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,170}}</string>
                <key>sourceSize</key>
                <string>{377,170}</string>
            </dict>
            <key>theme177_dialog_jtype4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,376},{377,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,170}}</string>
                <key>sourceSize</key>
                <string>{377,170}</string>
            </dict>
            <key>theme177_dialog_sb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,129},{528,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,245}}</string>
                <key>sourceSize</key>
                <string>{528,245}</string>
            </dict>
            <key>theme177_dialog_sf_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,569},{127,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,258}}</string>
                <key>sourceSize</key>
                <string>{127,258}</string>
            </dict>
            <key>theme177_dialog_sf_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1665,778},{236,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,38}}</string>
                <key>sourceSize</key>
                <string>{236,38}</string>
            </dict>
            <key>theme177_popnum_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1903,778},{82,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,73}}</string>
                <key>sourceSize</key>
                <string>{82,73}</string>
            </dict>
            <key>theme177_popnum_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1975,501},{46,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,73}}</string>
                <key>sourceSize</key>
                <string>{46,73}</string>
            </dict>
            <key>theme177_popnum_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,644},{46,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,73}}</string>
                <key>sourceSize</key>
                <string>{46,73}</string>
            </dict>
            <key>theme177_popnum_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,569},{46,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,73}}</string>
                <key>sourceSize</key>
                <string>{46,73}</string>
            </dict>
            <key>theme177_popnum_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,742},{54,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,73}}</string>
                <key>sourceSize</key>
                <string>{54,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dialog_t.png</string>
            <key>size</key>
            <string>{2039,853}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b3d8d527f7b1dc20ddbe3c34b566248:1/1$</string>
            <key>textureFileName</key>
            <string>dialog_t.png</string>
        </dict>
    </dict>
</plist>
