<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paytable_button1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,278},{274,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,82}}</string>
                <key>sourceSize</key>
                <string>{274,82}</string>
            </dict>
            <key>paytable_button1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,2},{274,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,82}}</string>
                <key>sourceSize</key>
                <string>{274,82}</string>
            </dict>
            <key>paytable_buttonleft_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1191},{62,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,83}}</string>
                <key>sourceSize</key>
                <string>{62,83}</string>
            </dict>
            <key>paytable_buttonleft_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1136},{62,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,83}}</string>
                <key>sourceSize</key>
                <string>{62,83}</string>
            </dict>
            <key>theme188_page1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,2},{548,785}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,785}}</string>
                <key>sourceSize</key>
                <string>{548,785}</string>
            </dict>
            <key>theme188_page2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,789},{504,669}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,669}}</string>
                <key>sourceSize</key>
                <string>{504,669}</string>
            </dict>
            <key>theme188_page2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1136},{524,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,143}}</string>
                <key>sourceSize</key>
                <string>{524,143}</string>
            </dict>
            <key>theme188_page3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,579},{555,746}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{555,746}}</string>
                <key>sourceSize</key>
                <string>{555,746}</string>
            </dict>
            <key>theme188_page4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{575,809}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,809}}</string>
                <key>sourceSize</key>
                <string>{575,809}</string>
            </dict>
            <key>theme188_page5.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,2},{558,780}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,780}}</string>
                <key>sourceSize</key>
                <string>{558,780}</string>
            </dict>
            <key>theme188_paytable_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,784},{304,459}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,459}}</string>
                <key>sourceSize</key>
                <string>{304,459}</string>
            </dict>
            <key>theme188_paytable_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1145},{337,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,53}}</string>
                <key>sourceSize</key>
                <string>{337,53}</string>
            </dict>
            <key>theme188_paytable_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1136},{140,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,53}}</string>
                <key>sourceSize</key>
                <string>{140,53}</string>
            </dict>
            <key>theme188_paytable_head3.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1200},{309,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,53}}</string>
                <key>sourceSize</key>
                <string>{309,53}</string>
            </dict>
            <key>theme188_paytable_head4.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1090},{357,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,53}}</string>
                <key>sourceSize</key>
                <string>{357,53}</string>
            </dict>
            <key>theme188_paytable_head5.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,579},{567,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{567,53}}</string>
                <key>sourceSize</key>
                <string>{567,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>paytable.png</string>
            <key>size</key>
            <string>{2007,1295}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd64603ea2ed309583f42fb28d3f9bbb:1/1$</string>
            <key>textureFileName</key>
            <string>paytable.png</string>
        </dict>
    </dict>
</plist>
