<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme192_b_reel1.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,980},{27,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,19}}</string>
                <key>sourceSize</key>
                <string>{27,19}</string>
            </dict>
            <key>theme192_b_reel10.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,2},{34,638}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,638}}</string>
                <key>sourceSize</key>
                <string>{34,638}</string>
            </dict>
            <key>theme192_b_reel2.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,792},{91,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,192}}</string>
                <key>sourceSize</key>
                <string>{91,192}</string>
            </dict>
            <key>theme192_b_reel3.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{341,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,55}}</string>
                <key>sourceSize</key>
                <string>{341,55}</string>
            </dict>
            <key>theme192_b_reel4.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,589},{313,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,38}}</string>
                <key>sourceSize</key>
                <string>{313,38}</string>
            </dict>
            <key>theme192_b_reel5.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,910},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,50}</string>
            </dict>
            <key>theme192_b_reel6.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,874},{38,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,72}}</string>
                <key>sourceSize</key>
                <string>{38,72}</string>
            </dict>
            <key>theme192_b_reel7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1012},{3,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,223}}</string>
                <key>sourceSize</key>
                <string>{3,223}</string>
            </dict>
            <key>theme192_b_reel8.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,835},{97,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,37}}</string>
                <key>sourceSize</key>
                <string>{97,37}</string>
            </dict>
            <key>theme192_b_sp_yun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{507,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{507,308}}</string>
                <key>sourceSize</key>
                <string>{507,308}</string>
            </dict>
            <key>theme192_b_sp_yun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{507,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{507,308}}</string>
                <key>sourceSize</key>
                <string>{507,308}</string>
            </dict>
            <key>theme192_c_sp3.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,2},{585,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{585,29}}</string>
                <key>sourceSize</key>
                <string>{585,29}</string>
            </dict>
            <key>theme192_c_sp4.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,874},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,57}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>theme192_c_sp5.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,939},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,57}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>theme192_c_sp6.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,906},{72,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,37}}</string>
                <key>sourceSize</key>
                <string>{72,37}</string>
            </dict>
            <key>theme192_dc_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,642},{238,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{238,70}}</string>
                <key>sourceSize</key>
                <string>{238,72}</string>
            </dict>
            <key>theme192_dc_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,595},{238,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,71}}</string>
                <key>sourceSize</key>
                <string>{238,71}</string>
            </dict>
            <key>theme192_dc_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,699},{238,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,71}}</string>
                <key>sourceSize</key>
                <string>{238,71}</string>
            </dict>
            <key>theme192_dc_btn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,778},{238,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,71}}</string>
                <key>sourceSize</key>
                <string>{238,71}</string>
            </dict>
            <key>theme192_dc_btn5.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,355},{238,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,71}}</string>
                <key>sourceSize</key>
                <string>{238,71}</string>
            </dict>
            <key>theme192_dc_btn6.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,459},{238,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,71}}</string>
                <key>sourceSize</key>
                <string>{238,71}</string>
            </dict>
            <key>theme192_dt_sp3.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,2},{573,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{573,114}}</string>
                <key>sourceSize</key>
                <string>{575,114}</string>
            </dict>
            <key>theme192_dt_sp4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{290,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,46}}</string>
                <key>sourceSize</key>
                <string>{290,46}</string>
            </dict>
            <key>theme192_j_sp0.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,2},{455,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,85}}</string>
                <key>sourceSize</key>
                <string>{455,85}</string>
            </dict>
            <key>theme192_j_sp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,355},{238,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,75}}</string>
                <key>sourceSize</key>
                <string>{238,75}</string>
            </dict>
            <key>theme192_j_sp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,595},{238,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,73}}</string>
                <key>sourceSize</key>
                <string>{238,73}</string>
            </dict>
            <key>theme192_j_sp3.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,909},{238,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,73}}</string>
                <key>sourceSize</key>
                <string>{238,73}</string>
            </dict>
            <key>theme192_j_sp4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{290,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,170}}</string>
                <key>sourceSize</key>
                <string>{290,170}</string>
            </dict>
            <key>theme192_mf_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{404,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,168}}</string>
                <key>sourceSize</key>
                <string>{404,168}</string>
            </dict>
            <key>theme192_r_cnt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,841},{15,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,23}}</string>
                <key>sourceSize</key>
                <string>{15,23}</string>
            </dict>
            <key>theme192_r_cnt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1004},{15,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,23}}</string>
                <key>sourceSize</key>
                <string>{15,23}</string>
            </dict>
            <key>theme192_r_cnt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,589},{16,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{16,23}</string>
            </dict>
            <key>theme192_r_reel1.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,835},{73,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,55}}</string>
                <key>sourceSize</key>
                <string>{73,55}</string>
            </dict>
            <key>theme192_r_reel2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,345},{5,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,200}}</string>
                <key>sourceSize</key>
                <string>{5,200}</string>
            </dict>
            <key>theme192_r_sp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{525,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{525,77}}</string>
                <key>sourceSize</key>
                <string>{525,77}</string>
            </dict>
            <key>theme192_r_sp4.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{351,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,106}}</string>
                <key>sourceSize</key>
                <string>{351,106}</string>
            </dict>
            <key>theme192_r_sp5.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,622},{285,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,116}}</string>
                <key>sourceSize</key>
                <string>{285,116}</string>
            </dict>
            <key>theme192_r_tip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,986},{91,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,35}}</string>
                <key>sourceSize</key>
                <string>{91,35}</string>
            </dict>
            <key>theme192_r_tip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,792},{228,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,18}}</string>
                <key>sourceSize</key>
                <string>{228,18}</string>
            </dict>
            <key>theme192_r_tip3.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,984},{243,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,18}}</string>
                <key>sourceSize</key>
                <string>{243,18}</string>
            </dict>
            <key>theme192_r_tip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,998},{164,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,18}}</string>
                <key>sourceSize</key>
                <string>{164,18}</string>
            </dict>
            <key>theme192_tj_name11.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,882},{73,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,22}}</string>
                <key>sourceSize</key>
                <string>{73,22}</string>
            </dict>
            <key>theme192_tj_name12.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,876},{71,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,24}}</string>
                <key>sourceSize</key>
                <string>{71,24}</string>
            </dict>
            <key>theme192_tj_name13.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,904},{70,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,22}}</string>
                <key>sourceSize</key>
                <string>{70,22}</string>
            </dict>
            <key>theme192_tj_name14.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,529},{51,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,22}}</string>
                <key>sourceSize</key>
                <string>{51,22}</string>
            </dict>
            <key>theme192_tj_sp11.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,577},{297,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,64}}</string>
                <key>sourceSize</key>
                <string>{297,64}</string>
            </dict>
            <key>theme192_tj_sp12.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,529},{247,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,64}}</string>
                <key>sourceSize</key>
                <string>{247,64}</string>
            </dict>
            <key>theme192_tj_sp13.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,1004},{129,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,17}}</string>
                <key>sourceSize</key>
                <string>{129,17}</string>
            </dict>
            <key>theme192_tj_sp14.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,577},{262,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,17}}</string>
                <key>sourceSize</key>
                <string>{262,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>base.png</string>
            <key>size</key>
            <string>{1025,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64c649bf505da72ed991f2f1cfd2d281:1/1$</string>
            <key>textureFileName</key>
            <string>base.png</string>
        </dict>
    </dict>
</plist>
