<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme192_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,250},{1,1}}</string>
                <key>offset</key>
                <string>{-4.5,4.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>theme192_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,161},{111,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,87}}</string>
                <key>sourceSize</key>
                <string>{111,87}</string>
            </dict>
            <key>theme192_s_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,152},{58,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,47}}</string>
                <key>sourceSize</key>
                <string>{58,47}</string>
            </dict>
            <key>theme192_s_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{157,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,133}}</string>
                <key>sourceSize</key>
                <string>{157,133}</string>
            </dict>
            <key>theme192_s_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{157,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,133}}</string>
                <key>sourceSize</key>
                <string>{157,133}</string>
            </dict>
            <key>theme192_s_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{157,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,133}}</string>
                <key>sourceSize</key>
                <string>{157,133}</string>
            </dict>
            <key>theme192_s_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,2},{139,109}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{139,109}}</string>
                <key>sourceSize</key>
                <string>{157,133}</string>
            </dict>
            <key>theme192_s_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,145},{139,109}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{139,109}}</string>
                <key>sourceSize</key>
                <string>{157,133}</string>
            </dict>
            <key>theme192_s_107.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,2},{141,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{141,115}}</string>
                <key>sourceSize</key>
                <string>{157,133}</string>
            </dict>
            <key>theme192_s_108.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{141,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{141,93}}</string>
                <key>sourceSize</key>
                <string>{157,133}</string>
            </dict>
            <key>theme192_s_109.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{141,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,40},{141,51}}</string>
                <key>sourceSize</key>
                <string>{157,133}</string>
            </dict>
            <key>theme192_s_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>theme192_s_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,161},{111,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,80}}</string>
                <key>sourceSize</key>
                <string>{111,80}</string>
            </dict>
            <key>theme192_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,2},{111,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{111,75}}</string>
                <key>sourceSize</key>
                <string>{113,75}</string>
            </dict>
            <key>theme192_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{111,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{111,75}}</string>
                <key>sourceSize</key>
                <string>{113,75}</string>
            </dict>
            <key>theme192_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,143},{111,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{111,75}}</string>
                <key>sourceSize</key>
                <string>{113,75}</string>
            </dict>
            <key>theme192_s_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,79},{111,71}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{111,71}}</string>
                <key>sourceSize</key>
                <string>{113,75}</string>
            </dict>
            <key>theme192_s_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,199},{49,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,46}}</string>
                <key>sourceSize</key>
                <string>{49,46}</string>
            </dict>
            <key>theme192_s_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,202},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>theme192_s_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,152},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>theme192_s_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,152},{44,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>theme192_s_j1.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,134},{112,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,78}}</string>
                <key>sourceSize</key>
                <string>{112,78}</string>
            </dict>
            <key>theme192_s_j2.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,161},{112,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,79}}</string>
                <key>sourceSize</key>
                <string>{112,79}</string>
            </dict>
            <key>theme192_s_j3.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,134},{112,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,78}}</string>
                <key>sourceSize</key>
                <string>{112,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>symbol.png</string>
            <key>size</key>
            <string>{1011,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5536bd6aa58a3bcf887031e90d8d4cb2:1/1$</string>
            <key>textureFileName</key>
            <string>symbol.png</string>
        </dict>
    </dict>
</plist>
