<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>delete_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>font_Fb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{556,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,201}}</string>
                <key>sourceSize</key>
                <string>{556,201}</string>
            </dict>
            <key>font_ad.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{552,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,171}}</string>
                <key>sourceSize</key>
                <string>{552,171}</string>
            </dict>
            <key>ok_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{340,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,93}}</string>
                <key>sourceSize</key>
                <string>{340,93}</string>
            </dict>
            <key>prize_wholebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,473},{708,532}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{708,532}}</string>
                <key>sourceSize</key>
                <string>{708,532}</string>
            </dict>
            <key>tips_tittle.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{93,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,46}}</string>
                <key>sourceSize</key>
                <string>{93,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>inspect.png</string>
            <key>size</key>
            <string>{712,1007}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf73ddbc5c49f10999b6d704db488896$</string>
            <key>textureFileName</key>
            <string>inspect.png</string>
        </dict>
    </dict>
</plist>
