<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dating_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,96},{720,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,208}}</string>
                <key>sourceSize</key>
                <string>{720,208}</string>
            </dict>
            <key>freecoins.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{100,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,72}}</string>
                <key>sourceSize</key>
                <string>{100,72}</string>
            </dict>
            <key>head.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,96},{143,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,110}}</string>
                <key>sourceSize</key>
                <string>{143,110}</string>
            </dict>
            <key>header_bg_golden.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,96},{720,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,152}}</string>
                <key>sourceSize</key>
                <string>{720,152}</string>
            </dict>
            <key>icon_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,2},{103,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,92}}</string>
                <key>sourceSize</key>
                <string>{103,92}</string>
            </dict>
            <key>icon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,2},{103,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,92}}</string>
                <key>sourceSize</key>
                <string>{103,92}</string>
            </dict>
            <key>icon_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1693,2},{103,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,92}}</string>
                <key>sourceSize</key>
                <string>{103,92}</string>
            </dict>
            <key>icon_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1903,2},{103,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,92}}</string>
                <key>sourceSize</key>
                <string>{103,92}</string>
            </dict>
            <key>icon_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{103,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,92}}</string>
                <key>sourceSize</key>
                <string>{103,92}</string>
            </dict>
            <key>icon_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>icon_shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>icon_zhuye.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>icon_zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,2},{35,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,52}}</string>
                <key>sourceSize</key>
                <string>{35,52}</string>
            </dict>
            <key>kuang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{184,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,41}}</string>
                <key>sourceSize</key>
                <string>{184,41}</string>
            </dict>
            <key>lobby_header_back01.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{780,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{780,81}}</string>
                <key>sourceSize</key>
                <string>{780,81}</string>
            </dict>
            <key>set_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{63,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,40}}</string>
                <key>sourceSize</key>
                <string>{63,40}</string>
            </dict>
            <key>set_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,96},{325,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,273}}</string>
                <key>sourceSize</key>
                <string>{325,273}</string>
            </dict>
            <key>set_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{117,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,37}}</string>
                <key>sourceSize</key>
                <string>{117,37}</string>
            </dict>
            <key>set_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,37}}</string>
                <key>sourceSize</key>
                <string>{117,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>header.png</string>
            <key>size</key>
            <string>{2023,371}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2650d8cb9671ca6d84bf1c0c8182881$</string>
            <key>textureFileName</key>
            <string>header.png</string>
        </dict>
    </dict>
</plist>
