<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paytable_button1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,695},{295,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,73}}</string>
                <key>sourceSize</key>
                <string>{295,73}</string>
            </dict>
            <key>paytable_button1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,770},{295,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,72}}</string>
                <key>sourceSize</key>
                <string>{295,72}</string>
            </dict>
            <key>paytable_buttonleft_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,899},{47,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,71}}</string>
                <key>sourceSize</key>
                <string>{47,71}</string>
            </dict>
            <key>paytable_buttonleft_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1677,899},{47,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,71}}</string>
                <key>sourceSize</key>
                <string>{47,71}</string>
            </dict>
            <key>theme240_page1.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{1010,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1010,256}}</string>
                <key>sourceSize</key>
                <string>{1010,256}</string>
            </dict>
            <key>theme240_page2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,2},{1033,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1033,381}}</string>
                <key>sourceSize</key>
                <string>{1033,381}</string>
            </dict>
            <key>theme240_page3.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,2},{1013,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1013,347}}</string>
                <key>sourceSize</key>
                <string>{1013,347}</string>
            </dict>
            <key>theme240_page4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1015,385}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1015,385}}</string>
                <key>sourceSize</key>
                <string>{1015,385}</string>
            </dict>
            <key>theme240_page5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,385},{963,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{963,308}}</string>
                <key>sourceSize</key>
                <string>{963,308}</string>
            </dict>
            <key>theme240_page6.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,2},{1005,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1005,376}}</string>
                <key>sourceSize</key>
                <string>{1005,376}</string>
            </dict>
            <key>theme240_paytable_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1840,695},{539,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,319}}</string>
                <key>sourceSize</key>
                <string>{539,319}</string>
            </dict>
            <key>theme240_paytable_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,844},{293,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,53}}</string>
                <key>sourceSize</key>
                <string>{293,53}</string>
            </dict>
            <key>theme240_paytable_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,899},{136,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,53}}</string>
                <key>sourceSize</key>
                <string>{136,53}</string>
            </dict>
            <key>theme240_paytable_head3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,385},{570,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,53}}</string>
                <key>sourceSize</key>
                <string>{570,53}</string>
            </dict>
            <key>theme240_paytable_head4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,695},{242,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,53}}</string>
                <key>sourceSize</key>
                <string>{242,53}</string>
            </dict>
            <key>theme240_paytable_head5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,957},{464,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,53}}</string>
                <key>sourceSize</key>
                <string>{464,53}</string>
            </dict>
            <key>theme240_paytable_head6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,695},{225,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,53}}</string>
                <key>sourceSize</key>
                <string>{225,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>paytable.png</string>
            <key>size</key>
            <string>{2409,1019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8071a596f84b32713df7e4665b80ae94:1/1$</string>
            <key>textureFileName</key>
            <string>paytable.png</string>
        </dict>
    </dict>
</plist>
