<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>delete_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>font_Fb.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{556,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,201}}</string>
                <key>sourceSize</key>
                <string>{556,201}</string>
            </dict>
            <key>font_ad.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{529,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{529,228}}</string>
                <key>sourceSize</key>
                <string>{529,228}</string>
            </dict>
            <key>ok_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,205},{346,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,108}}</string>
                <key>sourceSize</key>
                <string>{346,108}</string>
            </dict>
            <key>prize_wholebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,435},{712,567}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{712,567}}</string>
                <key>sourceSize</key>
                <string>{712,567}</string>
            </dict>
            <key>tips_tittle.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,435},{113,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,44}}</string>
                <key>sourceSize</key>
                <string>{113,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>inspect.png</string>
            <key>size</key>
            <string>{881,1004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea5ec7b4cf253a99abe87022d99156ea$</string>
            <key>textureFileName</key>
            <string>inspect.png</string>
        </dict>
    </dict>
</plist>
