<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FREEGAME.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,15}}</string>
                <key>sourceSize</key>
                <string>{71,15}</string>
            </dict>
            <key>HOLDFORAUTO.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{126,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,12}}</string>
                <key>sourceSize</key>
                <string>{126,12}</string>
            </dict>
            <key>HOLDFORAUTO02.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,2},{126,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,12}}</string>
                <key>sourceSize</key>
                <string>{126,12}</string>
            </dict>
            <key>HOLDFORAUTO_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,2},{126,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,12}}</string>
                <key>sourceSize</key>
                <string>{126,12}</string>
            </dict>
            <key>SPIN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,2},{110,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,45}}</string>
                <key>sourceSize</key>
                <string>{110,45}</string>
            </dict>
            <key>SPIN02.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,2},{110,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,45}}</string>
                <key>sourceSize</key>
                <string>{110,45}</string>
            </dict>
            <key>SPIN_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,2},{110,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,45}}</string>
                <key>sourceSize</key>
                <string>{110,45}</string>
            </dict>
            <key>STOP.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,2},{116,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,45}}</string>
                <key>sourceSize</key>
                <string>{116,45}</string>
            </dict>
            <key>STOP02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,2},{116,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,45}}</string>
                <key>sourceSize</key>
                <string>{116,45}</string>
            </dict>
            <key>STOP03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{116,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,45}}</string>
                <key>sourceSize</key>
                <string>{116,45}</string>
            </dict>
            <key>anxia_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,49},{180,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,44}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>anxia_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{180,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,44}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>anxia_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,49},{180,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,44}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>anxia_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,49},{180,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,44}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>anxia_500.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,135},{180,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,44}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>anxia_fast.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,49},{180,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,44}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>big_back_half.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,749},{1560,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1560,98}}</string>
                <key>sourceSize</key>
                <string>{1560,98}</string>
            </dict>
            <key>dating_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,673},{1560,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1560,74}}</string>
                <key>sourceSize</key>
                <string>{1560,74}</string>
            </dict>
            <key>freegame_backyellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,135},{146,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,61}}</string>
                <key>sourceSize</key>
                <string>{146,61}</string>
            </dict>
            <key>freegamespin_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,399},{189,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,269}}</string>
                <key>sourceSize</key>
                <string>{189,269}</string>
            </dict>
            <key>icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,135},{126,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,117}}</string>
                <key>sourceSize</key>
                <string>{126,117}</string>
            </dict>
            <key>icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,135},{126,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,117}}</string>
                <key>sourceSize</key>
                <string>{126,117}</string>
            </dict>
            <key>icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,135},{126,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,117}}</string>
                <key>sourceSize</key>
                <string>{126,117}</string>
            </dict>
            <key>icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,135},{126,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,117}}</string>
                <key>sourceSize</key>
                <string>{126,117}</string>
            </dict>
            <key>icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,135},{126,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,117}}</string>
                <key>sourceSize</key>
                <string>{126,117}</string>
            </dict>
            <key>icon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,254},{248,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,143}}</string>
                <key>sourceSize</key>
                <string>{248,143}</string>
            </dict>
            <key>icon_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{126,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,117}}</string>
                <key>sourceSize</key>
                <string>{126,117}</string>
            </dict>
            <key>lobby_header_back01.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,399},{780,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{780,81}}</string>
                <key>sourceSize</key>
                <string>{780,81}</string>
            </dict>
            <key>maxbet_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,135},{106,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,78}}</string>
                <key>sourceSize</key>
                <string>{106,78}</string>
            </dict>
            <key>maxbet_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,135},{106,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,78}}</string>
                <key>sourceSize</key>
                <string>{106,78}</string>
            </dict>
            <key>maxbet_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,135},{106,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,78}}</string>
                <key>sourceSize</key>
                <string>{106,78}</string>
            </dict>
            <key>minus_h01.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,49},{90,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,84}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>minus_h02.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,49},{90,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,84}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>minus_h03.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,49},{90,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,84}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>plus_h01.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,49},{90,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,84}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>plus_h02.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,49},{90,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,84}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>plus_h03.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,49},{90,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,84}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>set_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,2},{63,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,39}}</string>
                <key>sourceSize</key>
                <string>{63,39}</string>
            </dict>
            <key>set_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,399},{328,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,272}}</string>
                <key>sourceSize</key>
                <string>{328,272}</string>
            </dict>
            <key>set_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,2},{129,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,38}}</string>
                <key>sourceSize</key>
                <string>{129,38}</string>
            </dict>
            <key>set_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{129,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,38}}</string>
                <key>sourceSize</key>
                <string>{129,38}</string>
            </dict>
            <key>spin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,254},{224,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,84}}</string>
                <key>sourceSize</key>
                <string>{224,84}</string>
            </dict>
            <key>spin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,254},{224,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,84}}</string>
                <key>sourceSize</key>
                <string>{224,84}</string>
            </dict>
            <key>spin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,254},{224,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,84}}</string>
                <key>sourceSize</key>
                <string>{224,84}</string>
            </dict>
            <key>totalbetzit.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{76,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,16}}</string>
                <key>sourceSize</key>
                <string>{76,16}</string>
            </dict>
            <key>totalwin.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{74,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,15}}</string>
                <key>sourceSize</key>
                <string>{74,15}</string>
            </dict>
            <key>unlock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,399},{242,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,174}}</string>
                <key>sourceSize</key>
                <string>{242,174}</string>
            </dict>
            <key>wnzi_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,254},{324,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,86}}</string>
                <key>sourceSize</key>
                <string>{324,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>footer.png</string>
            <key>size</key>
            <string>{1564,849}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d378c9e0a3bfb61699aa4adf2d28969a$</string>
            <key>textureFileName</key>
            <string>footer.png</string>
        </dict>
    </dict>
</plist>
