<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{326,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,102}}</string>
                <key>sourceSize</key>
                <string>{326,102}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{62,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,65}}</string>
                <key>sourceSize</key>
                <string>{62,65}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{105,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,99}}</string>
                <key>sourceSize</key>
                <string>{105,99}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,2},{448,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,108}}</string>
                <key>sourceSize</key>
                <string>{448,108}</string>
            </dict>
            <key>kuang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{832,765}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{832,765}}</string>
                <key>sourceSize</key>
                <string>{832,765}</string>
            </dict>
            <key>text_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,879},{460,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,92}}</string>
                <key>sourceSize</key>
                <string>{460,92}</string>
            </dict>
            <key>text_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,879},{489,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{489,30}}</string>
                <key>sourceSize</key>
                <string>{489,30}</string>
            </dict>
            <key>text_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,973},{576,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,36}}</string>
                <key>sourceSize</key>
                <string>{576,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ad_reward.png</string>
            <key>size</key>
            <string>{955,1011}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02a0ac393f5124fc7641e7ce27b3906c$</string>
            <key>textureFileName</key>
            <string>ad_reward.png</string>
        </dict>
    </dict>
</plist>
