<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme_jump_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,116},{265,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,64}}</string>
                <key>sourceSize</key>
                <string>{265,64}</string>
            </dict>
            <key>theme_jump_wenzi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{265,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,64}}</string>
                <key>sourceSize</key>
                <string>{265,64}</string>
            </dict>
            <key>zeus_font_extra free spins.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{229,110}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{229,110}}</string>
                <key>sourceSize</key>
                <string>{237,112}</string>
            </dict>
            <key>zeus_font_freespin.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{237,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,112}}</string>
                <key>sourceSize</key>
                <string>{237,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>free.png</string>
            <key>size</key>
            <string>{508,182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c684db0502ae19bb623c8299f174b989:1/1$</string>
            <key>textureFileName</key>
            <string>free.png</string>
        </dict>
    </dict>
</plist>
