<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme_jackpot_basebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{245,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,62}}</string>
                <key>sourceSize</key>
                <string>{245,62}</string>
            </dict>
            <key>theme_jackpot_specialbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{244,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,61}}</string>
                <key>sourceSize</key>
                <string>{244,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jackpot.png</string>
            <key>size</key>
            <string>{249,129}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5565536344084f6bf63ce9256028d8bd:1/1$</string>
            <key>textureFileName</key>
            <string>jackpot.png</string>
        </dict>
    </dict>
</plist>
