<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme220_b_jp_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{409,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,96}}</string>
                <key>sourceSize</key>
                <string>{409,96}</string>
            </dict>
            <key>theme220_b_jp_bg1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{409,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,96}}</string>
                <key>sourceSize</key>
                <string>{409,96}</string>
            </dict>
            <key>theme220_b_jp_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,266},{330,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,76}}</string>
                <key>sourceSize</key>
                <string>{330,76}</string>
            </dict>
            <key>theme220_b_jp_bg2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{330,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,76}}</string>
                <key>sourceSize</key>
                <string>{330,76}</string>
            </dict>
            <key>theme220_b_jp_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,266},{272,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,66}}</string>
                <key>sourceSize</key>
                <string>{272,66}</string>
            </dict>
            <key>theme220_b_jp_bg3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,318},{272,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,66}}</string>
                <key>sourceSize</key>
                <string>{272,66}</string>
            </dict>
            <key>theme220_b_jp_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,345},{272,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,66}}</string>
                <key>sourceSize</key>
                <string>{272,66}</string>
            </dict>
            <key>theme220_b_jp_bg4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,345},{272,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,66}}</string>
                <key>sourceSize</key>
                <string>{272,66}</string>
            </dict>
            <key>theme220_b_jp_name1.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,540},{120,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,37}}</string>
                <key>sourceSize</key>
                <string>{120,37}</string>
            </dict>
            <key>theme220_b_jp_name1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,502},{120,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,37}}</string>
                <key>sourceSize</key>
                <string>{120,37}</string>
            </dict>
            <key>theme220_b_jp_name2.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,598},{113,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,33}}</string>
                <key>sourceSize</key>
                <string>{113,33}</string>
            </dict>
            <key>theme220_b_jp_name2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,598},{113,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,33}}</string>
                <key>sourceSize</key>
                <string>{113,33}</string>
            </dict>
            <key>theme220_b_jp_name3.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,598},{91,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,28}}</string>
                <key>sourceSize</key>
                <string>{91,28}</string>
            </dict>
            <key>theme220_b_jp_name3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,92},{91,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,28}}</string>
                <key>sourceSize</key>
                <string>{91,28}</string>
            </dict>
            <key>theme220_b_jp_name4.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,572},{71,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,29}}</string>
                <key>sourceSize</key>
                <string>{71,29}</string>
            </dict>
            <key>theme220_b_jp_name4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,541},{71,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,29}}</string>
                <key>sourceSize</key>
                <string>{71,29}</string>
            </dict>
            <key>theme220_base10.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,262},{115,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,85}}</string>
                <key>sourceSize</key>
                <string>{115,85}</string>
            </dict>
            <key>theme220_base11.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,541},{39,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,23}}</string>
                <key>sourceSize</key>
                <string>{39,23}</string>
            </dict>
            <key>theme220_base12.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,92},{91,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,227}}</string>
                <key>sourceSize</key>
                <string>{91,227}</string>
            </dict>
            <key>theme220_base15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{751,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{751,190}}</string>
                <key>sourceSize</key>
                <string>{751,190}</string>
            </dict>
            <key>theme220_base16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{760,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,70}}</string>
                <key>sourceSize</key>
                <string>{760,70}</string>
            </dict>
            <key>theme220_base17.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,262},{80,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,166}}</string>
                <key>sourceSize</key>
                <string>{80,166}</string>
            </dict>
            <key>theme220_base21.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,456},{106,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,44}}</string>
                <key>sourceSize</key>
                <string>{106,44}</string>
            </dict>
            <key>theme220_base39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{514,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,25}}</string>
                <key>sourceSize</key>
                <string>{514,25}</string>
            </dict>
            <key>theme220_base8.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,628},{3,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,75}}</string>
                <key>sourceSize</key>
                <string>{3,75}</string>
            </dict>
            <key>theme220_base8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,628},{3,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,76}}</string>
                <key>sourceSize</key>
                <string>{3,76}</string>
            </dict>
            <key>theme220_base9.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,379},{105,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,75}}</string>
                <key>sourceSize</key>
                <string>{105,75}</string>
            </dict>
            <key>theme220_base9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,430},{105,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,76}}</string>
                <key>sourceSize</key>
                <string>{105,76}</string>
            </dict>
            <key>theme220_c_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{597,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{597,50}}</string>
                <key>sourceSize</key>
                <string>{597,50}</string>
            </dict>
            <key>theme220_c_tip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,598},{84,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,17}}</string>
                <key>sourceSize</key>
                <string>{84,17}</string>
            </dict>
            <key>theme220_c_tip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,541},{78,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,17}}</string>
                <key>sourceSize</key>
                <string>{78,17}</string>
            </dict>
            <key>theme220_c_tip_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,243},{221,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,17}}</string>
                <key>sourceSize</key>
                <string>{221,17}</string>
            </dict>
            <key>theme220_c_tip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,2},{267,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,88}}</string>
                <key>sourceSize</key>
                <string>{267,88}</string>
            </dict>
            <key>theme220_suo_lock1.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,579},{202,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,17}}</string>
                <key>sourceSize</key>
                <string>{202,17}</string>
            </dict>
            <key>theme220_suo_lock2.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,266},{315,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,56}}</string>
                <key>sourceSize</key>
                <string>{315,56}</string>
            </dict>
            <key>theme220_suo_lock3.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,617},{9,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,15}}</string>
                <key>sourceSize</key>
                <string>{9,15}</string>
            </dict>
            <key>theme220_suo_unlock1.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,243},{132,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,17}}</string>
                <key>sourceSize</key>
                <string>{132,17}</string>
            </dict>
            <key>theme220_suo_unlock2.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,185},{240,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,56}}</string>
                <key>sourceSize</key>
                <string>{240,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>base.png</string>
            <key>size</key>
            <string>{1024,633}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d221c893e41a57771145ca97882e39cc:1/1$</string>
            <key>textureFileName</key>
            <string>base.png</string>
        </dict>
    </dict>
</plist>
