<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme220_map_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{388,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,116}}</string>
                <key>sourceSize</key>
                <string>{388,116}</string>
            </dict>
            <key>theme220_map_btn1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,254},{387,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,116}}</string>
                <key>sourceSize</key>
                <string>{387,116}</string>
            </dict>
            <key>theme220_map_level_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,944},{40,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,47}}</string>
                <key>sourceSize</key>
                <string>{40,47}</string>
            </dict>
            <key>theme220_map_level_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,702},{42,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,47}}</string>
                <key>sourceSize</key>
                <string>{42,47}</string>
            </dict>
            <key>theme220_map_level_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,782},{37,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,47}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>theme220_map_level_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,973},{42,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,47}}</string>
                <key>sourceSize</key>
                <string>{42,47}</string>
            </dict>
            <key>theme220_map_level_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,929},{42,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,47}}</string>
                <key>sourceSize</key>
                <string>{42,47}</string>
            </dict>
            <key>theme220_map_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,1005},{134,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,2}}</string>
                <key>sourceSize</key>
                <string>{134,2}</string>
            </dict>
            <key>theme220_map_map16.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,639},{105,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,17}}</string>
                <key>sourceSize</key>
                <string>{105,17}</string>
            </dict>
            <key>theme220_map_map17.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{125,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,46}}</string>
                <key>sourceSize</key>
                <string>{125,46}</string>
            </dict>
            <key>theme220_map_map18.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,643},{137,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,101}}</string>
                <key>sourceSize</key>
                <string>{137,101}</string>
            </dict>
            <key>theme220_map_map19.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,639},{42,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,61}}</string>
                <key>sourceSize</key>
                <string>{42,61}</string>
            </dict>
            <key>theme220_map_map20.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,129},{42,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,98}}</string>
                <key>sourceSize</key>
                <string>{42,98}</string>
            </dict>
            <key>theme220_map_map21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,250}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>theme220_map_map22.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,572},{89,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,42}}</string>
                <key>sourceSize</key>
                <string>{89,42}</string>
            </dict>
            <key>theme220_map_map23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{91,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,191}}</string>
                <key>sourceSize</key>
                <string>{91,191}</string>
            </dict>
            <key>theme220_map_map24.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,822},{101,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,123}}</string>
                <key>sourceSize</key>
                <string>{101,123}</string>
            </dict>
            <key>theme220_map_map25.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,254},{100,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,192}}</string>
                <key>sourceSize</key>
                <string>{100,192}</string>
            </dict>
            <key>theme220_map_map26.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,448},{100,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,122}}</string>
                <key>sourceSize</key>
                <string>{100,122}</string>
            </dict>
            <key>theme220_map_map6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{176,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,144}}</string>
                <key>sourceSize</key>
                <string>{176,144}</string>
            </dict>
            <key>theme220_map_map9.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,782},{105,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,122}}</string>
                <key>sourceSize</key>
                <string>{105,122}</string>
            </dict>
            <key>theme220_map_map_line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,947},{137,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,33}}</string>
                <key>sourceSize</key>
                <string>{137,33}</string>
            </dict>
            <key>theme220_map_map_line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,929},{91,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,13}}</string>
                <key>sourceSize</key>
                <string>{91,13}</string>
            </dict>
            <key>theme220_map_map_line3.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,639},{88,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,21}}</string>
                <key>sourceSize</key>
                <string>{88,21}</string>
            </dict>
            <key>theme220_map_map_line4.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,982},{132,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,21}}</string>
                <key>sourceSize</key>
                <string>{132,21}</string>
            </dict>
            <key>theme220_map_map_line5.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,906},{127,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,21}}</string>
                <key>sourceSize</key>
                <string>{127,21}</string>
            </dict>
            <key>theme220_map_map_line6.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,616},{88,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,21}}</string>
                <key>sourceSize</key>
                <string>{88,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map.png</string>
            <key>size</key>
            <string>{340,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0428a706bb59c491ca089be8ff5870ff:1/1$</string>
            <key>textureFileName</key>
            <string>map.png</string>
        </dict>
    </dict>
</plist>
