<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lock_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,121}}</string>
                <key>sourceSize</key>
                <string>{250,121}</string>
            </dict>
            <key>lock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{50,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,70}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>rukou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{439,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{439,520}}</string>
                <key>sourceSize</key>
                <string>{439,520}</string>
            </dict>
            <key>rukou_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,2},{281,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,471}}</string>
                <key>sourceSize</key>
                <string>{281,471}</string>
            </dict>
            <key>rukou_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{281,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,471}}</string>
                <key>sourceSize</key>
                <string>{281,471}</string>
            </dict>
            <key>rukou_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,524},{281,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,471}}</string>
                <key>sourceSize</key>
                <string>{281,471}</string>
            </dict>
            <key>rukou_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,524},{281,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,471}}</string>
                <key>sourceSize</key>
                <string>{281,471}</string>
            </dict>
            <key>rukou_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,524},{281,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,471}}</string>
                <key>sourceSize</key>
                <string>{281,471}</string>
            </dict>
            <key>rukou_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,997},{281,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,471}}</string>
                <key>sourceSize</key>
                <string>{281,471}</string>
            </dict>
            <key>rukou_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,997},{281,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,471}}</string>
                <key>sourceSize</key>
                <string>{281,471}</string>
            </dict>
            <key>rukou_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,997},{281,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,471}}</string>
                <key>sourceSize</key>
                <string>{281,471}</string>
            </dict>
            <key>rukou_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,997},{281,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,471}}</string>
                <key>sourceSize</key>
                <string>{281,471}</string>
            </dict>
            <key>unlock_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1470},{394,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,162}}</string>
                <key>sourceSize</key>
                <string>{394,162}</string>
            </dict>
            <key>unlock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1470},{204,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,137}}</string>
                <key>sourceSize</key>
                <string>{204,137}</string>
            </dict>
            <key>unlock_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1470},{224,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,118}}</string>
                <key>sourceSize</key>
                <string>{224,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lobby.png</string>
            <key>size</key>
            <string>{1134,1634}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0038c659fffec62010aa48b3ccd6c66$</string>
            <key>textureFileName</key>
            <string>lobby.png</string>
        </dict>
    </dict>
</plist>
