<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{348,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,225}}</string>
                <key>sourceSize</key>
                <string>{348,225}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,87}}</string>
                <key>sourceSize</key>
                <string>{86,87}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{110,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,102}}</string>
                <key>sourceSize</key>
                <string>{110,102}</string>
            </dict>
            <key>collect.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,106},{373,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{373,105}}</string>
                <key>sourceSize</key>
                <string>{373,105}</string>
            </dict>
            <key>free_collect.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,106},{373,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{373,105}}</string>
                <key>sourceSize</key>
                <string>{373,105}</string>
            </dict>
            <key>freebonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,213},{567,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{567,112}}</string>
                <key>sourceSize</key>
                <string>{567,112}</string>
            </dict>
            <key>freecoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,213},{534,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,112}}</string>
                <key>sourceSize</key>
                <string>{534,112}</string>
            </dict>
            <key>freecoin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{597,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{597,35}}</string>
                <key>sourceSize</key>
                <string>{597,35}</string>
            </dict>
            <key>freecoin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{430,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,24}}</string>
                <key>sourceSize</key>
                <string>{430,24}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{541,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{541,94}}</string>
                <key>sourceSize</key>
                <string>{541,94}</string>
            </dict>
            <key>kuang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,327},{977,635}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{977,635}}</string>
                <key>sourceSize</key>
                <string>{977,635}</string>
            </dict>
            <key>text_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,2},{479,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,30}}</string>
                <key>sourceSize</key>
                <string>{479,30}</string>
            </dict>
            <key>text_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{468,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,24}}</string>
                <key>sourceSize</key>
                <string>{468,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ad_reward.png</string>
            <key>size</key>
            <string>{1650,964}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c3fe7fb364ba313a8bbf153129aa4e3$</string>
            <key>textureFileName</key>
            <string>ad_reward.png</string>
        </dict>
    </dict>
</plist>
