<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{364,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,109}}</string>
                <key>sourceSize</key>
                <string>{364,109}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,82},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>font1.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{566,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,54}}</string>
                <key>sourceSize</key>
                <string>{566,54}</string>
            </dict>
            <key>font2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{410,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,33}}</string>
                <key>sourceSize</key>
                <string>{410,33}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,82},{427,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,91}}</string>
                <key>sourceSize</key>
                <string>{427,91}</string>
            </dict>
            <key>kuang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,185},{832,765}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{832,765}}</string>
                <key>sourceSize</key>
                <string>{832,765}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{463,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,80}}</string>
                <key>sourceSize</key>
                <string>{463,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>freeCoinsImg.png</string>
            <key>size</key>
            <string>{1202,952}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e886a4bc486bc0fa801893a75abd11b3$</string>
            <key>textureFileName</key>
            <string>freeCoinsImg.png</string>
        </dict>
    </dict>
</plist>
