<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,116},{357,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,114}}</string>
                <key>sourceSize</key>
                <string>{357,114}</string>
            </dict>
            <key>chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{348,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,225}}</string>
                <key>sourceSize</key>
                <string>{348,225}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,2},{116,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,112}}</string>
                <key>sourceSize</key>
                <string>{116,112}</string>
            </dict>
            <key>free_collect.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,116},{357,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,114}}</string>
                <key>sourceSize</key>
                <string>{357,114}</string>
            </dict>
            <key>freebonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,232},{498,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{498,155}}</string>
                <key>sourceSize</key>
                <string>{498,155}</string>
            </dict>
            <key>freecoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,232},{468,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,155}}</string>
                <key>sourceSize</key>
                <string>{468,155}</string>
            </dict>
            <key>freecoin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{500,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,31}}</string>
                <key>sourceSize</key>
                <string>{500,31}</string>
            </dict>
            <key>freecoin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{369,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,25}}</string>
                <key>sourceSize</key>
                <string>{369,25}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{474,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,103}}</string>
                <key>sourceSize</key>
                <string>{474,103}</string>
            </dict>
            <key>kuang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,389},{945,601}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{945,601}}</string>
                <key>sourceSize</key>
                <string>{945,601}</string>
            </dict>
            <key>text_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,2},{415,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,28}}</string>
                <key>sourceSize</key>
                <string>{415,28}</string>
            </dict>
            <key>text_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,2},{396,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,25}}</string>
                <key>sourceSize</key>
                <string>{396,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ad_reward.png</string>
            <key>size</key>
            <string>{1448,992}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd391fe12ed88e6308885a8da8c315b0$</string>
            <key>textureFileName</key>
            <string>ad_reward.png</string>
        </dict>
    </dict>
</plist>
