<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paytable_button1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,724},{295,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,73}}</string>
                <key>sourceSize</key>
                <string>{295,73}</string>
            </dict>
            <key>paytable_button1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,724},{295,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,72}}</string>
                <key>sourceSize</key>
                <string>{295,72}</string>
            </dict>
            <key>paytable_buttonleft_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,1950},{47,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,71}}</string>
                <key>sourceSize</key>
                <string>{47,71}</string>
            </dict>
            <key>paytable_buttonleft_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,1895},{47,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,71}}</string>
                <key>sourceSize</key>
                <string>{47,71}</string>
            </dict>
            <key>theme244_page1.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,1120},{892,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{892,342}}</string>
                <key>sourceSize</key>
                <string>{892,342}</string>
            </dict>
            <key>theme244_page2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1120},{991,387}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{991,387}}</string>
                <key>sourceSize</key>
                <string>{991,387}</string>
            </dict>
            <key>theme244_page3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{1006,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1006,394}}</string>
                <key>sourceSize</key>
                <string>{1006,394}</string>
            </dict>
            <key>theme244_page4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,2},{961,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{961,370}}</string>
                <key>sourceSize</key>
                <string>{961,370}</string>
            </dict>
            <key>theme244_page5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1339,965},{940,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{940,254}}</string>
                <key>sourceSize</key>
                <string>{940,254}</string>
            </dict>
            <key>theme244_page6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1595,977},{912,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{912,276}}</string>
                <key>sourceSize</key>
                <string>{912,276}</string>
            </dict>
            <key>theme244_page7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1631,2},{973,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{973,252}}</string>
                <key>sourceSize</key>
                <string>{973,252}</string>
            </dict>
            <key>theme244_page8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1509},{981,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{981,384}}</string>
                <key>sourceSize</key>
                <string>{981,384}</string>
            </dict>
            <key>theme244_paytable_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1255,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1255,720}}</string>
                <key>sourceSize</key>
                <string>{1255,720}</string>
            </dict>
            <key>theme244_paytable_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1895},{293,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,53}}</string>
                <key>sourceSize</key>
                <string>{293,53}</string>
            </dict>
            <key>theme244_paytable_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,1021},{136,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,53}}</string>
                <key>sourceSize</key>
                <string>{136,53}</string>
            </dict>
            <key>theme244_paytable_head3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,724},{353,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,53}}</string>
                <key>sourceSize</key>
                <string>{353,53}</string>
            </dict>
            <key>theme244_paytable_head4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1895},{524,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,53}}</string>
                <key>sourceSize</key>
                <string>{524,53}</string>
            </dict>
            <key>theme244_paytable_head5.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1950},{278,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,53}}</string>
                <key>sourceSize</key>
                <string>{278,53}</string>
            </dict>
            <key>theme244_paytable_head6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1950},{426,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,53}}</string>
                <key>sourceSize</key>
                <string>{426,53}</string>
            </dict>
            <key>theme244_paytable_head7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1339,1907},{225,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,53}}</string>
                <key>sourceSize</key>
                <string>{225,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>paytable.png</string>
            <key>size</key>
            <string>{1885,2015}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a54df7438e07aca78694d5d88f67b34:1/1$</string>
            <key>textureFileName</key>
            <string>paytable.png</string>
        </dict>
    </dict>
</plist>
