<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paytable_button1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,1068},{274,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,82}}</string>
                <key>sourceSize</key>
                <string>{274,82}</string>
            </dict>
            <key>paytable_button1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,984},{274,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,82}}</string>
                <key>sourceSize</key>
                <string>{274,82}</string>
            </dict>
            <key>paytable_buttonleft_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,1152},{62,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,83}}</string>
                <key>sourceSize</key>
                <string>{62,83}</string>
            </dict>
            <key>paytable_buttonleft_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,1404},{62,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,83}}</string>
                <key>sourceSize</key>
                <string>{62,83}</string>
            </dict>
            <key>theme174_page1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1012,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1012,448}}</string>
                <key>sourceSize</key>
                <string>{1012,448}</string>
            </dict>
            <key>theme174_page2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,452},{1032,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1032,345}}</string>
                <key>sourceSize</key>
                <string>{1032,345}</string>
            </dict>
            <key>theme174_page2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,409},{931,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{931,82}}</string>
                <key>sourceSize</key>
                <string>{931,82}</string>
            </dict>
            <key>theme174_page3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,452},{1022,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1022,273}}</string>
                <key>sourceSize</key>
                <string>{1022,273}</string>
            </dict>
            <key>theme174_page3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,409},{920,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{920,170}}</string>
                <key>sourceSize</key>
                <string>{920,170}</string>
            </dict>
            <key>theme174_page4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,1404},{618,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,74}}</string>
                <key>sourceSize</key>
                <string>{618,74}</string>
            </dict>
            <key>theme174_page4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,409},{1002,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1002,206}}</string>
                <key>sourceSize</key>
                <string>{1002,206}</string>
            </dict>
            <key>theme174_page4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,409},{937,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{937,152}}</string>
                <key>sourceSize</key>
                <string>{937,152}</string>
            </dict>
            <key>theme174_page5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{983,405}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{983,405}}</string>
                <key>sourceSize</key>
                <string>{983,405}</string>
            </dict>
            <key>theme174_page6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{1049,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1049,396}}</string>
                <key>sourceSize</key>
                <string>{1049,396}</string>
            </dict>
            <key>theme174_paytable_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,409},{573,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{573,305}}</string>
                <key>sourceSize</key>
                <string>{573,305}</string>
            </dict>
            <key>theme174_paytable_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1486},{345,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,54}}</string>
                <key>sourceSize</key>
                <string>{345,54}</string>
            </dict>
            <key>theme174_paytable_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,1476},{545,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,54}}</string>
                <key>sourceSize</key>
                <string>{545,54}</string>
            </dict>
            <key>theme174_paytable_head3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,1480},{542,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{542,54}}</string>
                <key>sourceSize</key>
                <string>{542,54}</string>
            </dict>
            <key>theme174_paytable_head4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1972,984},{348,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,54}}</string>
                <key>sourceSize</key>
                <string>{348,54}</string>
            </dict>
            <key>theme174_paytable_head5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,1348},{801,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{801,54}}</string>
                <key>sourceSize</key>
                <string>{801,54}</string>
            </dict>
            <key>theme174_paytable_head6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,409},{849,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{849,54}}</string>
                <key>sourceSize</key>
                <string>{849,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>paytable.png</string>
            <key>size</key>
            <string>{2033,1545}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41b23183a5037a3c5ae7a8be6ecf9449:1/1$</string>
            <key>textureFileName</key>
            <string>paytable.png</string>
        </dict>
    </dict>
</plist>
