<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme138_base_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,2},{182,426}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,426}}</string>
                <key>sourceSize</key>
                <string>{182,426}</string>
            </dict>
            <key>theme138_base_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,2},{182,426}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,426}}</string>
                <key>sourceSize</key>
                <string>{182,426}</string>
            </dict>
            <key>theme138_base_grand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1990,2},{129,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,31}}</string>
                <key>sourceSize</key>
                <string>{129,31}</string>
            </dict>
            <key>theme138_base_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,204},{37,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,17}}</string>
                <key>sourceSize</key>
                <string>{37,17}</string>
            </dict>
            <key>theme138_base_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,122},{373,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{373,53}}</string>
                <key>sourceSize</key>
                <string>{373,53}</string>
            </dict>
            <key>theme138_base_jackpot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,190},{261,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,41}}</string>
                <key>sourceSize</key>
                <string>{261,41}</string>
            </dict>
            <key>theme138_base_jackpot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,122},{168,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,41}}</string>
                <key>sourceSize</key>
                <string>{168,41}</string>
            </dict>
            <key>theme138_base_jackpotbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1074,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1074,118}}</string>
                <key>sourceSize</key>
                <string>{1074,118}</string>
            </dict>
            <key>theme138_base_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{90,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,500}}</string>
                <key>sourceSize</key>
                <string>{90,500}</string>
            </dict>
            <key>theme138_base_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,177},{11,426}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,426}}</string>
                <key>sourceSize</key>
                <string>{11,426}</string>
            </dict>
            <key>theme138_base_major.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,186},{109,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,28}}</string>
                <key>sourceSize</key>
                <string>{109,28}</string>
            </dict>
            <key>theme138_base_maxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,122},{83,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,27}}</string>
                <key>sourceSize</key>
                <string>{83,27}</string>
            </dict>
            <key>theme138_base_megatop.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,190},{72,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,44}}</string>
                <key>sourceSize</key>
                <string>{72,44}</string>
            </dict>
            <key>theme138_base_mini.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,175},{72,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,27}}</string>
                <key>sourceSize</key>
                <string>{72,27}</string>
            </dict>
            <key>theme138_base_minor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,216},{100,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,28}}</string>
                <key>sourceSize</key>
                <string>{100,28}</string>
            </dict>
            <key>theme138_base_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,165},{37,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,17}}</string>
                <key>sourceSize</key>
                <string>{37,17}</string>
            </dict>
            <key>theme138_base_respinBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,2},{156,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,54}}</string>
                <key>sourceSize</key>
                <string>{156,54}</string>
            </dict>
            <key>theme138_base_respinOf.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,186},{45,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,28}}</string>
                <key>sourceSize</key>
                <string>{45,28}</string>
            </dict>
            <key>theme138_base_respinSpin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,216},{74,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,27}}</string>
                <key>sourceSize</key>
                <string>{74,27}</string>
            </dict>
            <key>theme138_base_row.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,165},{94,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,8}}</string>
                <key>sourceSize</key>
                <string>{94,8}</string>
            </dict>
            <key>theme138_base_supertop.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,165},{77,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,49}}</string>
                <key>sourceSize</key>
                <string>{77,49}</string>
            </dict>
            <key>theme138_base_titltbg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1990,133},{23,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,27}}</string>
                <key>sourceSize</key>
                <string>{23,27}</string>
            </dict>
            <key>theme138_base_titltbg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,160},{64,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,80}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>theme138_base_ways.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,158},{18,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,69}}</string>
                <key>sourceSize</key>
                <string>{18,69}</string>
            </dict>
            <key>theme138_megainfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{581,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,33}}</string>
                <key>sourceSize</key>
                <string>{581,33}</string>
            </dict>
            <key>theme138_superinfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,207},{701,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{701,34}}</string>
                <key>sourceSize</key>
                <string>{701,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>base.png</string>
            <key>size</key>
            <string>{2023,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51786980ba14cbafbc72f13fca2fdf8b:1/1$</string>
            <key>textureFileName</key>
            <string>base.png</string>
        </dict>
    </dict>
</plist>
