<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme138_popup_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{494,510}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,510}}</string>
                <key>sourceSize</key>
                <string>{494,510}</string>
            </dict>
            <key>theme138_popup_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,1482},{181,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,238}}</string>
                <key>sourceSize</key>
                <string>{181,238}</string>
            </dict>
            <key>theme138_popup_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,534},{390,423}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,423}}</string>
                <key>sourceSize</key>
                <string>{390,423}</string>
            </dict>
            <key>theme138_popup_bgmega.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{481,458}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{481,458}}</string>
                <key>sourceSize</key>
                <string>{481,458}</string>
            </dict>
            <key>theme138_popup_center1.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1780},{440,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,159}}</string>
                <key>sourceSize</key>
                <string>{440,159}</string>
            </dict>
            <key>theme138_popup_center2.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,348},{441,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{441,184}}</string>
                <key>sourceSize</key>
                <string>{441,184}</string>
            </dict>
            <key>theme138_popup_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1572},{281,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,206}}</string>
                <key>sourceSize</key>
                <string>{281,206}</string>
            </dict>
            <key>theme138_popup_collect.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,534},{340,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,86}}</string>
                <key>sourceSize</key>
                <string>{340,86}</string>
            </dict>
            <key>theme138_popup_collect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{340,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,86}}</string>
                <key>sourceSize</key>
                <string>{340,86}</string>
            </dict>
            <key>theme138_popup_extra.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,348},{169,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,47}}</string>
                <key>sourceSize</key>
                <string>{169,47}</string>
            </dict>
            <key>theme138_popup_extra1.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,959},{521,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,82}}</string>
                <key>sourceSize</key>
                <string>{521,82}</string>
            </dict>
            <key>theme138_popup_extra2.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,959},{521,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,82}}</string>
                <key>sourceSize</key>
                <string>{521,82}</string>
            </dict>
            <key>theme138_popup_extrafre.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,1180},{313,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,47}}</string>
                <key>sourceSize</key>
                <string>{313,47}</string>
            </dict>
            <key>theme138_popup_extrasp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,841},{337,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,49}}</string>
                <key>sourceSize</key>
                <string>{337,49}</string>
            </dict>
            <key>theme138_popup_flag1.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,1722},{244,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,171}}</string>
                <key>sourceSize</key>
                <string>{244,171}</string>
            </dict>
            <key>theme138_popup_flag2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1782},{244,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,171}}</string>
                <key>sourceSize</key>
                <string>{244,171}</string>
            </dict>
            <key>theme138_popup_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1619},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>theme138_popup_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,1477},{137,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,256}}</string>
                <key>sourceSize</key>
                <string>{137,256}</string>
            </dict>
            <key>theme138_popup_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,974},{596,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,296}}</string>
                <key>sourceSize</key>
                <string>{596,296}</string>
            </dict>
            <key>theme138_popup_mega.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,959},{581,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,33}}</string>
                <key>sourceSize</key>
                <string>{581,33}</string>
            </dict>
            <key>theme138_popup_relogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{470,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,344}}</string>
                <key>sourceSize</key>
                <string>{470,344}</string>
            </dict>
            <key>theme138_popup_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,1735},{103,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,190}}</string>
                <key>sourceSize</key>
                <string>{103,190}</string>
            </dict>
            <key>theme138_popup_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,876},{71,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,68}}</string>
                <key>sourceSize</key>
                <string>{71,68}</string>
            </dict>
            <key>theme138_popup_start1.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,1735},{289,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,86}}</string>
                <key>sourceSize</key>
                <string>{289,86}</string>
            </dict>
            <key>theme138_popup_start2.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,1941},{290,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,86}}</string>
                <key>sourceSize</key>
                <string>{290,86}</string>
            </dict>
            <key>theme138_popup_start2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1941},{290,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,86}}</string>
                <key>sourceSize</key>
                <string>{290,86}</string>
            </dict>
            <key>theme138_popup_super.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,959},{701,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{701,34}}</string>
                <key>sourceSize</key>
                <string>{701,34}</string>
            </dict>
            <key>theme138_popup_title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,959},{658,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{658,103}}</string>
                <key>sourceSize</key>
                <string>{658,103}</string>
            </dict>
            <key>theme138_popup_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,1895},{199,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,43}}</string>
                <key>sourceSize</key>
                <string>{199,43}</string>
            </dict>
            <key>theme138_popup_title3.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,974},{782,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{782,112}}</string>
                <key>sourceSize</key>
                <string>{782,112}</string>
            </dict>
            <key>theme138_popup_title4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,344},{495,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{495,49}}</string>
                <key>sourceSize</key>
                <string>{495,49}</string>
            </dict>
            <key>theme138_popup_title5.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,876},{516,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,77}}</string>
                <key>sourceSize</key>
                <string>{516,77}</string>
            </dict>
            <key>theme138_popup_title5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,959},{521,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,82}}</string>
                <key>sourceSize</key>
                <string>{521,82}</string>
            </dict>
            <key>theme138_popup_title5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,959},{521,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,82}}</string>
                <key>sourceSize</key>
                <string>{521,82}</string>
            </dict>
            <key>theme138_popup_title5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,959},{516,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,77}}</string>
                <key>sourceSize</key>
                <string>{516,77}</string>
            </dict>
            <key>theme138_popup_title6.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,519},{282,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,58}}</string>
                <key>sourceSize</key>
                <string>{282,58}</string>
            </dict>
            <key>theme138_popup_title7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,1495},{199,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,43}}</string>
                <key>sourceSize</key>
                <string>{199,43}</string>
            </dict>
            <key>theme138_popup_title8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,974},{806,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{806,113}}</string>
                <key>sourceSize</key>
                <string>{806,113}</string>
            </dict>
            <key>theme138_popup_wenhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1940},{58,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,91}}</string>
                <key>sourceSize</key>
                <string>{58,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>popup.png</string>
            <key>size</key>
            <string>{1082,2029}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a912ad7d59536e5e583e721d9aa121b9:1/1$</string>
            <key>textureFileName</key>
            <string>popup.png</string>
        </dict>
    </dict>
</plist>
