<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{326,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,102}}</string>
                <key>sourceSize</key>
                <string>{326,102}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,65}}</string>
                <key>sourceSize</key>
                <string>{62,65}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{105,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,99}}</string>
                <key>sourceSize</key>
                <string>{105,99}</string>
            </dict>
            <key>font1.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,2},{528,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,39}}</string>
                <key>sourceSize</key>
                <string>{528,39}</string>
            </dict>
            <key>font2.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{400,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,31}}</string>
                <key>sourceSize</key>
                <string>{400,31}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,103},{448,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,108}}</string>
                <key>sourceSize</key>
                <string>{448,108}</string>
            </dict>
            <key>kuang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{832,765}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{832,765}}</string>
                <key>sourceSize</key>
                <string>{832,765}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,103},{434,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,92}}</string>
                <key>sourceSize</key>
                <string>{434,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>freeCoinsImg.png</string>
            <key>size</key>
            <string>{1216,980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41fafad7bb82daac706cce10dbc412f2$</string>
            <key>textureFileName</key>
            <string>freeCoinsImg.png</string>
        </dict>
    </dict>
</plist>
