<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,38},{402,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,96}}</string>
                <key>sourceSize</key>
                <string>{402,96}</string>
            </dict>
            <key>chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,246},{309,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,295}}</string>
                <key>sourceSize</key>
                <string>{309,295}</string>
            </dict>
            <key>chest1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{564,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,221}}</string>
                <key>sourceSize</key>
                <string>{564,221}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{62,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,65}}</string>
                <key>sourceSize</key>
                <string>{62,65}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,38},{91,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,101}}</string>
                <key>sourceSize</key>
                <string>{91,101}</string>
            </dict>
            <key>font1.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,2},{471,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,34}}</string>
                <key>sourceSize</key>
                <string>{471,34}</string>
            </dict>
            <key>font2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{363,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,21}}</string>
                <key>sourceSize</key>
                <string>{363,21}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{471,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,103}}</string>
                <key>sourceSize</key>
                <string>{471,103}</string>
            </dict>
            <key>kuang_v.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,543},{872,786}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{872,786}}</string>
                <key>sourceSize</key>
                <string>{872,786}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,38},{306,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,80}}</string>
                <key>sourceSize</key>
                <string>{306,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>freeCoinsImg.png</string>
            <key>size</key>
            <string>{879,1362}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:774d9e374f04ee3b0c83fe3ad2ff36ac$</string>
            <key>textureFileName</key>
            <string>freeCoinsImg.png</string>
        </dict>
    </dict>
</plist>
