<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme244_base_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{896,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{896,29}}</string>
                <key>sourceSize</key>
                <string>{896,29}</string>
            </dict>
            <key>theme244_base_bg10.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,705},{135,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,97}}</string>
                <key>sourceSize</key>
                <string>{135,97}</string>
            </dict>
            <key>theme244_base_bg11.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,631},{50,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,24}}</string>
                <key>sourceSize</key>
                <string>{50,24}</string>
            </dict>
            <key>theme244_base_bg12.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,900},{27,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,20}}</string>
                <key>sourceSize</key>
                <string>{27,20}</string>
            </dict>
            <key>theme244_base_bg13.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,590},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>theme244_base_bg13_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,549},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>theme244_base_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,683},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{51,53}</string>
            </dict>
            <key>theme244_base_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,586},{27,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,420}}</string>
                <key>sourceSize</key>
                <string>{27,420}</string>
            </dict>
            <key>theme244_base_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,2},{896,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{896,27}}</string>
                <key>sourceSize</key>
                <string>{896,27}</string>
            </dict>
            <key>theme244_base_bg5.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{451,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{451,126}}</string>
                <key>sourceSize</key>
                <string>{451,126}</string>
            </dict>
            <key>theme244_base_bg6.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,840},{180,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,139}}</string>
                <key>sourceSize</key>
                <string>{180,139}</string>
            </dict>
            <key>theme244_base_bg7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>theme244_base_bg8.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,417},{4,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,165}}</string>
                <key>sourceSize</key>
                <string>{4,165}</string>
            </dict>
            <key>theme244_base_bg9.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,366},{71,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,49}}</string>
                <key>sourceSize</key>
                <string>{71,49}</string>
            </dict>
            <key>theme244_base_collect0.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,738},{37,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,30}}</string>
                <key>sourceSize</key>
                <string>{37,30}</string>
            </dict>
            <key>theme244_base_collect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,510},{37,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,28}}</string>
                <key>sourceSize</key>
                <string>{37,28}</string>
            </dict>
            <key>theme244_base_collect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,842},{126,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,98}}</string>
                <key>sourceSize</key>
                <string>{126,98}</string>
            </dict>
            <key>theme244_base_collect3.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,839},{88,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,69}}</string>
                <key>sourceSize</key>
                <string>{88,69}</string>
            </dict>
            <key>theme244_base_collect4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,935},{75,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,71}}</string>
                <key>sourceSize</key>
                <string>{75,71}</string>
            </dict>
            <key>theme244_base_collect5.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{445,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,77}}</string>
                <key>sourceSize</key>
                <string>{445,77}</string>
            </dict>
            <key>theme244_base_collect_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{69,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,432}}</string>
                <key>sourceSize</key>
                <string>{69,432}</string>
            </dict>
            <key>theme244_base_collect_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{362,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,113}}</string>
                <key>sourceSize</key>
                <string>{362,113}</string>
            </dict>
            <key>theme244_base_collect_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,436},{267,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,47}}</string>
                <key>sourceSize</key>
                <string>{267,47}</string>
            </dict>
            <key>theme244_base_collect_tip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,981},{153,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,25}}</string>
                <key>sourceSize</key>
                <string>{153,25}</string>
            </dict>
            <key>theme244_base_ear.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,366},{40,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,68}}</string>
                <key>sourceSize</key>
                <string>{40,68}</string>
            </dict>
            <key>theme244_jp_bg0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{582,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,44}}</string>
                <key>sourceSize</key>
                <string>{582,44}</string>
            </dict>
            <key>theme244_jp_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{582,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,44}}</string>
                <key>sourceSize</key>
                <string>{582,44}</string>
            </dict>
            <key>theme244_jp_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,449},{383,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,39}}</string>
                <key>sourceSize</key>
                <string>{383,39}</string>
            </dict>
            <key>theme244_jp_bg2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,455},{383,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,39}}</string>
                <key>sourceSize</key>
                <string>{383,39}</string>
            </dict>
            <key>theme244_jp_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,455},{383,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,39}}</string>
                <key>sourceSize</key>
                <string>{383,39}</string>
            </dict>
            <key>theme244_jp_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,455},{383,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,39}}</string>
                <key>sourceSize</key>
                <string>{383,39}</string>
            </dict>
            <key>theme244_jp_bg5.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,455},{383,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,39}}</string>
                <key>sourceSize</key>
                <string>{383,39}</string>
            </dict>
            <key>theme244_jp_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,586},{347,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,64}}</string>
                <key>sourceSize</key>
                <string>{347,64}</string>
            </dict>
            <key>theme244_jp_name0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,842},{117,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,32}}</string>
                <key>sourceSize</key>
                <string>{117,32}</string>
            </dict>
            <key>theme244_jp_name0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,929},{71,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,27}}</string>
                <key>sourceSize</key>
                <string>{71,27}</string>
            </dict>
            <key>theme244_jp_name0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,685},{91,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,27}}</string>
                <key>sourceSize</key>
                <string>{91,27}</string>
            </dict>
            <key>theme244_jp_name0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,584},{91,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,27}}</string>
                <key>sourceSize</key>
                <string>{91,27}</string>
            </dict>
            <key>theme244_jp_name0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,778},{59,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,26}}</string>
                <key>sourceSize</key>
                <string>{59,26}</string>
            </dict>
            <key>theme244_jp_name_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,417},{117,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,32}}</string>
                <key>sourceSize</key>
                <string>{117,32}</string>
            </dict>
            <key>theme244_jp_name_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,935},{71,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,27}}</string>
                <key>sourceSize</key>
                <string>{71,27}</string>
            </dict>
            <key>theme244_jp_name_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,970},{91,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,27}}</string>
                <key>sourceSize</key>
                <string>{91,27}</string>
            </dict>
            <key>theme244_jp_name_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,417},{91,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,27}}</string>
                <key>sourceSize</key>
                <string>{91,27}</string>
            </dict>
            <key>theme244_jp_name_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,778},{59,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,26}}</string>
                <key>sourceSize</key>
                <string>{59,26}</string>
            </dict>
            <key>theme244_jp_unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,436},{247,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,64}}</string>
                <key>sourceSize</key>
                <string>{247,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>base.png</string>
            <key>size</key>
            <string>{547,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52a937c33873b5620ae3d57e033665f0:1/1$</string>
            <key>textureFileName</key>
            <string>base.png</string>
        </dict>
    </dict>
</plist>
