<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>delete_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,110},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>prize_wholebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{708,532}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{708,532}}</string>
                <key>sourceSize</key>
                <string>{708,532}</string>
            </dict>
            <key>settings_tittle.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,2},{194,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,38}}</string>
                <key>sourceSize</key>
                <string>{194,38}</string>
            </dict>
            <key>switch_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{173,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,51}}</string>
                <key>sourceSize</key>
                <string>{173,51}</string>
            </dict>
            <key>switch_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,42},{173,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,51}}</string>
                <key>sourceSize</key>
                <string>{173,51}</string>
            </dict>
            <key>switchicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,42},{89,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,55}}</string>
                <key>sourceSize</key>
                <string>{89,55}</string>
            </dict>
            <key>text_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,42},{189,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,66}}</string>
                <key>sourceSize</key>
                <string>{189,66}</string>
            </dict>
            <key>text_privacy policy.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{207,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,35}}</string>
                <key>sourceSize</key>
                <string>{207,35}</string>
            </dict>
            <key>text_sounds.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{216,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,71}}</string>
                <key>sourceSize</key>
                <string>{216,71}</string>
            </dict>
            <key>text_terms of service.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,35}}</string>
                <key>sourceSize</key>
                <string>{234,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>setting.png</string>
            <key>size</key>
            <string>{712,722}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d13231358e4c51e2ebbdca88d245e5d8$</string>
            <key>textureFileName</key>
            <string>setting.png</string>
        </dict>
    </dict>
</plist>
