<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FREEGAME.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,2},{110,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,25}}</string>
                <key>sourceSize</key>
                <string>{110,25}</string>
            </dict>
            <key>HOLDFORAUTO.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,13}}</string>
                <key>sourceSize</key>
                <string>{160,13}</string>
            </dict>
            <key>HOLDFORAUTO02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,13}}</string>
                <key>sourceSize</key>
                <string>{160,13}</string>
            </dict>
            <key>HOLDFORAUTO_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{160,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,13}}</string>
                <key>sourceSize</key>
                <string>{160,13}</string>
            </dict>
            <key>SPIN.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,50},{121,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,44}}</string>
                <key>sourceSize</key>
                <string>{121,44}</string>
            </dict>
            <key>SPIN02.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,50},{121,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,44}}</string>
                <key>sourceSize</key>
                <string>{121,44}</string>
            </dict>
            <key>SPIN_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,50},{121,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,44}}</string>
                <key>sourceSize</key>
                <string>{121,44}</string>
            </dict>
            <key>STOP.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,50},{135,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,44}}</string>
                <key>sourceSize</key>
                <string>{135,44}</string>
            </dict>
            <key>STOP02.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,50},{135,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,44}}</string>
                <key>sourceSize</key>
                <string>{135,44}</string>
            </dict>
            <key>STOP03.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,50},{135,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,44}}</string>
                <key>sourceSize</key>
                <string>{135,44}</string>
            </dict>
            <key>anxia_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,50},{180,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,44}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>anxia_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,116},{180,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,44}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>anxia_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,116},{180,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,44}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>anxia_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,50},{180,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,44}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>anxia_500.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,116},{180,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,44}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>anxia_fast.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{180,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,44}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>big_back_half.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,624},{720,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,317}}</string>
                <key>sourceSize</key>
                <string>{720,317}</string>
            </dict>
            <key>dating_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{720,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,216}}</string>
                <key>sourceSize</key>
                <string>{720,216}</string>
            </dict>
            <key>freegame_backyellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,50},{112,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,64}}</string>
                <key>sourceSize</key>
                <string>{112,64}</string>
            </dict>
            <key>freegamespin_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{192,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,270}}</string>
                <key>sourceSize</key>
                <string>{192,270}</string>
            </dict>
            <key>header_bg_golden.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,352},{720,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,208}}</string>
                <key>sourceSize</key>
                <string>{720,208}</string>
            </dict>
            <key>icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,223},{103,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,105}}</string>
                <key>sourceSize</key>
                <string>{103,105}</string>
            </dict>
            <key>icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,116},{103,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,105}}</string>
                <key>sourceSize</key>
                <string>{103,105}</string>
            </dict>
            <key>icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,116},{103,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,105}}</string>
                <key>sourceSize</key>
                <string>{103,105}</string>
            </dict>
            <key>icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{103,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,105}}</string>
                <key>sourceSize</key>
                <string>{103,105}</string>
            </dict>
            <key>icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,223},{124,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,127}}</string>
                <key>sourceSize</key>
                <string>{124,127}</string>
            </dict>
            <key>kong13345.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,116},{180,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,44}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>maxbet_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,223},{126,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,88}}</string>
                <key>sourceSize</key>
                <string>{126,88}</string>
            </dict>
            <key>maxbet_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,223},{126,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,88}}</string>
                <key>sourceSize</key>
                <string>{126,88}</string>
            </dict>
            <key>maxbet_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,223},{126,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,88}}</string>
                <key>sourceSize</key>
                <string>{126,88}</string>
            </dict>
            <key>minus_h01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,2},{107,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,46}}</string>
                <key>sourceSize</key>
                <string>{107,46}</string>
            </dict>
            <key>minus_h02.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,2},{107,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,46}}</string>
                <key>sourceSize</key>
                <string>{107,46}</string>
            </dict>
            <key>minus_h03.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{107,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,46}}</string>
                <key>sourceSize</key>
                <string>{107,46}</string>
            </dict>
            <key>plus_h01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{107,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,46}}</string>
                <key>sourceSize</key>
                <string>{107,46}</string>
            </dict>
            <key>plus_h02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,2},{107,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,46}}</string>
                <key>sourceSize</key>
                <string>{107,46}</string>
            </dict>
            <key>plus_h03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,2},{107,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,46}}</string>
                <key>sourceSize</key>
                <string>{107,46}</string>
            </dict>
            <key>spin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,223},{239,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,82}}</string>
                <key>sourceSize</key>
                <string>{239,82}</string>
            </dict>
            <key>spin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,223},{239,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,82}}</string>
                <key>sourceSize</key>
                <string>{239,82}</string>
            </dict>
            <key>spin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,223},{239,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,82}}</string>
                <key>sourceSize</key>
                <string>{239,82}</string>
            </dict>
            <key>totalbetzit.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{106,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,25}}</string>
                <key>sourceSize</key>
                <string>{106,25}</string>
            </dict>
            <key>totalwin.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{110,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,25}}</string>
                <key>sourceSize</key>
                <string>{110,25}</string>
            </dict>
            <key>unlock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,352},{261,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,202}}</string>
                <key>sourceSize</key>
                <string>{261,202}</string>
            </dict>
            <key>wnzi_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,116},{220,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,43}}</string>
                <key>sourceSize</key>
                <string>{220,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>footer.png</string>
            <key>size</key>
            <string>{1446,943}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01327586aef82c929e1b268a5a30d6e1$</string>
            <key>textureFileName</key>
            <string>footer.png</string>
        </dict>
    </dict>
</plist>
