<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paytable_button1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,1720},{274,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,82}}</string>
                <key>sourceSize</key>
                <string>{274,82}</string>
            </dict>
            <key>paytable_button1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1720},{274,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,82}}</string>
                <key>sourceSize</key>
                <string>{274,82}</string>
            </dict>
            <key>paytable_buttonleft_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,1720},{62,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,83}}</string>
                <key>sourceSize</key>
                <string>{62,83}</string>
            </dict>
            <key>paytable_buttonleft_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,1635},{62,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,83}}</string>
                <key>sourceSize</key>
                <string>{62,83}</string>
            </dict>
            <key>theme164_paytable_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,1677},{572,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,317}}</string>
                <key>sourceSize</key>
                <string>{572,317}</string>
            </dict>
            <key>theme164_paytable_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1635},{345,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,54}}</string>
                <key>sourceSize</key>
                <string>{345,54}</string>
            </dict>
            <key>theme164_paytable_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1677},{144,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,54}}</string>
                <key>sourceSize</key>
                <string>{144,54}</string>
            </dict>
            <key>theme164_paytable_head3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1238},{360,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,54}}</string>
                <key>sourceSize</key>
                <string>{360,54}</string>
            </dict>
            <key>theme164_paytable_head4.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,854},{779,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{779,54}}</string>
                <key>sourceSize</key>
                <string>{779,54}</string>
            </dict>
            <key>theme164_paytable_page1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{962,382}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{962,382}}</string>
                <key>sourceSize</key>
                <string>{962,382}</string>
            </dict>
            <key>theme164_paytable_page2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,1604},{899,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{899,71}}</string>
                <key>sourceSize</key>
                <string>{899,71}</string>
            </dict>
            <key>theme164_paytable_page2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,1238},{906,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{906,364}}</string>
                <key>sourceSize</key>
                <string>{906,364}</string>
            </dict>
            <key>theme164_paytable_page3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1021,427}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1021,427}}</string>
                <key>sourceSize</key>
                <string>{1021,427}</string>
            </dict>
            <key>theme164_paytable_page4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,431},{1005,421}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1005,421}}</string>
                <key>sourceSize</key>
                <string>{1005,421}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>paytable.png</string>
            <key>size</key>
            <string>{1025,1996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdaa83470f694f8e72aae414e5554d2f:1/1$</string>
            <key>textureFileName</key>
            <string>paytable.png</string>
        </dict>
    </dict>
</plist>
