<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme240_popup_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,2},{327,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,100}}</string>
                <key>sourceSize</key>
                <string>{327,100}</string>
            </dict>
            <key>theme240_popup_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{327,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,100}}</string>
                <key>sourceSize</key>
                <string>{327,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>popup.png</string>
            <key>size</key>
            <string>{660,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f969db4fc79035093b71051a9856192:1/1$</string>
            <key>textureFileName</key>
            <string>popup.png</string>
        </dict>
    </dict>
</plist>
