<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lock_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{250,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,121}}</string>
                <key>sourceSize</key>
                <string>{250,121}</string>
            </dict>
            <key>lock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,73}}</string>
                <key>sourceSize</key>
                <string>{51,73}</string>
            </dict>
            <key>rukou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,908},{683,510}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{683,510}}</string>
                <key>sourceSize</key>
                <string>{683,510}</string>
            </dict>
            <key>rukou_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,2},{306,451}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,451}}</string>
                <key>sourceSize</key>
                <string>{306,451}</string>
            </dict>
            <key>rukou_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,2},{279,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,162}}</string>
                <key>sourceSize</key>
                <string>{279,162}</string>
            </dict>
            <key>rukou_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,455},{306,451}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,451}}</string>
                <key>sourceSize</key>
                <string>{306,451}</string>
            </dict>
            <key>rukou_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{306,451}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,451}}</string>
                <key>sourceSize</key>
                <string>{306,451}</string>
            </dict>
            <key>rukou_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,908},{306,451}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,451}}</string>
                <key>sourceSize</key>
                <string>{306,451}</string>
            </dict>
            <key>rukou_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,455},{306,451}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,451}}</string>
                <key>sourceSize</key>
                <string>{306,451}</string>
            </dict>
            <key>rukou_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,455},{306,451}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,451}}</string>
                <key>sourceSize</key>
                <string>{306,451}</string>
            </dict>
            <key>rukou_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,455},{306,451}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,451}}</string>
                <key>sourceSize</key>
                <string>{306,451}</string>
            </dict>
            <key>rukou_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,2},{306,451}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,451}}</string>
                <key>sourceSize</key>
                <string>{306,451}</string>
            </dict>
            <key>rukou_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{306,451}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,451}}</string>
                <key>sourceSize</key>
                <string>{306,451}</string>
            </dict>
            <key>unlock_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,908},{430,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,201}}</string>
                <key>sourceSize</key>
                <string>{430,201}</string>
            </dict>
            <key>unlock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{242,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,174}}</string>
                <key>sourceSize</key>
                <string>{242,174}</string>
            </dict>
            <key>unlock_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,2},{260,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,157}}</string>
                <key>sourceSize</key>
                <string>{260,157}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lobby.png</string>
            <key>size</key>
            <string>{1735,1420}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3112eb640d3849b732d044e3e75034dd$</string>
            <key>textureFileName</key>
            <string>lobby.png</string>
        </dict>
    </dict>
</plist>
