<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme225_baes_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{855,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{855,117}}</string>
                <key>sourceSize</key>
                <string>{855,117}</string>
            </dict>
            <key>theme225_baes_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,524},{262,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,163}}</string>
                <key>sourceSize</key>
                <string>{262,163}</string>
            </dict>
            <key>theme225_baes_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,963},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>theme225_baes_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,279},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>theme225_baes_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,152},{125,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,191}}</string>
                <key>sourceSize</key>
                <string>{125,191}</string>
            </dict>
            <key>theme225_baes_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{563,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{563,230}}</string>
                <key>sourceSize</key>
                <string>{563,230}</string>
            </dict>
            <key>theme225_baes_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,682},{181,94}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{181,94}}</string>
                <key>sourceSize</key>
                <string>{181,100}</string>
            </dict>
            <key>theme225_baes_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,377},{4,395}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,395}}</string>
                <key>sourceSize</key>
                <string>{4,395}</string>
            </dict>
            <key>theme225_baes_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,384},{73,373}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,373}}</string>
                <key>sourceSize</key>
                <string>{73,373}</string>
            </dict>
            <key>theme225_baes_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{904,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{904,29}}</string>
                <key>sourceSize</key>
                <string>{904,29}</string>
            </dict>
            <key>theme225_baes_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,459},{63,403}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,403}}</string>
                <key>sourceSize</key>
                <string>{63,403}</string>
            </dict>
            <key>theme225_baes_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,412},{114,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,59}}</string>
                <key>sourceSize</key>
                <string>{114,59}</string>
            </dict>
            <key>theme225_baes_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,963},{31,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,65}}</string>
                <key>sourceSize</key>
                <string>{31,65}</string>
            </dict>
            <key>theme225_baes_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{209,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,313}}</string>
                <key>sourceSize</key>
                <string>{209,313}</string>
            </dict>
            <key>theme225_baes_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,699},{262,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,163}}</string>
                <key>sourceSize</key>
                <string>{262,163}</string>
            </dict>
            <key>theme225_baes_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,152},{262,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,163}}</string>
                <key>sourceSize</key>
                <string>{262,163}</string>
            </dict>
            <key>theme225_baes_jp_name0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,509},{115,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,18}}</string>
                <key>sourceSize</key>
                <string>{115,18}</string>
            </dict>
            <key>theme225_baes_jp_name1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,392},{115,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,18}}</string>
                <key>sourceSize</key>
                <string>{115,18}</string>
            </dict>
            <key>theme225_baes_jp_name2.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,2},{105,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{105,18}}</string>
                <key>sourceSize</key>
                <string>{115,18}</string>
            </dict>
            <key>theme225_baes_jp_tip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,949},{256,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,57}}</string>
                <key>sourceSize</key>
                <string>{256,57}</string>
            </dict>
            <key>theme225_baes_jp_tip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,317},{334,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,58}}</string>
                <key>sourceSize</key>
                <string>{334,58}</string>
            </dict>
            <key>theme225_baes_map_dark_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,473},{86,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{86,48}}</string>
                <key>sourceSize</key>
                <string>{90,50}</string>
            </dict>
            <key>theme225_baes_map_dark_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,865},{92,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{92,50}}</string>
                <key>sourceSize</key>
                <string>{96,52}</string>
            </dict>
            <key>theme225_baes_map_light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,279},{90,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,50}}</string>
                <key>sourceSize</key>
                <string>{90,50}</string>
            </dict>
            <key>theme225_baes_map_light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,279},{96,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,52}}</string>
                <key>sourceSize</key>
                <string>{96,52}</string>
            </dict>
            <key>theme225_bonus_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,689},{261,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,89}}</string>
                <key>sourceSize</key>
                <string>{261,89}</string>
            </dict>
            <key>theme225_bonus_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,699},{261,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,89}}</string>
                <key>sourceSize</key>
                <string>{261,89}</string>
            </dict>
            <key>theme225_bonus_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,441},{261,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,89}}</string>
                <key>sourceSize</key>
                <string>{261,89}</string>
            </dict>
            <key>theme225_bonus_tip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,917},{69,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,13}}</string>
                <key>sourceSize</key>
                <string>{69,13}</string>
            </dict>
            <key>theme225_bonus_tip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,279},{111,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{111,13}}</string>
                <key>sourceSize</key>
                <string>{113,13}</string>
            </dict>
            <key>theme225_bonus_tip3.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,822},{82,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{82,14}}</string>
                <key>sourceSize</key>
                <string>{86,16}</string>
            </dict>
            <key>theme225_fg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,963},{43,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,59}}</string>
                <key>sourceSize</key>
                <string>{43,59}</string>
            </dict>
            <key>theme225_fg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,383},{352,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,27}}</string>
                <key>sourceSize</key>
                <string>{352,27}</string>
            </dict>
            <key>theme225_fg_2_popopup_num10.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,688},{171,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,135}}</string>
                <key>sourceSize</key>
                <string>{171,135}</string>
            </dict>
            <key>theme225_fg_2_popopup_num12.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,826},{174,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,136}}</string>
                <key>sourceSize</key>
                <string>{174,136}</string>
            </dict>
            <key>theme225_fg_2_popopup_num15.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,688},{175,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,136}}</string>
                <key>sourceSize</key>
                <string>{175,136}</string>
            </dict>
            <key>theme225_fg_2_popopup_num8.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,2},{103,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,135}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>theme225_fg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,412},{298,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,27}}</string>
                <key>sourceSize</key>
                <string>{298,27}</string>
            </dict>
            <key>theme225_fg_num2.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,383},{27,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,35}}</string>
                <key>sourceSize</key>
                <string>{27,35}</string>
            </dict>
            <key>theme225_fg_num3.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,962},{25,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,35}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>theme225_fg_num4.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,962},{28,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,34}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>theme225_fg_num6.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,473},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>theme225_fg_num9.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,279},{28,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,35}}</string>
                <key>sourceSize</key>
                <string>{28,35}</string>
            </dict>
            <key>theme225_fg_pop_num10.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,532},{153,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,130}}</string>
                <key>sourceSize</key>
                <string>{153,130}</string>
            </dict>
            <key>theme225_fg_pop_num12.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,861},{156,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,133}}</string>
                <key>sourceSize</key>
                <string>{156,133}</string>
            </dict>
            <key>theme225_fg_pop_num15.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,524},{156,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,133}}</string>
                <key>sourceSize</key>
                <string>{156,133}</string>
            </dict>
            <key>theme225_fg_pop_num8.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,687},{98,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,133}}</string>
                <key>sourceSize</key>
                <string>{98,133}</string>
            </dict>
            <key>theme225_pop_com_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,610},{258,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,76}}</string>
                <key>sourceSize</key>
                <string>{258,76}</string>
            </dict>
            <key>theme225_pop_com_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,532},{258,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,76}}</string>
                <key>sourceSize</key>
                <string>{258,76}</string>
            </dict>
            <key>theme225_pop_com_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,689},{258,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,76}}</string>
                <key>sourceSize</key>
                <string>{258,76}</string>
            </dict>
            <key>theme225_pop_com_btn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,689},{258,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,76}}</string>
                <key>sourceSize</key>
                <string>{258,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>base.png</string>
            <key>size</key>
            <string>{1024,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf546861160957d21c80554b9f7c8114:1/1$</string>
            <key>textureFileName</key>
            <string>base.png</string>
        </dict>
    </dict>
</plist>
