<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme225_bonus_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,459},{1021,455}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1021,455}}</string>
                <key>sourceSize</key>
                <string>{1021,455}</string>
            </dict>
            <key>theme225_bonus_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,2},{1021,455}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1021,455}}</string>
                <key>sourceSize</key>
                <string>{1021,455}</string>
            </dict>
            <key>theme225_bonus_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1021,455}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1021,455}}</string>
                <key>sourceSize</key>
                <string>{1021,455}</string>
            </dict>
            <key>theme225_bonus_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,459},{273,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,422}}</string>
                <key>sourceSize</key>
                <string>{273,422}</string>
            </dict>
            <key>theme225_bonus_connect1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,916},{79,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,46}}</string>
                <key>sourceSize</key>
                <string>{79,46}</string>
            </dict>
            <key>theme225_bonus_connect2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,916},{79,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,46}}</string>
                <key>sourceSize</key>
                <string>{79,46}</string>
            </dict>
            <key>theme225_bonus_connect2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1972,883},{79,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,46}}</string>
                <key>sourceSize</key>
                <string>{79,46}</string>
            </dict>
            <key>theme225_bonus_connect2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1963,802},{79,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,46}}</string>
                <key>sourceSize</key>
                <string>{79,46}</string>
            </dict>
            <key>theme225_bonus_connect3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,916},{79,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,46}}</string>
                <key>sourceSize</key>
                <string>{79,46}</string>
            </dict>
            <key>theme225_bonus_connect3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,754},{79,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,46}}</string>
                <key>sourceSize</key>
                <string>{79,46}</string>
            </dict>
            <key>theme225_bonus_connect3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1974,673},{79,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,46}}</string>
                <key>sourceSize</key>
                <string>{79,46}</string>
            </dict>
            <key>theme225_bonus_connect3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,915},{79,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,46}}</string>
                <key>sourceSize</key>
                <string>{79,46}</string>
            </dict>
            <key>theme225_bonus_connect3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,915},{79,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,46}}</string>
                <key>sourceSize</key>
                <string>{79,46}</string>
            </dict>
            <key>theme225_bonus_dark_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,896},{212,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,68}}</string>
                <key>sourceSize</key>
                <string>{212,68}</string>
            </dict>
            <key>theme225_bonus_dark_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,826},{203,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,68}}</string>
                <key>sourceSize</key>
                <string>{203,68}</string>
            </dict>
            <key>theme225_bonus_dark_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1974,459},{212,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,68}}</string>
                <key>sourceSize</key>
                <string>{212,68}</string>
            </dict>
            <key>theme225_bonus_light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,734},{205,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,91}}</string>
                <key>sourceSize</key>
                <string>{205,91}</string>
            </dict>
            <key>theme225_bonus_light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,734},{203,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,90}}</string>
                <key>sourceSize</key>
                <string>{203,90}</string>
            </dict>
            <key>theme225_bonus_light_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,827},{203,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,86}}</string>
                <key>sourceSize</key>
                <string>{203,86}</string>
            </dict>
            <key>theme225_bonus_line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,916},{538,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,10}}</string>
                <key>sourceSize</key>
                <string>{538,10}</string>
            </dict>
            <key>theme225_bonus_line_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{537,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{537,10}}</string>
                <key>sourceSize</key>
                <string>{537,10}</string>
            </dict>
            <key>theme225_bonus_line_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,928},{537,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{537,10}}</string>
                <key>sourceSize</key>
                <string>{537,10}</string>
            </dict>
            <key>theme225_bonus_line_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,657},{523,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{523,196}}</string>
                <key>sourceSize</key>
                <string>{523,196}</string>
            </dict>
            <key>theme225_bonus_line_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,459},{523,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{523,196}}</string>
                <key>sourceSize</key>
                <string>{523,196}</string>
            </dict>
            <key>theme225_bonus_line_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,914},{526,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,57}}</string>
                <key>sourceSize</key>
                <string>{526,57}</string>
            </dict>
            <key>theme225_bonus_line_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,855},{526,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,57}}</string>
                <key>sourceSize</key>
                <string>{526,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bonus.png</string>
            <key>size</key>
            <string>{2048,973}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3abf8694f6f123d9c1ab43c52c7e8f0:1/1$</string>
            <key>textureFileName</key>
            <string>bonus.png</string>
        </dict>
    </dict>
</plist>
