<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme225_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,260},{250,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,127}}</string>
                <key>sourceSize</key>
                <string>{250,127}</string>
            </dict>
            <key>theme225_s_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{250,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,127}}</string>
                <key>sourceSize</key>
                <string>{250,127}</string>
            </dict>
            <key>theme225_s_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,131},{250,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,127}}</string>
                <key>sourceSize</key>
                <string>{250,127}</string>
            </dict>
            <key>theme225_s_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{250,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,127}}</string>
                <key>sourceSize</key>
                <string>{250,127}</string>
            </dict>
            <key>theme225_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,143}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,143}}</string>
                <key>sourceSize</key>
                <string>{250,157}</string>
            </dict>
            <key>theme225_s_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{-4.5,4.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>theme225_s_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,405},{176,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{176,120}}</string>
                <key>sourceSize</key>
                <string>{200,128}</string>
            </dict>
            <key>theme225_s_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,389},{176,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{176,120}}</string>
                <key>sourceSize</key>
                <string>{200,128}</string>
            </dict>
            <key>theme225_s_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,389},{178,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{178,120}}</string>
                <key>sourceSize</key>
                <string>{200,128}</string>
            </dict>
            <key>theme225_s_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,699},{164,112}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{164,112}}</string>
                <key>sourceSize</key>
                <string>{200,128}</string>
            </dict>
            <key>theme225_s_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,682},{164,112}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{164,112}}</string>
                <key>sourceSize</key>
                <string>{200,128}</string>
            </dict>
            <key>theme225_s_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,511},{172,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{172,120}}</string>
                <key>sourceSize</key>
                <string>{200,128}</string>
            </dict>
            <key>theme225_s_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,527},{172,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{172,100}}</string>
                <key>sourceSize</key>
                <string>{200,128}</string>
            </dict>
            <key>theme225_s_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,629},{172,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,30},{172,68}}</string>
                <key>sourceSize</key>
                <string>{200,128}</string>
            </dict>
            <key>theme225_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,567},{154,113}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,7},{154,113}}</string>
                <key>sourceSize</key>
                <string>{250,127}</string>
            </dict>
            <key>theme225_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,796},{162,123}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,4},{162,123}}</string>
                <key>sourceSize</key>
                <string>{250,127}</string>
            </dict>
            <key>theme225_s_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,633},{164,125}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,1},{164,125}}</string>
                <key>sourceSize</key>
                <string>{250,127}</string>
            </dict>
            <key>theme225_s_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{204,127}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{204,127}}</string>
                <key>sourceSize</key>
                <string>{250,127}</string>
            </dict>
            <key>theme225_s_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,813},{160,115}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,5},{160,115}}</string>
                <key>sourceSize</key>
                <string>{250,127}</string>
            </dict>
            <key>theme225_s_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,796},{158,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{158,127}}</string>
                <key>sourceSize</key>
                <string>{250,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>symbol.png</string>
            <key>size</key>
            <string>{510,934}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:628465be6b36beae63e141d94e9b7c88:1/1$</string>
            <key>textureFileName</key>
            <string>symbol.png</string>
        </dict>
    </dict>
</plist>
