<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme108_loading01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,265},{242,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,168}}</string>
                <key>sourceSize</key>
                <string>{242,168}</string>
            </dict>
            <key>theme108_loading01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,2},{261,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,163}}</string>
                <key>sourceSize</key>
                <string>{261,163}</string>
            </dict>
            <key>theme108_loading01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{256,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,181}}</string>
                <key>sourceSize</key>
                <string>{256,181}</string>
            </dict>
            <key>zeus_xuanbet_Lgg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{312,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,201}}</string>
                <key>sourceSize</key>
                <string>{312,201}</string>
            </dict>
            <key>zeus_xuanbet_Lggzit.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{466,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,85}}</string>
                <key>sourceSize</key>
                <string>{466,85}</string>
            </dict>
            <key>zeus_xuanbet_Rggzit01.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,2},{463,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,30}}</string>
                <key>sourceSize</key>
                <string>{463,30}</string>
            </dict>
            <key>zeus_xuanbet_Rggzit02.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,2},{465,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,30}}</string>
                <key>sourceSize</key>
                <string>{465,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading.png</string>
            <key>size</key>
            <string>{581,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b25a3338d62eaff18c0e3631c923368:1/1$</string>
            <key>textureFileName</key>
            <string>loading.png</string>
        </dict>
    </dict>
</plist>
