<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,132},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,198},{79,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,78}}</string>
                <key>sourceSize</key>
                <string>{79,78}</string>
            </dict>
            <key>collect.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,132},{322,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,64}}</string>
                <key>sourceSize</key>
                <string>{322,64}</string>
            </dict>
            <key>free_collect.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{322,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,64}}</string>
                <key>sourceSize</key>
                <string>{322,64}</string>
            </dict>
            <key>freebonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,278},{449,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,80}}</string>
                <key>sourceSize</key>
                <string>{449,80}</string>
            </dict>
            <key>freecoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{432,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,80}}</string>
                <key>sourceSize</key>
                <string>{432,80}</string>
            </dict>
            <key>freecoin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{569,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{569,36}}</string>
                <key>sourceSize</key>
                <string>{569,36}</string>
            </dict>
            <key>freecoin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{407,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,27}}</string>
                <key>sourceSize</key>
                <string>{407,27}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{481,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{481,72}}</string>
                <key>sourceSize</key>
                <string>{481,72}</string>
            </dict>
            <key>kuang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{876,652}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{876,652}}</string>
                <key>sourceSize</key>
                <string>{876,652}</string>
            </dict>
            <key>text_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{513,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{513,31}}</string>
                <key>sourceSize</key>
                <string>{513,31}</string>
            </dict>
            <key>text_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,31},{502,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,28}}</string>
                <key>sourceSize</key>
                <string>{502,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ad_reward.png</string>
            <key>size</key>
            <string>{887,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5b024ee4efabcf5191b43e6a89c6ccf$</string>
            <key>textureFileName</key>
            <string>ad_reward.png</string>
        </dict>
    </dict>
</plist>
