<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme188_b_reel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{721,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{721,156}}</string>
                <key>sourceSize</key>
                <string>{723,156}</string>
            </dict>
            <key>theme188_b_reel_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,949},{58,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,369}}</string>
                <key>sourceSize</key>
                <string>{58,369}</string>
            </dict>
            <key>theme188_b_reel_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,2},{720,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,62}}</string>
                <key>sourceSize</key>
                <string>{720,62}</string>
            </dict>
            <key>theme188_b_reel_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,828},{147,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,102}}</string>
                <key>sourceSize</key>
                <string>{147,102}</string>
            </dict>
            <key>theme188_b_reel_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{594,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{594,364}}</string>
                <key>sourceSize</key>
                <string>{594,364}</string>
            </dict>
            <key>theme188_b_reel_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,961},{52,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,93}}</string>
                <key>sourceSize</key>
                <string>{52,93}</string>
            </dict>
            <key>theme188_collect_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,842},{107,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,109}}</string>
                <key>sourceSize</key>
                <string>{107,109}</string>
            </dict>
            <key>theme188_collect_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,734},{116,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,104}}</string>
                <key>sourceSize</key>
                <string>{116,104}</string>
            </dict>
            <key>theme188_collect_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,2},{613,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,46}}</string>
                <key>sourceSize</key>
                <string>{613,46}</string>
            </dict>
            <key>theme188_collect_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,980},{14,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,38}}</string>
                <key>sourceSize</key>
                <string>{14,38}</string>
            </dict>
            <key>theme188_f_reel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{719,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{719,158}}</string>
                <key>sourceSize</key>
                <string>{723,158}</string>
            </dict>
            <key>theme188_f_reel_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,318},{61,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,368}}</string>
                <key>sourceSize</key>
                <string>{61,368}</string>
            </dict>
            <key>theme188_f_reel_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{720,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,62}}</string>
                <key>sourceSize</key>
                <string>{720,62}</string>
            </dict>
            <key>theme188_f_reel_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,724},{147,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,102}}</string>
                <key>sourceSize</key>
                <string>{147,102}</string>
            </dict>
            <key>theme188_f_reel_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{594,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{594,364}}</string>
                <key>sourceSize</key>
                <string>{594,364}</string>
            </dict>
            <key>theme188_f_reel_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,961},{52,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,93}}</string>
                <key>sourceSize</key>
                <string>{52,93}</string>
            </dict>
            <key>theme188_j_grand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{506,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,118}}</string>
                <key>sourceSize</key>
                <string>{506,118}</string>
            </dict>
            <key>theme188_j_major2.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,851},{308,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,96}}</string>
                <key>sourceSize</key>
                <string>{308,96}</string>
            </dict>
            <key>theme188_j_minor2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,651},{308,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,94}}</string>
                <key>sourceSize</key>
                <string>{308,94}</string>
            </dict>
            <key>theme188_p_anniu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,318},{331,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,124}}</string>
                <key>sourceSize</key>
                <string>{331,124}</string>
            </dict>
            <key>theme188_p_anniu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{331,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,124}}</string>
                <key>sourceSize</key>
                <string>{331,124}</string>
            </dict>
            <key>theme188_p_anniu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,725},{308,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,124}}</string>
                <key>sourceSize</key>
                <string>{308,124}</string>
            </dict>
            <key>theme188_p_anniu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,854},{308,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,124}}</string>
                <key>sourceSize</key>
                <string>{308,124}</string>
            </dict>
            <key>theme188_reel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,318},{3,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,386}}</string>
                <key>sourceSize</key>
                <string>{3,386}</string>
            </dict>
            <key>theme188_reel_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,2},{314,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,193}}</string>
                <key>sourceSize</key>
                <string>{314,193}</string>
            </dict>
            <key>theme188_reel_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,688},{68,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,152}}</string>
                <key>sourceSize</key>
                <string>{68,152}</string>
            </dict>
            <key>theme188_reel_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,617},{18,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,14}}</string>
                <key>sourceSize</key>
                <string>{18,14}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>base.png</string>
            <key>size</key>
            <string>{1310,1015}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c855f5d46bf2c715b15036a640121102$</string>
            <key>textureFileName</key>
            <string>base.png</string>
        </dict>
    </dict>
</plist>
