<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme188_map_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,361},{394,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,50}}</string>
                <key>sourceSize</key>
                <string>{394,50}</string>
            </dict>
            <key>theme188_map_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,434},{450,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,44}}</string>
                <key>sourceSize</key>
                <string>{450,44}</string>
            </dict>
            <key>theme188_map_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{584,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,357}}</string>
                <key>sourceSize</key>
                <string>{584,357}</string>
            </dict>
            <key>theme188_map_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1917},{87,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,85}}</string>
                <key>sourceSize</key>
                <string>{87,85}</string>
            </dict>
            <key>theme188_map_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,886},{162,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,55}}</string>
                <key>sourceSize</key>
                <string>{162,55}</string>
            </dict>
            <key>theme188_map_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,1730},{201,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,195}}</string>
                <key>sourceSize</key>
                <string>{201,195}</string>
            </dict>
            <key>theme188_map_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1052},{373,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{373,228}}</string>
                <key>sourceSize</key>
                <string>{373,228}</string>
            </dict>
            <key>theme188_map_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1445},{169,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,316}}</string>
                <key>sourceSize</key>
                <string>{169,316}</string>
            </dict>
            <key>theme188_map_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1427},{221,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,301}}</string>
                <key>sourceSize</key>
                <string>{221,301}</string>
            </dict>
            <key>theme188_map_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1052},{579,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{579,62}}</string>
                <key>sourceSize</key>
                <string>{579,62}</string>
            </dict>
            <key>theme188_map_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,978},{141,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,63}}</string>
                <key>sourceSize</key>
                <string>{141,63}</string>
            </dict>
            <key>theme188_map_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,1661},{140,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,64}}</string>
                <key>sourceSize</key>
                <string>{140,64}</string>
            </dict>
            <key>theme188_map_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1052},{575,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,48}}</string>
                <key>sourceSize</key>
                <string>{575,48}</string>
            </dict>
            <key>theme188_popup_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,361},{506,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,358}}</string>
                <key>sourceSize</key>
                <string>{506,358}</string>
            </dict>
            <key>theme188_popup_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1052},{391,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,199}}</string>
                <key>sourceSize</key>
                <string>{391,199}</string>
            </dict>
            <key>theme188_popup_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{430,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,113}}</string>
                <key>sourceSize</key>
                <string>{430,113}</string>
            </dict>
            <key>theme188_popup_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1633},{365,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,54}}</string>
                <key>sourceSize</key>
                <string>{365,54}</string>
            </dict>
            <key>theme188_popup_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,434},{486,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,82}}</string>
                <key>sourceSize</key>
                <string>{486,82}</string>
            </dict>
            <key>theme188_popup_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,721},{486,329}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,329}}</string>
                <key>sourceSize</key>
                <string>{486,329}</string>
            </dict>
            <key>theme188_popup_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,1466},{182,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,37}}</string>
                <key>sourceSize</key>
                <string>{182,37}</string>
            </dict>
            <key>theme188_popup_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,1271},{73,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,146}}</string>
                <key>sourceSize</key>
                <string>{73,146}</string>
            </dict>
            <key>theme188_popup_anniu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,1050},{219,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,64}}</string>
                <key>sourceSize</key>
                <string>{219,64}</string>
            </dict>
            <key>theme188_popup_anniu10.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,1840},{305,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,75}}</string>
                <key>sourceSize</key>
                <string>{305,75}</string>
            </dict>
            <key>theme188_popup_anniu11.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,1763},{240,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,75}}</string>
                <key>sourceSize</key>
                <string>{240,75}</string>
            </dict>
            <key>theme188_popup_anniu12.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,1927},{240,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,75}}</string>
                <key>sourceSize</key>
                <string>{240,75}</string>
            </dict>
            <key>theme188_popup_anniu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,1050},{219,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,64}}</string>
                <key>sourceSize</key>
                <string>{219,64}</string>
            </dict>
            <key>theme188_popup_anniu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,1917},{219,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,64}}</string>
                <key>sourceSize</key>
                <string>{219,64}</string>
            </dict>
            <key>theme188_popup_anniu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,757},{219,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,64}}</string>
                <key>sourceSize</key>
                <string>{219,64}</string>
            </dict>
            <key>theme188_popup_anniu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1730},{194,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,64}}</string>
                <key>sourceSize</key>
                <string>{194,64}</string>
            </dict>
            <key>theme188_popup_anniu6.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,1803},{193,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,64}}</string>
                <key>sourceSize</key>
                <string>{193,64}</string>
            </dict>
            <key>theme188_popup_anniu7.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,1466},{193,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,64}}</string>
                <key>sourceSize</key>
                <string>{193,64}</string>
            </dict>
            <key>theme188_popup_anniu8.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1271},{193,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,64}}</string>
                <key>sourceSize</key>
                <string>{193,64}</string>
            </dict>
            <key>theme188_popup_anniu9.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1445},{305,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,75}}</string>
                <key>sourceSize</key>
                <string>{305,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map.png</string>
            <key>size</key>
            <string>{703,2006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d340e90f5185af51d61da25a591ecdbb:1/1$</string>
            <key>textureFileName</key>
            <string>map.png</string>
        </dict>
    </dict>
</plist>
