<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lock_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,121}}</string>
                <key>sourceSize</key>
                <string>{250,121}</string>
            </dict>
            <key>lock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{57,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,73}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>rukou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,2},{622,522}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{622,522}}</string>
                <key>sourceSize</key>
                <string>{622,522}</string>
            </dict>
            <key>rukou_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,2},{304,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,504}}</string>
                <key>sourceSize</key>
                <string>{304,504}</string>
            </dict>
            <key>rukou_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1243,2},{304,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,504}}</string>
                <key>sourceSize</key>
                <string>{304,504}</string>
            </dict>
            <key>rukou_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,2},{304,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,504}}</string>
                <key>sourceSize</key>
                <string>{304,504}</string>
            </dict>
            <key>rukou_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{304,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,504}}</string>
                <key>sourceSize</key>
                <string>{304,504}</string>
            </dict>
            <key>rukou_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,526},{304,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,504}}</string>
                <key>sourceSize</key>
                <string>{304,504}</string>
            </dict>
            <key>rukou_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,526},{304,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,504}}</string>
                <key>sourceSize</key>
                <string>{304,504}</string>
            </dict>
            <key>rukou_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,526},{304,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,504}}</string>
                <key>sourceSize</key>
                <string>{304,504}</string>
            </dict>
            <key>rukou_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,526},{304,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,504}}</string>
                <key>sourceSize</key>
                <string>{304,504}</string>
            </dict>
            <key>rukou_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,526},{304,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,504}}</string>
                <key>sourceSize</key>
                <string>{304,504}</string>
            </dict>
            <key>unlock_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1032},{426,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,198}}</string>
                <key>sourceSize</key>
                <string>{426,198}</string>
            </dict>
            <key>unlock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1032},{238,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,171}}</string>
                <key>sourceSize</key>
                <string>{238,171}</string>
            </dict>
            <key>unlock_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1032},{256,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,154}}</string>
                <key>sourceSize</key>
                <string>{256,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lobby.png</string>
            <key>size</key>
            <string>{1855,1232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17cd1065715f88dd03e6872fd3356e8a$</string>
            <key>textureFileName</key>
            <string>lobby.png</string>
        </dict>
    </dict>
</plist>
