<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{375,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,95}}</string>
                <key>sourceSize</key>
                <string>{375,95}</string>
            </dict>
            <key>chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,268},{348,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,225}}</string>
                <key>sourceSize</key>
                <string>{348,225}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,268},{68,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,225}}</string>
                <key>sourceSize</key>
                <string>{68,225}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,58},{103,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,102}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>font1.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,2},{478,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,54}}</string>
                <key>sourceSize</key>
                <string>{478,54}</string>
            </dict>
            <key>font2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{415,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,21}}</string>
                <key>sourceSize</key>
                <string>{415,21}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{551,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,104}}</string>
                <key>sourceSize</key>
                <string>{551,104}</string>
            </dict>
            <key>kuang_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,495},{991,642}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{991,642}}</string>
                <key>sourceSize</key>
                <string>{991,642}</string>
            </dict>
            <key>kuang_v.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1139},{843,715}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{843,715}}</string>
                <key>sourceSize</key>
                <string>{843,715}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{455,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,110}}</string>
                <key>sourceSize</key>
                <string>{455,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>freeCoinsImg.png</string>
            <key>size</key>
            <string>{995,1856}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3362119ed87d679ffc19f8e9ceec5282$</string>
            <key>textureFileName</key>
            <string>freeCoinsImg.png</string>
        </dict>
    </dict>
</plist>
