<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,146},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,231},{89,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,97}}</string>
                <key>sourceSize</key>
                <string>{89,97}</string>
            </dict>
            <key>collect.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{314,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,83}}</string>
                <key>sourceSize</key>
                <string>{314,83}</string>
            </dict>
            <key>free_collect.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,146},{314,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,83}}</string>
                <key>sourceSize</key>
                <string>{314,83}</string>
            </dict>
            <key>freebonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,71},{436,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,73}}</string>
                <key>sourceSize</key>
                <string>{436,73}</string>
            </dict>
            <key>freecoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{419,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,73}}</string>
                <key>sourceSize</key>
                <string>{419,73}</string>
            </dict>
            <key>freecoin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{595,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{595,39}}</string>
                <key>sourceSize</key>
                <string>{595,39}</string>
            </dict>
            <key>freecoin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{417,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{417,28}}</string>
                <key>sourceSize</key>
                <string>{417,28}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,231},{432,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,98}}</string>
                <key>sourceSize</key>
                <string>{432,98}</string>
            </dict>
            <key>kuang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{927,656}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{927,656}}</string>
                <key>sourceSize</key>
                <string>{927,656}</string>
            </dict>
            <key>text_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,33},{560,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,36}}</string>
                <key>sourceSize</key>
                <string>{560,36}</string>
            </dict>
            <key>text_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,2},{510,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,29}}</string>
                <key>sourceSize</key>
                <string>{510,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ad_reward.png</string>
            <key>size</key>
            <string>{1037,989}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94a1a12c92fd55c8bc393b0fa3cd9fd1$</string>
            <key>textureFileName</key>
            <string>ad_reward.png</string>
        </dict>
    </dict>
</plist>
