<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme174_dialog1_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{534,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,112}}</string>
                <key>sourceSize</key>
                <string>{534,112}</string>
            </dict>
            <key>theme174_dialog1_text1.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,346},{198,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,49}}</string>
                <key>sourceSize</key>
                <string>{198,49}</string>
            </dict>
            <key>theme174_dialog1_titile.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{552,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,140}}</string>
                <key>sourceSize</key>
                <string>{552,140}</string>
            </dict>
            <key>theme174_dialog2_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{689,119}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{689,119}}</string>
                <key>sourceSize</key>
                <string>{689,123}</string>
            </dict>
            <key>theme174_dialog2_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,718},{299,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,93}}</string>
                <key>sourceSize</key>
                <string>{299,93}</string>
            </dict>
            <key>theme174_dialog2_btn1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,517},{299,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,93}}</string>
                <key>sourceSize</key>
                <string>{299,93}</string>
            </dict>
            <key>theme174_dialog2_jtext1.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,517},{436,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,123}}</string>
                <key>sourceSize</key>
                <string>{436,123}</string>
            </dict>
            <key>theme174_dialog2_jtext2.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,258},{428,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,127}}</string>
                <key>sourceSize</key>
                <string>{428,127}</string>
            </dict>
            <key>theme174_dialog2_jtext3.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,387},{424,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,128}}</string>
                <key>sourceSize</key>
                <string>{424,128}</string>
            </dict>
            <key>theme174_dialog2_jtext4.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,813},{297,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,118}}</string>
                <key>sourceSize</key>
                <string>{297,118}</string>
            </dict>
            <key>theme174_dialog2_text1.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,612},{369,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,104}}</string>
                <key>sourceSize</key>
                <string>{369,104}</string>
            </dict>
            <key>theme174_map_collect_text1.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,718},{157,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,41}}</string>
                <key>sourceSize</key>
                <string>{157,41}</string>
            </dict>
            <key>theme174_map_collect_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{342,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{342,53}}</string>
                <key>sourceSize</key>
                <string>{342,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dialog.png</string>
            <key>size</key>
            <string>{624,955}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:865320db868db4cde755cb00b03f7c4f:1/1$</string>
            <key>textureFileName</key>
            <string>dialog.png</string>
        </dict>
    </dict>
</plist>
