<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FREEGAME.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,562},{69,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,18}}</string>
                <key>sourceSize</key>
                <string>{69,18}</string>
            </dict>
            <key>HOLDFORAUTO.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,432},{116,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,15}}</string>
                <key>sourceSize</key>
                <string>{116,15}</string>
            </dict>
            <key>HOLDFORAUTO02.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,266},{116,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,15}}</string>
                <key>sourceSize</key>
                <string>{116,15}</string>
            </dict>
            <key>HOLDFORAUTO_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,545},{116,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,15}}</string>
                <key>sourceSize</key>
                <string>{116,15}</string>
            </dict>
            <key>SPIN.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,537},{67,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,33}}</string>
                <key>sourceSize</key>
                <string>{67,33}</string>
            </dict>
            <key>SPIN02.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,384},{67,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,33}}</string>
                <key>sourceSize</key>
                <string>{67,33}</string>
            </dict>
            <key>SPIN_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,543},{67,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,33}}</string>
                <key>sourceSize</key>
                <string>{67,33}</string>
            </dict>
            <key>STOP.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,531},{73,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,33}}</string>
                <key>sourceSize</key>
                <string>{73,33}</string>
            </dict>
            <key>STOP02.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,502},{73,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,33}}</string>
                <key>sourceSize</key>
                <string>{73,33}</string>
            </dict>
            <key>STOP03.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,502},{73,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,33}}</string>
                <key>sourceSize</key>
                <string>{73,33}</string>
            </dict>
            <key>anxia_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,366},{180,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,44}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>anxia_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,184},{180,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,44}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>anxia_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,230},{180,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,44}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>anxia_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{180,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,44}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>anxia_500.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,48},{180,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,44}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>anxia_fast.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{180,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,44}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>big_back_half.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{400,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>dating_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{780,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{780,77}}</string>
                <key>sourceSize</key>
                <string>{780,77}</string>
            </dict>
            <key>freegame_backyellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,501},{109,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,42}}</string>
                <key>sourceSize</key>
                <string>{109,42}</string>
            </dict>
            <key>freegamespin_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{193,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,274}}</string>
                <key>sourceSize</key>
                <string>{193,274}</string>
            </dict>
            <key>icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,81},{133,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,145}}</string>
                <key>sourceSize</key>
                <string>{133,145}</string>
            </dict>
            <key>icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,335},{122,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,109}}</string>
                <key>sourceSize</key>
                <string>{122,109}</string>
            </dict>
            <key>icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,295},{122,101}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{122,101}}</string>
                <key>sourceSize</key>
                <string>{122,109}</string>
            </dict>
            <key>icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,432},{122,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,109}}</string>
                <key>sourceSize</key>
                <string>{122,109}</string>
            </dict>
            <key>icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,228},{122,105}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{122,105}}</string>
                <key>sourceSize</key>
                <string>{122,109}</string>
            </dict>
            <key>icon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,159},{122,105}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{122,105}}</string>
                <key>sourceSize</key>
                <string>{122,109}</string>
            </dict>
            <key>icon_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,48},{122,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,109}}</string>
                <key>sourceSize</key>
                <string>{122,109}</string>
            </dict>
            <key>icon_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,266},{122,107}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{122,107}}</string>
                <key>sourceSize</key>
                <string>{122,109}</string>
            </dict>
            <key>icon_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,295},{127,135}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{127,135}}</string>
                <key>sourceSize</key>
                <string>{133,145}</string>
            </dict>
            <key>maxbet_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,446},{110,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,83}}</string>
                <key>sourceSize</key>
                <string>{110,83}</string>
            </dict>
            <key>maxbet_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,419},{110,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,83}}</string>
                <key>sourceSize</key>
                <string>{110,83}</string>
            </dict>
            <key>maxbet_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,375},{110,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,83}}</string>
                <key>sourceSize</key>
                <string>{110,83}</string>
            </dict>
            <key>minus_h01.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,537},{71,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,40}}</string>
                <key>sourceSize</key>
                <string>{71,40}</string>
            </dict>
            <key>minus_h02.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,485},{71,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,40}}</string>
                <key>sourceSize</key>
                <string>{71,40}</string>
            </dict>
            <key>minus_h03.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,412},{71,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,40}}</string>
                <key>sourceSize</key>
                <string>{71,40}</string>
            </dict>
            <key>plus_h01.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,531},{71,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,40}}</string>
                <key>sourceSize</key>
                <string>{71,40}</string>
            </dict>
            <key>plus_h02.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,460},{71,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,40}}</string>
                <key>sourceSize</key>
                <string>{71,40}</string>
            </dict>
            <key>plus_h03.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,460},{71,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,40}}</string>
                <key>sourceSize</key>
                <string>{71,40}</string>
            </dict>
            <key>spin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,166},{255,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,83}}</string>
                <key>sourceSize</key>
                <string>{255,83}</string>
            </dict>
            <key>spin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,303},{255,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,83}}</string>
                <key>sourceSize</key>
                <string>{255,83}</string>
            </dict>
            <key>spin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,81},{255,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,83}}</string>
                <key>sourceSize</key>
                <string>{255,83}</string>
            </dict>
            <key>totalbetzit.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,562},{68,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,18}}</string>
                <key>sourceSize</key>
                <string>{68,18}</string>
            </dict>
            <key>totalwin.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,560},{80,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,17}}</string>
                <key>sourceSize</key>
                <string>{80,17}</string>
            </dict>
            <key>unlock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,303},{196,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,134}}</string>
                <key>sourceSize</key>
                <string>{196,134}</string>
            </dict>
            <key>wnzi_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,251},{218,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,42}}</string>
                <key>sourceSize</key>
                <string>{218,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>footer.png</string>
            <key>size</key>
            <string>{1018,582}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a938e05b35e56188a503c34378bf71c9$</string>
            <key>textureFileName</key>
            <string>footer.png</string>
        </dict>
    </dict>
</plist>
