<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme186_base_coins_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,195},{686,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{686,143}}</string>
                <key>sourceSize</key>
                <string>{686,143}</string>
            </dict>
            <key>theme186_base_coins_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,345},{716,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{716,179}}</string>
                <key>sourceSize</key>
                <string>{716,179}</string>
            </dict>
            <key>theme186_base_coins_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{720,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,201}}</string>
                <key>sourceSize</key>
                <string>{720,201}</string>
            </dict>
            <key>theme186_base_jp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{454,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,95}}</string>
                <key>sourceSize</key>
                <string>{454,95}</string>
            </dict>
            <key>theme186_base_jp_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,109},{324,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,84}}</string>
                <key>sourceSize</key>
                <string>{324,84}</string>
            </dict>
            <key>theme186_base_jp_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,109},{324,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,84}}</string>
                <key>sourceSize</key>
                <string>{324,84}</string>
            </dict>
            <key>theme186_base_jp_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,109},{262,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,79}}</string>
                <key>sourceSize</key>
                <string>{262,79}</string>
            </dict>
            <key>theme186_base_jp_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,109},{262,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,79}}</string>
                <key>sourceSize</key>
                <string>{262,79}</string>
            </dict>
            <key>theme186_base_jp_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,2},{98,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,37}}</string>
                <key>sourceSize</key>
                <string>{98,37}</string>
            </dict>
            <key>theme186_base_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{354,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,157}}</string>
                <key>sourceSize</key>
                <string>{354,157}</string>
            </dict>
            <key>theme186_base_map_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,195},{141,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,129}}</string>
                <key>sourceSize</key>
                <string>{141,129}</string>
            </dict>
            <key>theme186_base_map_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,49},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>theme186_base_map_tip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,49},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>theme186_base_map_tip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>theme186_base_reel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,526},{119,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,326}}</string>
                <key>sourceSize</key>
                <string>{119,326}</string>
            </dict>
            <key>theme186_base_reel_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,526},{74,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,362}}</string>
                <key>sourceSize</key>
                <string>{74,362}</string>
            </dict>
            <key>theme186_base_reel_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,195},{14,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,148}}</string>
                <key>sourceSize</key>
                <string>{14,148}</string>
            </dict>
            <key>theme186_base_reel_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,14}}</string>
                <key>sourceSize</key>
                <string>{148,14}</string>
            </dict>
            <key>theme186_base_reel_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>theme186_base_reel_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{612,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,26}}</string>
                <key>sourceSize</key>
                <string>{612,26}</string>
            </dict>
            <key>theme186_base_reel_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,49},{747,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{747,57}}</string>
                <key>sourceSize</key>
                <string>{747,57}</string>
            </dict>
            <key>theme186_base_reel_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,526},{20,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,336}}</string>
                <key>sourceSize</key>
                <string>{20,336}</string>
            </dict>
            <key>theme186_base_reel_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,49},{229,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,57}}</string>
                <key>sourceSize</key>
                <string>{229,57}</string>
            </dict>
            <key>theme186_base_reel_ear.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{33,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,25}}</string>
                <key>sourceSize</key>
                <string>{33,25}</string>
            </dict>
            <key>theme186_text_jp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,49},{201,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,58}}</string>
                <key>sourceSize</key>
                <string>{201,58}</string>
            </dict>
            <key>theme186_text_jp_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,2},{123,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,43}}</string>
                <key>sourceSize</key>
                <string>{123,43}</string>
            </dict>
            <key>theme186_text_jp_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,2},{144,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,45}}</string>
                <key>sourceSize</key>
                <string>{144,45}</string>
            </dict>
            <key>theme186_text_jp_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,2},{123,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,37}}</string>
                <key>sourceSize</key>
                <string>{123,37}</string>
            </dict>
            <key>theme186_text_jp_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,2},{88,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,38}}</string>
                <key>sourceSize</key>
                <string>{88,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>base.png</string>
            <key>size</key>
            <string>{1387,890}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:432abda00a1c0393b9240e384e3c45f8$</string>
            <key>textureFileName</key>
            <string>base.png</string>
        </dict>
    </dict>
</plist>
