<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme186_d_bg1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,496},{284,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,302}}</string>
                <key>sourceSize</key>
                <string>{284,302}</string>
            </dict>
            <key>theme186_d_bg1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,210},{284,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,302}}</string>
                <key>sourceSize</key>
                <string>{284,302}</string>
            </dict>
            <key>theme186_d_bg1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,210},{284,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,302}}</string>
                <key>sourceSize</key>
                <string>{284,302}</string>
            </dict>
            <key>theme186_d_bg1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,501},{284,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,302}}</string>
                <key>sourceSize</key>
                <string>{284,302}</string>
            </dict>
            <key>theme186_d_bg1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,805},{284,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,302}}</string>
                <key>sourceSize</key>
                <string>{284,302}</string>
            </dict>
            <key>theme186_d_bg2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,344},{464,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,155}}</string>
                <key>sourceSize</key>
                <string>{464,155}</string>
            </dict>
            <key>theme186_d_bg2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,2},{468,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,155}}</string>
                <key>sourceSize</key>
                <string>{468,155}</string>
            </dict>
            <key>theme186_d_bg2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{466,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,155}}</string>
                <key>sourceSize</key>
                <string>{466,155}</string>
            </dict>
            <key>theme186_d_bg2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,187},{469,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,155}}</string>
                <key>sourceSize</key>
                <string>{469,155}</string>
            </dict>
            <key>theme186_d_bg3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,1019},{224,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,110}}</string>
                <key>sourceSize</key>
                <string>{224,110}</string>
            </dict>
            <key>theme186_d_bg3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,906},{225,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,111}}</string>
                <key>sourceSize</key>
                <string>{225,111}</string>
            </dict>
            <key>theme186_d_bg3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1657,906},{224,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,110}}</string>
                <key>sourceSize</key>
                <string>{224,110}</string>
            </dict>
            <key>theme186_d_bg3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,990},{225,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,111}}</string>
                <key>sourceSize</key>
                <string>{225,111}</string>
            </dict>
            <key>theme186_d_bg3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1775,514},{224,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,110}}</string>
                <key>sourceSize</key>
                <string>{224,110}</string>
            </dict>
            <key>theme186_d_bg4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,919},{333,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,182}}</string>
                <key>sourceSize</key>
                <string>{333,182}</string>
            </dict>
            <key>theme186_d_bg4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,893},{338,184}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{338,184}}</string>
                <key>sourceSize</key>
                <string>{338,186}</string>
            </dict>
            <key>theme186_d_bg4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,501},{338,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,184}}</string>
                <key>sourceSize</key>
                <string>{338,184}</string>
            </dict>
            <key>theme186_d_bg4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,805},{336,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,178}}</string>
                <key>sourceSize</key>
                <string>{336,178}</string>
            </dict>
            <key>theme186_d_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,628},{333,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,103}}</string>
                <key>sourceSize</key>
                <string>{333,103}</string>
            </dict>
            <key>theme186_d_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,782},{333,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,103}}</string>
                <key>sourceSize</key>
                <string>{333,103}</string>
            </dict>
            <key>theme186_d_collect_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{546,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{546,146}}</string>
                <key>sourceSize</key>
                <string>{546,146}</string>
            </dict>
            <key>theme186_d_collect_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,817},{102,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,206}}</string>
                <key>sourceSize</key>
                <string>{102,206}</string>
            </dict>
            <key>theme186_d_collect_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,626},{137,189}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,189}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>theme186_d_collect_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1079},{317,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,52}}</string>
                <key>sourceSize</key>
                <string>{317,52}</string>
            </dict>
            <key>theme186_d_collect_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1517,836},{294,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,68}}</string>
                <key>sourceSize</key>
                <string>{294,68}</string>
            </dict>
            <key>theme186_d_free_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{607,496}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{607,496}}</string>
                <key>sourceSize</key>
                <string>{607,496}</string>
            </dict>
            <key>theme186_d_free_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,2},{662,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{662,183}}</string>
                <key>sourceSize</key>
                <string>{662,183}</string>
            </dict>
            <key>theme186_d_text_jp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,805},{341,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,112}}</string>
                <key>sourceSize</key>
                <string>{341,112}</string>
            </dict>
            <key>theme186_d_text_jp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,514},{278,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,112}}</string>
                <key>sourceSize</key>
                <string>{278,112}</string>
            </dict>
            <key>theme186_d_text_jp3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,187},{312,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,107}}</string>
                <key>sourceSize</key>
                <string>{312,107}</string>
            </dict>
            <key>theme186_d_text_jp4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1517,733},{308,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,101}}</string>
                <key>sourceSize</key>
                <string>{308,101}</string>
            </dict>
            <key>theme186_d_text_jp5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,887},{246,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,101}}</string>
                <key>sourceSize</key>
                <string>{246,101}</string>
            </dict>
            <key>theme186_d_text_jp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,159},{479,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,49}}</string>
                <key>sourceSize</key>
                <string>{479,49}</string>
            </dict>
            <key>theme186_d_text_lastspin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1745,2},{211,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,138}}</string>
                <key>sourceSize</key>
                <string>{211,138}</string>
            </dict>
            <key>theme186_d_text_win1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,142},{367,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,101}}</string>
                <key>sourceSize</key>
                <string>{367,101}</string>
            </dict>
            <key>theme186_d_text_win2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1781,142},{367,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,101}}</string>
                <key>sourceSize</key>
                <string>{367,101}</string>
            </dict>
            <key>theme186_d_text_win3.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,790},{367,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,101}}</string>
                <key>sourceSize</key>
                <string>{367,101}</string>
            </dict>
            <key>theme186_d_text_win4.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,687},{367,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,101}}</string>
                <key>sourceSize</key>
                <string>{367,101}</string>
            </dict>
            <key>theme186_d_text_youwin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1657,1018},{231,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,53}}</string>
                <key>sourceSize</key>
                <string>{231,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dialog.png</string>
            <key>size</key>
            <string>{2001,1143}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eaec7d301d11a3cee993f7171bdf028e:1/1$</string>
            <key>textureFileName</key>
            <string>dialog.png</string>
        </dict>
    </dict>
</plist>
