<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme186_bg2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1663},{210,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,166}}</string>
                <key>sourceSize</key>
                <string>{210,166}</string>
            </dict>
            <key>theme186_bg2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1475},{210,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,166}}</string>
                <key>sourceSize</key>
                <string>{210,166}</string>
            </dict>
            <key>theme186_bg2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1307},{210,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,166}}</string>
                <key>sourceSize</key>
                <string>{210,166}</string>
            </dict>
            <key>theme186_bg2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1138},{211,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,167}}</string>
                <key>sourceSize</key>
                <string>{211,167}</string>
            </dict>
            <key>theme186_bg2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1829},{181,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,35}}</string>
                <key>sourceSize</key>
                <string>{181,35}</string>
            </dict>
            <key>theme186_bg2_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1601},{105,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,83}}</string>
                <key>sourceSize</key>
                <string>{105,83}</string>
            </dict>
            <key>theme186_bg2_seven.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,1257},{45,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,52}}</string>
                <key>sourceSize</key>
                <string>{45,52}</string>
            </dict>
            <key>theme186_bg2_wild.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1866},{116,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,91}}</string>
                <key>sourceSize</key>
                <string>{116,91}</string>
            </dict>
            <key>theme186_free2_text1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,1052},{284,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,50}}</string>
                <key>sourceSize</key>
                <string>{284,50}</string>
            </dict>
            <key>theme186_free2_text1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1180},{393,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,62}}</string>
                <key>sourceSize</key>
                <string>{393,62}</string>
            </dict>
            <key>theme186_free2_text1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1547},{114,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,47}}</string>
                <key>sourceSize</key>
                <string>{114,47}</string>
            </dict>
            <key>theme186_free2_text1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,2},{112,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,29}}</string>
                <key>sourceSize</key>
                <string>{112,29}</string>
            </dict>
            <key>theme186_free2_text1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1250},{411,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,49}}</string>
                <key>sourceSize</key>
                <string>{411,49}</string>
            </dict>
            <key>theme186_free2_text2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1250},{595,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{595,115}}</string>
                <key>sourceSize</key>
                <string>{595,115}</string>
            </dict>
            <key>theme186_free2_text2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,1138},{155,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,117}}</string>
                <key>sourceSize</key>
                <string>{155,117}</string>
            </dict>
            <key>theme186_free2_text2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,682},{466,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,45}}</string>
                <key>sourceSize</key>
                <string>{466,45}</string>
            </dict>
            <key>theme186_free2_text2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1250},{567,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{567,46}}</string>
                <key>sourceSize</key>
                <string>{567,46}</string>
            </dict>
            <key>theme186_free2_text3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,1150},{395,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,37}}</string>
                <key>sourceSize</key>
                <string>{395,37}</string>
            </dict>
            <key>theme186_free2_text3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,996},{292,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,54}}</string>
                <key>sourceSize</key>
                <string>{292,54}</string>
            </dict>
            <key>theme186_free2_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1643},{199,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,69}}</string>
                <key>sourceSize</key>
                <string>{199,69}</string>
            </dict>
            <key>theme186_free2_title_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1257},{225,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,69}}</string>
                <key>sourceSize</key>
                <string>{225,69}</string>
            </dict>
            <key>theme186_free2_title_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1643},{207,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{207,70}}</string>
                <key>sourceSize</key>
                <string>{209,70}</string>
            </dict>
            <key>theme186_free2_title_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1307},{266,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,74}}</string>
                <key>sourceSize</key>
                <string>{266,74}</string>
            </dict>
            <key>theme186_free3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1708},{85,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,97}}</string>
                <key>sourceSize</key>
                <string>{85,97}</string>
            </dict>
            <key>theme186_free3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,1866},{105,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,113}}</string>
                <key>sourceSize</key>
                <string>{105,113}</string>
            </dict>
            <key>theme186_free3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,1714},{105,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,113}}</string>
                <key>sourceSize</key>
                <string>{105,113}</string>
            </dict>
            <key>theme186_free3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1714},{105,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,113}}</string>
                <key>sourceSize</key>
                <string>{105,113}</string>
            </dict>
            <key>theme186_free_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,2},{529,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{529,338}}</string>
                <key>sourceSize</key>
                <string>{529,338}</string>
            </dict>
            <key>theme186_free_bg1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,617},{377,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,106}}</string>
                <key>sourceSize</key>
                <string>{377,106}</string>
            </dict>
            <key>theme186_free_bg1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,617},{377,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,106}}</string>
                <key>sourceSize</key>
                <string>{377,106}</string>
            </dict>
            <key>theme186_free_bg1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,617},{377,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,106}}</string>
                <key>sourceSize</key>
                <string>{377,106}</string>
            </dict>
            <key>theme186_free_bg1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1150},{377,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,106}}</string>
                <key>sourceSize</key>
                <string>{377,106}</string>
            </dict>
            <key>theme186_free_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{566,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,275}}</string>
                <key>sourceSize</key>
                <string>{566,275}</string>
            </dict>
            <key>theme186_free_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{529,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{529,338}}</string>
                <key>sourceSize</key>
                <string>{529,338}</string>
            </dict>
            <key>theme186_free_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{529,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{529,338}}</string>
                <key>sourceSize</key>
                <string>{529,338}</string>
            </dict>
            <key>theme186_free_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1250},{496,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,103}}</string>
                <key>sourceSize</key>
                <string>{496,103}</string>
            </dict>
            <key>theme186_free_btn1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,682},{496,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,103}}</string>
                <key>sourceSize</key>
                <string>{496,103}</string>
            </dict>
            <key>theme186_free_collect_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,682},{422,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,71}}</string>
                <key>sourceSize</key>
                <string>{422,71}</string>
            </dict>
            <key>theme186_free_desc_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,533},{297,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,82}}</string>
                <key>sourceSize</key>
                <string>{297,82}</string>
            </dict>
            <key>theme186_free_text_muti_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1773},{84,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,70}}</string>
                <key>sourceSize</key>
                <string>{84,70}</string>
            </dict>
            <key>theme186_free_text_muti_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1484},{115,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,77}}</string>
                <key>sourceSize</key>
                <string>{115,77}</string>
            </dict>
            <key>theme186_free_text_muti_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1575},{97,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,71}}</string>
                <key>sourceSize</key>
                <string>{97,71}</string>
            </dict>
            <key>theme186_free_text_muti_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1807},{97,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,70}}</string>
                <key>sourceSize</key>
                <string>{97,70}</string>
            </dict>
            <key>theme186_free_text_muti_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1866},{93,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,66}}</string>
                <key>sourceSize</key>
                <string>{93,66}</string>
            </dict>
            <key>theme186_free_text_muti_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1674},{97,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,70}}</string>
                <key>sourceSize</key>
                <string>{97,70}</string>
            </dict>
            <key>theme186_free_text_muti_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1529},{98,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,71}}</string>
                <key>sourceSize</key>
                <string>{98,71}</string>
            </dict>
            <key>theme186_free_top1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1748},{228,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,104}}</string>
                <key>sourceSize</key>
                <string>{228,104}</string>
            </dict>
            <key>theme186_free_top3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1847},{187,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,176}}</string>
                <key>sourceSize</key>
                <string>{187,176}</string>
            </dict>
            <key>theme186_free_top4.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1875},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>theme186_freec_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1575},{86,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,77}}</string>
                <key>sourceSize</key>
                <string>{86,77}</string>
            </dict>
            <key>theme186_freec_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1978},{85,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,38}}</string>
                <key>sourceSize</key>
                <string>{85,38}</string>
            </dict>
            <key>theme186_freec_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,1104},{275,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,32}}</string>
                <key>sourceSize</key>
                <string>{275,32}</string>
            </dict>
            <key>theme186_freec_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,682},{422,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,71}}</string>
                <key>sourceSize</key>
                <string>{422,71}</string>
            </dict>
            <key>theme186_th_spin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,2011},{132,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,24}}</string>
                <key>sourceSize</key>
                <string>{132,24}</string>
            </dict>
            <key>theme186_th_spin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,116},{145,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,24}}</string>
                <key>sourceSize</key>
                <string>{145,24}</string>
            </dict>
            <key>theme186_th_spin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1959},{142,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,24}}</string>
                <key>sourceSize</key>
                <string>{142,24}</string>
            </dict>
            <key>theme186_th_spin4.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,263},{142,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,24}}</string>
                <key>sourceSize</key>
                <string>{142,24}</string>
            </dict>
            <key>theme186_th_spin5.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1875},{140,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,24}}</string>
                <key>sourceSize</key>
                <string>{140,24}</string>
            </dict>
            <key>theme186_th_spin6.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1106},{142,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,24}}</string>
                <key>sourceSize</key>
                <string>{142,24}</string>
            </dict>
            <key>theme186_th_spin7.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1875},{140,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,25}}</string>
                <key>sourceSize</key>
                <string>{140,25}</string>
            </dict>
            <key>theme186_th_win1.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,996},{122,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,24}}</string>
                <key>sourceSize</key>
                <string>{122,24}</string>
            </dict>
            <key>theme186_th_win2.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1934},{135,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,24}}</string>
                <key>sourceSize</key>
                <string>{135,24}</string>
            </dict>
            <key>theme186_th_win3.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,1985},{133,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,24}}</string>
                <key>sourceSize</key>
                <string>{133,24}</string>
            </dict>
            <key>theme186_th_win4.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,407},{132,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,24}}</string>
                <key>sourceSize</key>
                <string>{132,24}</string>
            </dict>
            <key>theme186_th_win5.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,2011},{131,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,24}}</string>
                <key>sourceSize</key>
                <string>{131,24}</string>
            </dict>
            <key>theme186_th_win6.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1960},{133,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,24}}</string>
                <key>sourceSize</key>
                <string>{133,24}</string>
            </dict>
            <key>theme186_th_win7.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1986},{130,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,24}}</string>
                <key>sourceSize</key>
                <string>{130,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>free.png</string>
            <key>size</key>
            <string>{904,2037}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:055850506978ccc748bd6d6a0a3041cd:1/1$</string>
            <key>textureFileName</key>
            <string>free.png</string>
        </dict>
    </dict>
</plist>
