<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme186_map_angle.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,919},{99,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,102}}</string>
                <key>sourceSize</key>
                <string>{99,102}</string>
            </dict>
            <key>theme186_map_bg_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,761},{156,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,56}}</string>
                <key>sourceSize</key>
                <string>{156,56}</string>
            </dict>
            <key>theme186_map_bg_dark2.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,883},{111,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,59}}</string>
                <key>sourceSize</key>
                <string>{111,59}</string>
            </dict>
            <key>theme186_map_bg_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,708},{217,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,58}}</string>
                <key>sourceSize</key>
                <string>{217,58}</string>
            </dict>
            <key>theme186_map_bg_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{664,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{664,22}}</string>
                <key>sourceSize</key>
                <string>{664,22}</string>
            </dict>
            <key>theme186_map_btn_add_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,716},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>theme186_map_btn_add_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,609},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>theme186_map_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,652},{61,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,62}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
            </dict>
            <key>theme186_map_btn_close_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,944},{61,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,62}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
            </dict>
            <key>theme186_map_btn_close_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,944},{61,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,62}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
            </dict>
            <key>theme186_map_btn_sub_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,568},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>theme186_map_btn_sub_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,837},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>theme186_map_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,716},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>theme186_map_desc_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,339},{252,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,25}}</string>
                <key>sourceSize</key>
                <string>{252,25}</string>
            </dict>
            <key>theme186_map_desc_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{262,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,25}}</string>
                <key>sourceSize</key>
                <string>{262,25}</string>
            </dict>
            <key>theme186_map_desc_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{355,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,25}}</string>
                <key>sourceSize</key>
                <string>{355,25}</string>
            </dict>
            <key>theme186_map_desc_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,359},{255,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,25}}</string>
                <key>sourceSize</key>
                <string>{255,25}</string>
            </dict>
            <key>theme186_map_desc_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{335,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,25}}</string>
                <key>sourceSize</key>
                <string>{335,25}</string>
            </dict>
            <key>theme186_map_desc_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,473},{177,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,25}}</string>
                <key>sourceSize</key>
                <string>{177,25}</string>
            </dict>
            <key>theme186_map_desc_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,748},{133,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,69}}</string>
                <key>sourceSize</key>
                <string>{133,69}</string>
            </dict>
            <key>theme186_map_desc_reel.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,668},{65,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,22}}</string>
                <key>sourceSize</key>
                <string>{65,22}</string>
            </dict>
            <key>theme186_map_desc_reels.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,616},{64,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,21}}</string>
                <key>sourceSize</key>
                <string>{64,21}</string>
            </dict>
            <key>theme186_map_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{704,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{704,82}}</string>
                <key>sourceSize</key>
                <string>{704,82}</string>
            </dict>
            <key>theme186_map_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{704,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{704,82}}</string>
                <key>sourceSize</key>
                <string>{704,82}</string>
            </dict>
            <key>theme186_map_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,927},{95,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,92}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>theme186_map_i.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,797},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>theme186_map_i_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,757},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>theme186_map_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{22,757}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,757}}</string>
                <key>sourceSize</key>
                <string>{22,757}</string>
            </dict>
            <key>theme186_map_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,208},{127,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,8}}</string>
                <key>sourceSize</key>
                <string>{127,8}</string>
            </dict>
            <key>theme186_map_text_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{249,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,32}}</string>
                <key>sourceSize</key>
                <string>{249,32}</string>
            </dict>
            <key>theme186_map_text_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,748},{153,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,25}}</string>
                <key>sourceSize</key>
                <string>{153,25}</string>
            </dict>
            <key>theme186_map_text_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,593},{153,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,25}}</string>
                <key>sourceSize</key>
                <string>{153,25}</string>
            </dict>
            <key>theme186_map_text_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,403},{163,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,25}}</string>
                <key>sourceSize</key>
                <string>{163,25}</string>
            </dict>
            <key>theme186_map_text_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,434},{163,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,25}}</string>
                <key>sourceSize</key>
                <string>{163,25}</string>
            </dict>
            <key>theme186_map_text_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{218,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,25}}</string>
                <key>sourceSize</key>
                <string>{218,25}</string>
            </dict>
            <key>theme186_map_text_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,253},{218,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,25}}</string>
                <key>sourceSize</key>
                <string>{218,25}</string>
            </dict>
            <key>theme186_map_text_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,222},{179,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,25}}</string>
                <key>sourceSize</key>
                <string>{179,25}</string>
            </dict>
            <key>theme186_map_text_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,253},{179,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,25}}</string>
                <key>sourceSize</key>
                <string>{179,25}</string>
            </dict>
            <key>theme186_map_text_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,2},{204,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,25}}</string>
                <key>sourceSize</key>
                <string>{204,25}</string>
            </dict>
            <key>theme186_map_text_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,708},{204,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,25}}</string>
                <key>sourceSize</key>
                <string>{204,25}</string>
            </dict>
            <key>theme186_map_text_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,708},{197,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,25}}</string>
                <key>sourceSize</key>
                <string>{197,25}</string>
            </dict>
            <key>theme186_map_text_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,708},{197,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,25}}</string>
                <key>sourceSize</key>
                <string>{197,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map.png</string>
            <key>size</key>
            <string>{368,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff0f32b2874e8de342cd1718b777a08d:1/1$</string>
            <key>textureFileName</key>
            <string>map.png</string>
        </dict>
    </dict>
</plist>
