<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme186_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,160},{119,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,81}}</string>
                <key>sourceSize</key>
                <string>{119,81}</string>
            </dict>
            <key>theme186_s_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,236},{55,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,71}}</string>
                <key>sourceSize</key>
                <string>{55,71}</string>
            </dict>
            <key>theme186_s_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,410},{78,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,63}}</string>
                <key>sourceSize</key>
                <string>{78,63}</string>
            </dict>
            <key>theme186_s_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{160,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,156}}</string>
                <key>sourceSize</key>
                <string>{160,156}</string>
            </dict>
            <key>theme186_s_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{155,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,164}}</string>
                <key>sourceSize</key>
                <string>{155,164}</string>
            </dict>
            <key>theme186_s_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,289},{119,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,81}}</string>
                <key>sourceSize</key>
                <string>{119,81}</string>
            </dict>
            <key>theme186_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,168},{119,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,81}}</string>
                <key>sourceSize</key>
                <string>{119,81}</string>
            </dict>
            <key>theme186_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{119,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,81}}</string>
                <key>sourceSize</key>
                <string>{119,81}</string>
            </dict>
            <key>theme186_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{119,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,81}}</string>
                <key>sourceSize</key>
                <string>{119,81}</string>
            </dict>
            <key>theme186_s_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{119,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,81}}</string>
                <key>sourceSize</key>
                <string>{119,81}</string>
            </dict>
            <key>theme186_s_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{119,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,81}}</string>
                <key>sourceSize</key>
                <string>{119,81}</string>
            </dict>
            <key>theme186_s_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,160},{74,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,71}}</string>
                <key>sourceSize</key>
                <string>{74,71}</string>
            </dict>
            <key>theme186_s_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,347},{63,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,64}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>theme186_s_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,281},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>theme186_s_X10.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,412},{86,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,43}}</string>
                <key>sourceSize</key>
                <string>{86,43}</string>
            </dict>
            <key>theme186_s_X2.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,337},{75,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,42}}</string>
                <key>sourceSize</key>
                <string>{75,42}</string>
            </dict>
            <key>theme186_s_X3.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,458},{75,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,43}}</string>
                <key>sourceSize</key>
                <string>{75,43}</string>
            </dict>
            <key>theme186_s_X4.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,457},{76,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,42}}</string>
                <key>sourceSize</key>
                <string>{76,42}</string>
            </dict>
            <key>theme186_s_X5.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,293},{77,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,42}}</string>
                <key>sourceSize</key>
                <string>{77,42}</string>
            </dict>
            <key>theme186_s_X7.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,381},{75,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,43}}</string>
                <key>sourceSize</key>
                <string>{75,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>symbol.png</string>
            <key>size</key>
            <string>{362,503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ab93c738988057bbc977d521b1e33bb:1/1$</string>
            <key>textureFileName</key>
            <string>symbol.png</string>
        </dict>
    </dict>
</plist>
