<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme186_text_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,860},{104,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,111}}</string>
                <key>sourceSize</key>
                <string>{104,111}</string>
            </dict>
            <key>theme186_text_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,860},{104,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,111}}</string>
                <key>sourceSize</key>
                <string>{104,111}</string>
            </dict>
            <key>theme186_text_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,754},{104,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,111}}</string>
                <key>sourceSize</key>
                <string>{104,111}</string>
            </dict>
            <key>theme186_text_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,754},{104,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,111}}</string>
                <key>sourceSize</key>
                <string>{104,111}</string>
            </dict>
            <key>theme186_text_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,1002},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>theme186_text_jp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{114,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,320}}</string>
                <key>sourceSize</key>
                <string>{114,320}</string>
            </dict>
            <key>theme186_text_jp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,817},{129,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,260}}</string>
                <key>sourceSize</key>
                <string>{129,260}</string>
            </dict>
            <key>theme186_text_jp3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{121,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,315}}</string>
                <key>sourceSize</key>
                <string>{121,315}</string>
            </dict>
            <key>theme186_text_jp4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1002},{118,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,327}}</string>
                <key>sourceSize</key>
                <string>{118,327}</string>
            </dict>
            <key>theme186_text_jp5.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,856},{119,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,255}}</string>
                <key>sourceSize</key>
                <string>{119,255}</string>
            </dict>
            <key>theme186_text_win1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,692},{104,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,316}}</string>
                <key>sourceSize</key>
                <string>{104,316}</string>
            </dict>
            <key>theme186_text_win2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,535},{116,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,298}}</string>
                <key>sourceSize</key>
                <string>{116,298}</string>
            </dict>
            <key>theme186_text_win3.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1086},{100,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,297}}</string>
                <key>sourceSize</key>
                <string>{100,297}</string>
            </dict>
            <key>theme186_text_win4.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,838},{116,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,246}}</string>
                <key>sourceSize</key>
                <string>{116,246}</string>
            </dict>
            <key>theme186_wheel1_chosen.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,546},{96,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,135}}</string>
                <key>sourceSize</key>
                <string>{96,135}</string>
            </dict>
            <key>theme186_wheel1_chosen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,644},{146,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,46}}</string>
                <key>sourceSize</key>
                <string>{146,46}</string>
            </dict>
            <key>theme186_wheel1_chosen3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{246,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,99}}</string>
                <key>sourceSize</key>
                <string>{246,99}</string>
            </dict>
            <key>theme186_wheel1_frame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,410},{590,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,69}}</string>
                <key>sourceSize</key>
                <string>{590,69}</string>
            </dict>
            <key>theme186_wheel2_chosen.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,1086},{96,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,135}}</string>
                <key>sourceSize</key>
                <string>{96,135}</string>
            </dict>
            <key>theme186_wheel2_chosen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,817},{146,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,47}}</string>
                <key>sourceSize</key>
                <string>{146,47}</string>
            </dict>
            <key>theme186_wheel2_chosen3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,653},{246,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,99}}</string>
                <key>sourceSize</key>
                <string>{246,99}</string>
            </dict>
            <key>theme186_wheel2_frame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,296},{65,558}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,558}}</string>
                <key>sourceSize</key>
                <string>{65,558}</string>
            </dict>
            <key>theme186_wheel2_frame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1122},{65,558}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,558}}</string>
                <key>sourceSize</key>
                <string>{65,558}</string>
            </dict>
            <key>theme186_wheel_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,138},{81,577}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,577}}</string>
                <key>sourceSize</key>
                <string>{81,577}</string>
            </dict>
            <key>theme186_wheel_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,138},{156,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,406}}</string>
                <key>sourceSize</key>
                <string>{156,406}</string>
            </dict>
            <key>theme186_wheel_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,410},{156,405}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,405}}</string>
                <key>sourceSize</key>
                <string>{156,405}</string>
            </dict>
            <key>theme186_wheel_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{156,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,406}}</string>
                <key>sourceSize</key>
                <string>{156,406}</string>
            </dict>
            <key>theme186_wheel_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,2},{156,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,406}}</string>
                <key>sourceSize</key>
                <string>{156,406}</string>
            </dict>
            <key>theme186_wheel_bg5.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,2},{156,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,406}}</string>
                <key>sourceSize</key>
                <string>{156,406}</string>
            </dict>
            <key>theme186_wheel_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{667,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,134}}</string>
                <key>sourceSize</key>
                <string>{667,134}</string>
            </dict>
            <key>theme186_wheel_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,410},{426,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,133}}</string>
                <key>sourceSize</key>
                <string>{426,133}</string>
            </dict>
            <key>theme186_wheel_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,717},{367,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,57}}</string>
                <key>sourceSize</key>
                <string>{367,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wheel.png</string>
            <key>size</key>
            <string>{1020,1189}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:823bad0a6b64ec456ea6acfbecdbaf76:1/1$</string>
            <key>textureFileName</key>
            <string>wheel.png</string>
        </dict>
    </dict>
</plist>
