<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme164_loading02_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,360}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>theme164_loading02_fnt01.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,545},{240,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,63}}</string>
                <key>sourceSize</key>
                <string>{240,63}</string>
            </dict>
            <key>theme164_loading02_fnt02.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,480},{289,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,63}}</string>
                <key>sourceSize</key>
                <string>{289,63}</string>
            </dict>
            <key>theme164_loading02_icon01.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,480},{158,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,118}}</string>
                <key>sourceSize</key>
                <string>{158,118}</string>
            </dict>
            <key>theme164_loading02_icon02.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,480},{153,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,121}}</string>
                <key>sourceSize</key>
                <string>{153,121}</string>
            </dict>
            <key>theme164_loading02_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{489,476}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{489,476}}</string>
                <key>sourceSize</key>
                <string>{489,476}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading2.png</string>
            <key>size</key>
            <string>{898,644}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:105023fc6c49d409cb68e5728a6648aa:1/1$</string>
            <key>textureFileName</key>
            <string>loading2.png</string>
        </dict>
    </dict>
</plist>
