<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>theme177_loading02_177logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1008},{467,552}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,552}}</string>
                <key>sourceSize</key>
                <string>{467,552}</string>
            </dict>
            <key>theme177_loading02_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{360,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,640}}</string>
                <key>sourceSize</key>
                <string>{360,640}</string>
            </dict>
            <key>theme177_loading02_fnt01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{279,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,67}}</string>
                <key>sourceSize</key>
                <string>{279,67}</string>
            </dict>
            <key>theme177_loading02_fnt02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{260,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,67}}</string>
                <key>sourceSize</key>
                <string>{260,67}</string>
            </dict>
            <key>theme177_loading02_icon01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{171,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,158}}</string>
                <key>sourceSize</key>
                <string>{171,158}</string>
            </dict>
            <key>theme177_loading02_icon02.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,2},{202,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,224}}</string>
                <key>sourceSize</key>
                <string>{202,224}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading2_theme177.png</string>
            <key>size</key>
            <string>{471,1562}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf9e9094f2faa47f57f78140fe12bc7f$</string>
            <key>textureFileName</key>
            <string>loading2_theme177.png</string>
        </dict>
    </dict>
</plist>
